<!-- evenement/partials/base_evenement.html --> 
{% extends 'evenement/partials/base.html' %}

{% block base_evenement %}
    <div class="col-lg-10 d-flex flex-column main_page">
        {# bandeau message d erreur si besoins #}
        {% include "evenement/partials/error_message.html" %}

        {# si evenement avec assos partenaire, oblige le benevole a faire un choix #}
        {% if Evenement.assopartenaire.all and not AssoPartUser %}
            {% include "evenement/choix_asso_partenaire.html" %}

        {% elif not planning_perso %}
            {# si planning selectionné, on affiche #}
            {% if Planning or PostesCreneaux %}
                {% if Administrateur or Organisateur or Responsable %}
                    {# postes du planning on affiche que si un planning ou un poste est selectionné #}
                        {% include "evenement/page_postes.html" %}
                {% else %} {# benevoles #}
                    {% include "evenement/page_postes.html" %}
                {% endif %}
            {# bouton de la sidebar planning global utilisé #}
            {% elif planning_global %}
                {% include "evenement/page_planning.html" %}
            {# une equipe est selectionnée par un benevole, pas de planning ou de poste #}
            {# un admin a cliqué arrive de la page liste evenements #}    
            {% else %}
                {% include "evenement/page_planning.html" %}
            {% endif %}

        {% elif planning_perso %}
            {# si planning perso choisi #}
            <div class="tab-pane fade show active" id="nav-equipes"
                role="tabpanel" aria-labelledby="nav-equipes-tab"> 
                {% include "evenement/page_planning_perso.html" %}
            </div>
        {% else %}
            {# page par defaut des benevoles de l'evenement: son planning global #}
            {% if Evenement and Benevole %} 
                <div class="tab-pane fade show active" id="nav-equipes"
                    role="tabpanel" aria-labelledby="nav-equipes-tab"> 
                        {% include "evenement/page_planning.html" %}
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock base_evenement %}
