<!-- evenement/partials/error_message.html -->
<!-- Error message -->
{% if Form.errors %}
	<div id="errors">
		<div class="inner">
            <div class="row">
                    <button type="button" class="btn btn-danger"> <i class="bi bi-exclamation-octagon"></i> <b>{{Text.error_msg_warning}}</b>
                        {% for error in Form.non_field_errors %}
                            {{error}}
                        {% endfor %}
                    </button>
            </div>
		</div>
	</div>
{% endif %}
<!-- /Error message -->