<!--- evenement/evenement.css.html -->
/* ###############################################" */
/* partie de css dynamique recupere des vars python et des infos en base */
/* ###############################################" */

/*************************
 * GRIDs PLANNING LAYOUT
 * 
 *************************/

{# PLANNING CRENEAUX : grid ou on peut prendre ou liberer des creneaux 

					postes	time-date-heure	time-date-heure+30m time-date-heure+60m ...
	jours				.				. 				. 				. 					
	heures				.				. 				. 				. 					
	ligne-poste.1		.				. 				. 				. 					
	ligne-poste.2		.				. 				. 				. 					
	ligne-poste.3		.				. 				. 				. 					
	ligne-poste.4		.				. 				. 				. 					
	...
#}

.grid-planning-creneaux {
	{# construction des entetes et des lignes de la grille planning: heures puis postes #}
	grid-template-rows:
		[jours] auto {# ligne 1#}
		[heures] auto {# ligne 2#}
		{% for poste in PostesCreneaux %}
			{% if poste.planning == Planning %}
				[ligne-{{ poste.UUID }}] auto {# lignes suivantes #}
			{% endif %}
		{% endfor %}
		;
	{# construction des entete et des colonnes de la grille planning: postes puis heures puis boutons #}
	grid-template-columns:
		[postes] auto {# colonne 1 #}
		{% for dates, heures in PlanningRange.items %}
		[time-{{ dates }}] auto  {# colonnes suivantes #}
		{% endfor %}
		;
}

{# colorise les créneaux en fonction du poste et la couleur dans la table poste#}
{% for poste in PostesCreneaux %}
	{% if poste.planning == Planning %}
		.poste-{{ poste.UUID }} {
			background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ poste.couleur }} 50%);
			color: #fff;
			position: relative;
		}
	{% endif %}
{% endfor %}
{# FIN Planning CRENEAUX #}

{# PLANNING EQUIPES : grid des plannings 

						equipes		time-date-heure	time-date-heure+30m time-date-heure+60m ...
	jours					.				. 				. 				. 					
	heures					.				. 				. 				. 					
	ligne-equipe.1			.				. 				. 				. 					
	ligne-equipe.2			.				. 				. 				. 					
	ligne-equipe.3			.				. 				. 				. 					
	ligne-equipe.4			.				. 				. 				. 					
	...
#}

.grid-planning-equipes {
	{# construction des entetes et des lignes de la grille planning: heures puis equipes #}
	grid-template-rows:
		[jours]  auto {# ligne 1#}
		[heures] auto {# ligne 2#}
		{% for equipe in Equipes %}
		[ligne-{{ equipe.UUID }}] auto {# lignes suivantes #}
		{% endfor %}
		;
	{# construction des entete et des colonnes de la grille planning: equipes puis heures puis boutons #}
	grid-template-columns:
		[equipes] auto {# colonne 1 #}
		{% for dates, heures in PlanningRange.items %}
		[time-{{ dates }}] auto {# colonnes suivantes #}
		{% endfor %}
		;
}

{# colorise les plannings#}
{% for equipe in Equipes %}
	.equipe-{{ equipe.UUID }} {
		background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ equipe.couleur }} 50%);
		color: #fff;
		position: relative;
	}
{% endfor %}
{# FIN Planning EQUIPES #}

{# colorise les cellules des grids#}
{% for poste in PostesCreneaux %}
	.grid-cell.ligne-{{ poste.UUID }}, .grid-cell-minuit.ligne-{{ poste.UUID }} {
		border-bottom-color: {{ poste.couleur }};
		{%if not poste.ouvert %} {# le poste n'est pas ouvert aux bénévols : on edite le fond des cases de la ligne #}
			background-color: #6c757d30;
		{%endif%}
	}
	.poste-slot.ligne-{{ poste.UUID }} {
		border-bottom: 1px solid #ffffff;
		border-bottom-color: {{ poste.couleur }};
		width: 100%;
		{%if not poste.ouvert %} {# le poste n'est pas ouvert aux bénévols : on edite le fond des cases de la ligne #}
			background-color: #6c757d30;
		{%endif%}
	}
{% endfor %}	

{% for equipe in Equipes %}
	.grid-cell.ligne-{{ equipe.UUID }}, .grid-cell-minuit.ligne-{{ equipe.UUID }} {
		border-bottom-color: {{ equipe.couleur }};
	}
	.equipe-slot.ligne-{{ equipe.UUID }} {
		border-bottom: 1px solid #ffffff;
		border-bottom-color: {{ equipe.couleur }};
		width: 100%;
	}
{% endfor %}	






