<!-- evenement/partials/titre_page.html -->

<figure class="text-center">
    <blockquote class="blockquote">
        <div class="card mt-2">
            <div class="card-body">
                <div class="container">
                    {# page de l evenement contenant les plannings des equipes #}
                    {% if page == 'evenement' %}
                        <div class="row align-items-start">
                            <div class="col-6">
                                <p class='h5 titre_page'>{{ Text.title_planning_event }}</p>
                            </div>
                            <div class="col-6">
                                {% if  Evenement.debut|date:'l j F'|stringformat:"s" ==  Evenement.fin|date:'l j F'|stringformat:"s" %}
                                <p class='h5 titre_page'>{{ Evenement.debut|date:'l j F' }} de {{ Evenement.debut|date:'H:i' }} à {{ Evenement.fin|date:'H:i' }}</p>
                                {% else %}
                                    <p class='h5 titre_page'>{{ Evenement.debut|date:'l j F' }} {{ Evenement.debut|date:'H:i' }} - {{ Evenement.fin|date:'l j F' }} {{ Evenement.fin|date:'H:i' }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {# page du planning avec les postes et les creneaux #}
                    {% elif page == 'planning' %}
                        <div class="row align-items-start">
                            <div class="col-6">
                                <p class='h5 titre_page'>{{Planning.equipe.nom|upper}} </p>
                            </div>
                            <div class="col-6">
                                {% if  Planning.debut|date:'l j F'|stringformat:"s" ==  Planning.fin|date:'l j F'|stringformat:"s" %}
                                    <p class='h5 titre_page'>{{ Planning.debut|date:'l j F' }} de {{ Planning.debut|date:'H:i' }} à {{ Planning.fin|date:'H:i' }}</p>
                                {% else %}
                                    <p class='h5 titre_page'>{{ Planning.debut|date:'l j F' }} {{ Planning.debut|date:'H:i' }} - {{ Planning.fin|date:'l j F' }} {{ Planning.fin|date:'H:i' }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% elif page == 'asso partenaire' %}
                        <div class="row align-items-start">
                            <div class="col-12">
                                <p class='h5 titre_page'>{{Text.title_asso_part}} </p>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
    </blockquote>
</figure>


{# barre horizontale #}
<!--hr class="border-2 border-top border-dark"--> 


