<!-- administration/evenement/creneaux.html -->

{# tableau récapitulatif de tous les creneaux de l evenement #}

{% extends 'administration/partials/base.html' %}
{% load filters_perso %}
{% load bootstrap5 %}

{% block content %}

<div class="col-lg-10 admin-evenement d-flex flex-column vh-100 main_page">

    {% include 'administration/partials/titre_page.html' with page="creneaux" %}

    <table class="table table-dark table-striped table-hover responsive"  id="table_creneaux_evenement">
        <thead>
            <tr>
            <th scope="col">{{Text.admin_slots_team}}</th><th scope="col">{{Text.admin_slots_plan}}</th>
            <th scope="col">{{Text.admin_slots_post}}</th><th scope="col">{{Text.admin_slots_date}}</th>
            <th scope="col">{{Text.admin_slots_start}}</th><th scope="col">{{Text.admin_slots_end}}</th>
            <th scope="col">{{Text.admin_slots_vol_name}}</th><th scope="col">{{Text.admin_slots_vol_first}}</th>
            <th scope="col">{{Text.admin_slots_gsm}}</th><th scope="col">{{Text.admin_slots_email}}</th>
            <th scope="col">{{ Text.partner_asso }}</th>
            <th scope="col">{{ Text.action }}</th>
            </tr>
        </thead>
        <tbody>
        {% for creneau, assopart in Creneaux.items %}
        <tr style="vertical-align : middle;">
            <td>{{creneau.equipe.nom}}</td> 
            <td>{{creneau.planning.nom}}</td> 
            <td>{{creneau.poste.nom}}</td> 
            <td>{{creneau.debut|date:'d b Y'}}</td>
            <td>{{creneau.debut|date:'H:i'}}</td>
            <td>{{creneau.fin|date:'H:i'}}</td>
            {% if creneau.benevole %}
                <td>{{creneau.benevole.personne.last_name|upper }}</td><td> {{creneau.benevole.personne.first_name|capfirst }}</td>
                <td>{% if creneau.benevole.personne.portable %}{{creneau.benevole.personne.portable}}{% endif %}</td>
                <td>{{creneau.benevole.personne.email}}</td>   
                {% if  assopart %}
                    <td>{{assopart}}</td>   
                {% else %}
                    <td>{{Text.no_asso_part}}</td>  
                {% endif %}
            {% else %}
                <td></td>
                <td></td>    
                <td></td>
                <td></td>
                <td></td>
            {% endif %}
            <td>
                <div style="display: flex;">
                    {# bouton editer le creneau #}
                    <button style="" class="benevole-edit btn btn-sm" title="{{ Text.slot_edit }}" 
                        data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer"
                        data-bs-evenementuuid="{{ Evenement.UUID }}"
                        data-bs-creneauuuid="{{ creneau.UUID }}">
                        <i style="color: var(--bs-warning)" class="bi bi-pencil-square fs-6"></i>
                    </button>
                </div>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% include "administration/evenement/organization/modal_creneau_edite.html" with type='poste' source_type="creneau" %}

{# table dynamique : datatables #}
<script>
    $(document).ready(function() {
        var table = $('#table_creneaux_evenement').DataTable( {
            dom: 'flrtipB',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, 50, -1], [10, 50, "Tous"]],
            buttons: [ 'copy', 'excel', 'pdf' ],
            order: [[0, 'asc']],
            rowGroup: {
                dataSrc: 0
            }
        } );
    } );
</script>

{% endblock %}