<!-- administration/evenement/creneaux.html -->

{# tableau récapitulatif de tous les creneaux de l evenement #}

{% extends 'administration/partials/base.html' %}
{% load filters_perso %}
{% load bootstrap5 %}

{% block content %}

<div class="col-lg-10 admin-evenement d-flex flex-column vh-100 main_page">

    {% include 'administration/partials/titre_page.html' with page="creneaux" %}

    <table class="table table-dark table-striped table-hover responsive"  id="table_creneaux_evenement">
        <thead>
            <tr>
            <th scope="col">equipe</th><th scope="col">planning</th><th scope="col">poste</th><th scope="col">date</th><th scope="col">début</th><th scope="col">fin</th>
            <th scope="col">bénévole</th><th scope="col">portable</th><th scope="col">courriel</th>
            </tr>
        </thead>
        <tbody>
        {% for creneau in Creneaux %}
        <tr style="vertical-align : middle;">
            <td>{{creneau.equipe.nom}}</td> 
            <td>{{creneau.planning.nom}}</td> 
            <td>{{creneau.poste.nom}}</td> 
            <td>{{creneau.debut|date:'d b Y'}}</td>
            <td>{{creneau.debut|date:'H:i'}}</td>
            <td>{{creneau.fin|date:'H:i'}}</td>
            {% if creneau.benevole %}
                <td>{{creneau.benevole.personne.last_name|upper }} {{creneau.benevole.personne.first_name|capfirst }}</td>
                <td>{% if creneau.benevole.personne.portable %}{{creneau.benevole.personne.portable}}{% endif %}</td>
                <td>{{creneau.benevole.personne.email}}</td>   
            {% else %}
                <td></td>
                <td></td>    
                <td></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{# table dynamique : datatables #}
<script>
    $(document).ready(function() {
        var table = $('#table_creneaux_evenement').DataTable( {
            dom: 'flrtipB',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, 50, -1], [10, 50, "Tous"]],
            buttons: [ 'copy', 'excel', 'pdf' ],
            order: [[0, 'asc']],
            rowGroup: {
                dataSrc: 0
            }
        } );
    } );
</script>

{% endblock %}