<!-- administration/evenement/dashboard.html -->

{% extends 'administration/partials/base.html' %}
{% load filters_perso %}
{% load bootstrap5 %}

{% block content %}

<div class="container">

    {% include 'administration/partials/titre_page.html' with page="dashboard" %}

    <div class="row">
       <div class="col col-lg-6">
            <table class="table table-dark table-striped table-hover responsive"  id="table_benevoles">
                <thead>
                    <tr>
                    <th scope="col" class="col col-lg-8">resumé</th><th scope="col">nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="vertical-align : middle;">
                    <td>bénévoles Inscrits à l'évènement</td><td>{{ Benevoles.count }}</tr>
                    <tr style="vertical-align : middle;">
                    <td>bénévoles Participants à l'évènement</td><td>{{ Benevoles_c.count }}</tr>
                    <tr style="vertical-align : middle;">
                    <td>heures de bénévolat remplies</td><td>{{ Total_heures_benevoles }}</tr>
                </tbody>
            </table>

            <table class="table table-dark table-striped table-hover responsive"  id="table_creneaux">
                <thead>
                    <tr>
                    <th scope="col" class="col col-lg-8">créneaux</th><th scope="col">nombre</th>
                    </tr>
                </thead>
                <tbody>
                    <tr style="vertical-align : middle;">
                    <td>Total</td><td>{{ Creneaux.count }}</tr>
                    <td>Occupés</td><td>{{ Creneaux_occupes }}</tr>
                    <td>Libres</td><td>{{ Creneaux_libres }}</tr>
                </tbody>
            </table>

        </div>
        <div class="col col-lg-6">
            <table class="table table-dark table-striped table-hover responsive"  id="table_assospart1">
                <thead>
                    <tr><th scope="col" class="col col-lg-8">asso partenaire</th><th scope="col">nombre de bénévole</tr>
                </thead>
                <tbody>
                    {% for a, b in  Benevoles_par_asso.items %}
                        <tr style="vertical-align : middle;"><td>{{ a }}</td><td>{{ b }}</tr>
                    {% endfor %}
                </tbody>
            </table>

            <table class="table table-dark table-striped table-hover responsive"  id="table_assospart2">
                <thead>
                    <tr><th scope="col" class="col col-lg-8">asso partenaire</th><th scope="col">répartition par asso</tr>
                </thead>
                <tbody>
                    {% for a, b in  Repartition_par_assos.items %}
                        <tr style="vertical-align : middle;"><td>{{ a }}</td><td>{{ b }}</tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

    {% include 'administration/partials/titre_page.html' with page="remplissage" %}

    <div class="row">
        <div class="col col-lg-6">
            <table class="table table-dark table-hover responsive"  id="table_planning1">
                <thead>
                    <tr><th scope="col" class="col col-lg-8">planning</th><th scope="col">remplissage %</tr>
                </thead>
                <tbody>
                    {% for a, b in  Plannings_occupation.items %}
                        <tr style="vertical-align : middle;"><td>{{ a.equipe.nom }} - {{ a.nom }}</td>
                        {% if b < a.seuil1 %}
                            <td style="background:var(--bs-danger)">{{ b }}</tr>
                        {% elif b < a.seuil2 %}
                            <td style="background:var(--bs-warning)">{{ b }}</tr>
                        {% else %}
                            <td style="background:var(--bs-success)">{{ b }}</tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col col-lg-6">
            <table class="table table-dark table-hover responsive"  id="table_planning2">
                <thead>
                    <tr><th scope="col" class="col col-lg-8">equipe</th><th scope="col">remplissage %</tr>
                </thead>
                <tbody>
                    {% for a, b in  Equipes_occupation.items %}
                        <tr style="vertical-align : middle;"><td>{{ a.nom }}</td>
                        {% if b < a.seuil1 %}
                            <td style="background:var(--bs-danger)">{{ b }}</tr>
                        {% elif b < a.seuil2 %}
                            <td style="background:var(--bs-warning)">{{ b }}</tr>
                        {% else %}
                            <td style="background:var(--bs-success)">{{ b }}</tr>
                        {%endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

<script>
    $(document).ready(function() {
        $('#table_benevoles').DataTable({ dom:'' });
        $('#table_creneaux').DataTable({ dom:'' });
        $('#table_assospart1').DataTable({ 
            dom:'lri', 
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, -1], [10, "Tous"]],
        });
        $('#table_assospart2').DataTable({
            dom:'lrtiB', 
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, -1], [10, "Tous"]],
            buttons: [ 'copy', 'excel']
        });
        $('#table_planning1').DataTable({ 
            dom:'lp',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[20, 50, -1], [20, 50, "Tous"]],
        });
        $('#table_planning2').DataTable({ 
            dom:'lp',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[20, 50, -1], [20, 50, "Tous"]],
        });
    } );
</script>

{% endblock %}