asarPy>=1.0.1
asgiref>=3.8.1
astroid>=3.3.9
beautifulsoup4>=4.12.3
colorful>=0.5.6
config>=0.5.1
dill>=0.3.9
Django>=4.2.16
django-bootstrap-v5>=1.0.11
django-classy-tags>=4.1.0
django-colorful>=1.3
django-cookie-law>=2.2.0
django-debug-toolbar>=4.4.6
django-debug-toolbar-template-timings>=0.9
django-htmlmin>=0.11.0
django-modeltranslation>=0.19.9
django-phonenumber-field>=8.0.0
django_range_slider>=0.2.4
html5lib>=1.1
isort>=6.0.1
mccabe>=0.7.0
mysql-connector-python>=9.1.0
mysqlclient>=2.2.4
ordering>=0.2.0
packaging>=24.1
phonenumbers>=8.13.45
pillow>=10.4.0
pip-review>=1.3.0
platformdirs>=4.3.6
pylint>=3.3.5
pyparsing>=3.1.4
PyQt5_sip>=12.15.0
pytest-runner>=6.0.1
python-dateutil>=2.9.0.post0
python-decouple>=3.8
python-monkey-business>=1.1.0
pytz>=2024.1
six>=1.16.0
soupsieve>=2.6
sqlparse>=0.5.1
tomlkit>=0.13.2
typing_extensions>=4.12.2
Unidecode>=1.3.8
webencodings>=0.5.1
