<!-- registration/login.html : page de connexion générique -->
{% extends 'benevole/base.html' %}

{% load bootstrap5 %}

{% block title %}Se Connecter{% endblock %}

{% block content %}
  <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="row card card-default">
          <div class="card-header">Connexion</div>
          <div class="card-body">
              {% if error_message %}
                  <p class="bg-danger p-d ml-b">{{ error_message }}</p>
              {% endif %}
              <div class="form-group clearfix">
                  <label for="username" class="col-md-4 control-label text-right">Courriel:</label>
                  <div class="col-md-6">
                      <input name="username" value="" type="text" class="form-control" />
                  </div>
              </div>
              <div class="form-group clearfix">
                  <label for="password" class="col-md-4 control-label text-right">Mot de Passe:</label>
                  <div class="col-md-6">
                      <input name="password" type="password" class="form-control" />
                  </div>
              </div>
              <div class="col-md-6 col-md-offset-4">
                  <!-- retourne a la page precedent si login ok, si ko HS a voir-->
                  <!--input type="hidden" name="next" value="{{ request.GET.next }}"/-->
                  <input type="hidden" name="next" value="{% url 'home' %}"> 
                  <input name="login" type="submit" value="Connexion" class="btn btn-success" /> &nbsp;
                  <a href="{% url 'inscription' %}">ou Creer un Compte</a>
              </div>
              <div class="col-md-6 col-md-offset-4">
                  <a href="{% url 'password_reset' %}">Mot de passe perdu?</a>
            </div>
        </div>
  </form>
{% endblock %}