<!-- templates/registration/login.html : page de connexion généric -->
{% extends 'benevole/base.html' %}

{% load bootstrap5 %}

{% block title %}Connexion{% endblock %}

{% block content %}
  <h2>Connexion</h2>
  <p>
  <form method="post" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary btn-lg">Connexion</button>
    {% endbuttons %}
    <a href="{% url 'password_reset' %}">Mot de passe perdu?</a>
  </form>
  </p>
{% endblock %}