<!-- templates/registration/password_reset_form.html -->
{% extends 'benevole/base.html' %}
{% load bootstrap5 %}

{% block title %}Mot de passe perdu?{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">Mot de passe perdu?</div>
    <div class="panel-body">
      <p>Entrez votre adresse de courriel ci-dessous,
        nous vous enverrons un courriel avec les instruction pour en choisir un nouveau.</p>

      <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg">Envoyez-moi les instructions!</button>
        {% endbuttons %}
      </form>
    </div>
    </div>
  </div>
{% endblock %}