

<!-- templates/registration/password_reset_confirm.html -->
{% extends 'benevole/base.html' %}

{% block title %}Saisissez un nouveau mot de passe{% endblock %}

{% block content %}

{% if validlink %}

<h1>Saisissez un nouveau mot de passe</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>

{% else %}

<p>Le lien de mise à jour du mot de passe n’est pas valide, probablement en raison de sa précédente utilisation.
  Veuillez renouveler votre demande de mise à jour de mot de passe.</p>

{% endif %}
{% endblock %}
