<!-- registration/password_reset_form.html -->
{% extends 'benevole/base.html' %}
{% load bootstrap5 %}

{% block title %}Mot de passe perdu?{% endblock %}

{% block content %}
<form method="POST">
  <div class="row card card-default">
    <div class="card-header">Mot de passe perdu?</div>
    <div class="card-body">
      <p>Entrez votre adresse de courriel ci-dessous,
        nous vous enverrons un courriel avec les instruction pour en choisir un nouveau.</p> 
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg">Envoyez-moi les instructions!</button>
        {% endbuttons %}
    </div>
    </div>
  </div>
</form>
{% endblock %}