<!-- registration/password_reset_confirm.html -->
{% extends 'benevole/partials/base.html' %}
{% load bootstrap5 %}

{% block title %}Saisissez un nouveau mot de passe{% endblock %}

{% block content %}
<form method="POST">
  <div class="row card card-default">
    <div class="card-header">Saisissez un nouveau mot de passe</div>
    <div class="card-body">
      {% if validlink %}
      <h1>Saisissez un nouveau mot de passe</h1>

        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg">Modifier mon mot de passe</button>
        {% endbuttons %}
      {% else %}
      <p>Le lien de mise à jour du mot de passe n’est pas valide, probablement en raison de sa précédente utilisation.
        Veuillez renouveler votre demande de mise à jour de mot de passe.</p>
      {% endif %}
    </div>
    </div>
  </div>
</form>
{% endblock %}
