<!-- administration/evenement/organization/planning.html -->

{# form admin pour ajouter un poste #}

{###########################################}
<div class="grid-planning-creneaux" >
    {# affiche les entetes des colonnes du planning : les heures #}
    {% include 'evenement/grid_entete_heures.html' with ligne="heures" role="admin" %}    
    
    {% if  PostesCreneaux %}
        {% for poste,creneaux in PostesCreneaux.items %}
            {# affiche les entetes des lignes du planning : postes #}
            {% include "administration/evenement/organization/poste_edite.html" %} {# bouton d'édition du poste#}
            {% for creno in creneaux %}
                {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                {% include "administration/evenement/organization/creneau_bouton.html" %}
                {#% include "evenement/creneau_affiche.html" with source_type="creneau" %#}
            {% endfor %}
            {% include "administration/evenement/organization/grid_cellules.html" with row_type=poste ligne="poste" %}
        {% endfor%}
    {% else %}
        <p> {{ Text.poste_not_yet }} </p>
    {% endif %}
    {# bouton pour pouvoir ajouter des postes #}
    {% include "administration/evenement/organization/poste_ajoute.html" %}

    {# modal d ajout et de modif des creneaux type=creneau #}
    {% include "administration/evenement/organization/modal_creneau_ajoute.html" with type='poste' %}
    {% include "administration/evenement/organization/modal_creneau_edite.html" with type='poste' source_type="creneau" %}
</div>