<!-- administration/evenement/organization/plannings.html -->

<div class="grid-planning-equipes" >
    {# affiche les entetes des colonnes du planning : les heures #}
    {% include 'evenement/grid_entete_heures.html' with ligne="heures" role="admin" %}    

    {% if not Equipe  %}
        {# affiche toutes les equipes #}
        {% for equipe in Equipes %}
            {# affiche les entetes des lignes du planning : equipes #}
            {% include "administration/evenement/organization/equipe_edite.html" %}
            {% for planning in Plannings %}
                    {% if planning.equipe_id == equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "administration/evenement/organization/planning_bouton.html" %}
                {% endif %}
            {% endfor %}
            {% include "administration/evenement/organization/grid_cellules.html" with row_type=equipe ligne="equipe" PageType="admin" %}
        {% endfor %}
        {# ajoute une ligne vide pour pouvoir ajouter des equipes au besoins et le modal de modif des plannings #}
        {% include "administration/evenement/organization/equipe_ajoute.html" %}
        {% include "administration/evenement/organization/modal_planning_edite.html"  %}
    {% else %}
        <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
            <p> {{ Text.admin_list_events }} </p>
        </span>
    {% endif %}
    {# affiche les entetes des colonnes du planning en bas: les heures #}
    {% include 'evenement/grid_entete_heures.html' with ligne="bas" role="admin" %}
</div>