<!-- benevole/benevoles.html -->

{% extends 'administration/base.html' %}
{% load filters_perso %}
{% load bootstrap5 %}

{% block title %}{{ Text.volunteers_list }}{% endblock %}

{% block content %}

<div class="">

    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" title="">
                    {{ Text.volunteer }}
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

{# barre des onglets #}
    <ul class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <button class="nav-link active" id="benevoles-liste-tab" data-bs-toggle="tab" 
                    data-bs-target="#benevoles-liste" type="button" role="tab" 
                    aria-controls="benevoles-liste" aria-selected="true">{{ Text.registered_list }}</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="benevoles-emails-tab" data-bs-toggle="tab" 
                    data-bs-target="#benevoles-emails" type="button" role="tab" 
                    aria-controls="benevoles-emails" aria-selected="false">{{ Text.registered_emails }}</button>    
        </li>
        <!-- infos a ne pas diffuser a tout le monde, vior comment filtrer juste aux admins de la plateforme
        <li class="nav-item">
            <button class="nav-link" id="non-inscrits-liste-tab" data-bs-toggle="tab" 
                    data-bs-target="#non-inscrits-liste" type="button" role="tab" 
                    aria-controls="non-inscrits-liste" aria-selected="false" style="color: crimson;">Non inscrits</button>
        </li>
        -->
    </ul>

    <div class="tab-content" id="benevoles">
{# onglet 1 #}
        <div class="tab-pane fade show active post_display_javascript" id="benevoles-liste" 
            role="tabpanel" aria-labelledby="benevoles-liste-tab">

            {% if BenevolesAgeCreneauxAssopart %}
                {# AFFICHE LES BENEVOLES de l'evenement #}

                <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4 pt-3">
                    <h2> 
                        <button style="" class="btn btn-sm" title="ajouter un bénévole sans compte ayoulvat à l'évènement" data-bs-toggle="modal" data-bs-target="#modal-benevole-ajoute">
                            <i style="color: var(--bs-success)" class="bi bi-plus-square fs-2"></i>
                        </button>
                    </h2>
                </div>

                <table class="table table-dark table-striped table-hover responsive"  id="table_benevoles_evenement">
                    <thead>
                        <tr>
                            <th scope="col">{{ Text.name }}</th>
                            <th scope="col">{{ Text.firstname }}</th>
                            <th scope="col">{{ Text.age }}</th>
                            <th scope="col">{{ Text.email }}</th>
                            <th scope="col">{{ Text.mobile }}</th>
                            <th scope="col">{{ Text.nb_slots }}</th>
                            <th scope="col">{{ Text.nb_hours }}</th>
                            <th scope="col">{{ Text.partner_asso }}</th>
                            <th scope="col">{{ Text.action }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for benevole,liste in BenevolesAgeCreneauxAssopart.items %}
                        <tr style="vertical-align : middle;">
                            <td>{{benevole.personne.last_name|upper}}</td>
                            <td>{{benevole.personne.first_name|capfirst}}</td>
                            <td>{{liste.0}}</td> {# age #}
                            <td>{{benevole.personne.email}}</td>
                            <td>{{benevole.personne.portable}}</td>                 
                            <td>{{liste.1}}</td> {# nb creneaux #}
                            <td>{{liste.2}}</td> {# nb heures #}
                            <td>{{liste.3}}</td> {# association partenaire #}
                            <td>
                                <div style="display: flex;">
                                    {% comment "" %}
                                    <a href="#" class="d-block p-3 link-blue text-decoration-none" title="éditer" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                                        <i class="bi-pencil-square fs-3"></i>
                                    </a>
                                    {% endcomment %}
                                    {# bouton pour supprimer le lien evenement - benevole #}
                                    {# si la personne est benevole sur cet evenement#}
                                    <button style="" class="benevole-supprime btn btn-sm" title="le bénévole ne participe plus à cet évènement" 
                                        data-bs-toggle="modal" data-bs-target="#modal-benevole-supprime"
                                        data-bs-id1="{{benevole.UUID}}" 
                                        data-bs-id2="{{benevole.personne.last_name}}" 
                                        data-bs-id3="{{benevole.personne.fisrt_name}}">
                                        <i style="color: var(--bs-danger)" class="bi bi-x-square fs-6"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            {% else %}
                {{ Text.no_volunteer_yet}}
            {% endif %} 

        </div>
{# fin onglet 1 #}

{# debut onglet 2 #}
        <div class="tab-pane fade show post_display_javascript" id="benevoles-emails" 
            role="tabpanel" aria-labelledby="benevoles-emails-tab">

            <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4 pt-3">
                <h2> 
                </h2>
            </div>

            <div class="row">
                <div class="col col-lg-12">
                    <table class="table table-dark table-striped table-hover responsive"  id="table_planning">
                        <thead>
                            <tr><th scope="col" class="col col-lg-5">{{ Text.list}}</th><th scope="col" class="col col-lg-5"></th><th scope="col" class="col col-lg-2">courriels</th></tr>
                        </thead>
                        <tbody>
                            <tr style="vertical-align : middle;">
                                <td>{{ Text.volunteer_with_slots }}</td><td></td>
                                <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des bénévoles participant à l'évènement">
                                    <!--a href="mailto:{{ Emails_benevoles_evenement|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                    <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                            data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                            data-bs-id1="{{ Emails_benevoles_evenement|cut:'{'|cut:'}'|cut:'\'' }}">
                                        <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr style="vertical-align : middle;">
                                <td>{{ Text.volunteer_one_slot }}</td><td></td>
                                <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des bénévoles participant à l'évènement">
                                    <!--a href="mailto:{{ Emails_benevoles_un_creneau|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                    <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                            data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                            data-bs-id1="{{ Emails_benevoles_un_creneau|cut:'{'|cut:'}'|cut:'\'' }}">
                                        <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr style="vertical-align : middle;">
                                <td>{{ Text.volunteer_no_slots }}</td><td></td>
                                <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des bénévoles inscrits mais sans créneaux">
                                    <!--a href="mailto:{{ Emails_benevoles_sans_creneaux|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                    <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                            data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                            data-bs-id1="{{ Emails_benevoles_sans_creneaux|cut:'{'|cut:'}'|cut:'\'' }}">
                                        <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr style="vertical-align : middle;">
                                <td>{{ Text.event_responsible }}</td><td></td>
                                <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des responsables de l'évènement">
                                    <!--a href="mailto:{{ Emails_responsables|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                    <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                            data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                            data-bs-id1="{{ Emails_responsables|cut:'{'|cut:'}'|cut:'\'' }}">
                                        <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col col-lg-12">
                    <table class="table table-dark table-striped table-hover responsive"  id="table_planning">
                        <thead>
                            <tr><th scope="col" class="col col-lg-5">{{ Text.team }}</th><th scope="col" class="col col-lg-5">{{ Text.planning }}</th><th scope="col" class="col col-lg-2">{{ Text.emails }}</th></tr>
                        </thead>
                        <tbody>
                        {% for equipe, emails in Emails_benevoles_par_equipe.items %}
                            <tr class="table-row-border-top">
                                <td>{{ equipe.nom }}</td><td>{{ Text.all }}</td>
                                <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des bénévoles de l'équipe {{equipe.nom}}">
                                    <!--a href="mailto:{{ emails|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                    <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                            data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                            data-bs-id1="{{ emails|cut:'{'|cut:'}'|cut:'\'' }}">
                                        <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                    </button>
                                </td></tr>
                            {% for plan, details in Emails_benevoles_par_planning.items %}
                                <!--tr style="vertical-align : middle;" class="col col-lg-4"><td>{{ plan }}</td><td>{{ details }}</td></tr-->
                                {% if details.0 == equipe and details.2 %} 
                                    <tr style="vertical-align : middle;">
                                        <td></td><td>{{ details.1 }}</td>
                                        <td data-bs-toggle="tooltip" data-bs-placement="bottom" title="courriels des bénévoles du planning {{details.1}} de l'équipe {{equipe.nom}}">
                                            <!--a href="mailto:{{ details.2|cut:'{'|cut:'}'|cut:'\'' }}"><i class="bi-envelope fs-3"></i></a-->
                                            <button style="" class="liste-courriels btn" title="afficher la liste des courriels" 
                                                    data-bs-toggle="modal" data-bs-target="#liste-courriels"
                                                    data-bs-id1="{{ details.2|cut:'{'|cut:'}'|cut:'\'' }}">
                                                <i style="color: var(--bs-blue)" class="bi-envelope fs-3"></i>
                                            </button>
                                        </td>
                                    </tr>
                                {% endif %}
                               {% endfor %}
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>    
{# fin onglet 2 #}

<!-- infos a ne pas diffuser a tout le monde, vior comment filtrer juste aux admins de la plateforme
{# onglet 3 #}
        <div class="tab-pane fade show post_display_javascript" id="non-inscrits-liste" 
        role="tabpanel" aria-labelledby="non-inscrits-liste-tab">

            {% if NotBenevolesAgeCreneauxAssopart %}
                {# AFFICHE LES BENEVOLES ayoulvat pas inscrits à l'evenement #}
                <div class="col-md-9 ms-sm-auto col-lg-12 px-md-4 pt-3">
                    <h2> Bénévoles non inscrits  </h2>    
                </div>

                <table class="table table-dark table-striped table-hover responsive"  id="table_non-inscrits_ayoulvat">
                    <thead>
                        <tr>
                        <th scope="col">nom</th><th scope="col">prenom</th><th scope="col">age</th>
                        <th scope="col">email</th><th scope="col">portable</th><th scope="col">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for benevole,liste in NotBenevolesAgeCreneauxAssopart.items %}
                        <tr style="vertical-align : middle;">
                            <td>{{benevole.personne.last_name|upper}}</td>
                            <td>{{benevole.personne.first_name|capfirst}}</td>
                            <td>{{liste.0}}</td> {# age #}
                            <td>{{benevole.personne.email}}</td>
                            <td>{{benevole.personne.portable}}</td>                 
                            <td>
                                <div style="display: flex;">
                                    {% comment "" %}
                                    <a href="#" class="d-block p-3 link-blue text-decoration-none" title="éditer" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="Icon-only">
                                        <i class="bi-pencil-square fs-3"></i>
                                    </a>
                                    {% endcomment %}
                                    {# bouton pour supprimer le lien evenement - benevole #}
                                    {# si la personne est benevole sur cet evenement#}
                                    <button style="" class="benevole-lie btn btn-sm" title="ajouter le bénévole à l'évènement" 
                                        data-bs-toggle="modal" data-bs-target="#modal-benevole-lie"
                                        data-bs-uuid="{{benevole.UUID}}" 
                                        data-bs-lastname="{{benevole.personne.last_name}}" 
                                        data-bs-firstname="{{benevole.personne.fisrt_name}}">
                                        <i style="color: var(--bs-success)" class="bi bi-plus-square fs-6"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                tous les bénévoles sont inscrit a cet évènement
            {% endif %}
        </div>
{# fin onglet 3 #}
-->
    </div>

</div>

{# table dynamique : datatables #}
<script>
    $(document).ready(function() {
        $('#table_benevoles_evenement').DataTable({
            dom: 'flrtipB',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, 50, -1], [10, 50, "Tous"]],
            buttons: [ 'copy', 'excel', 'pdf' ]
        } );
    } );
    $(document).ready(function() {
        $('#table_non-inscrits_ayoulvat').DataTable({
            dom: 'flrtipB',
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
            },
            "lengthMenu": [[10, 50, -1], [10, 50, "Tous"]],
            buttons: [ 'copy', 'excel', 'pdf' ]
        } );
    } );
</script>

{% include "administration/benevole/modal_courriels.html" %}
{% include "administration/benevole/modal_ajoute.html" %}
{% include "administration/benevole/modal_supprime.html" %}
{% endblock %}