<!-- benevole/dashboard.html -->

{% extends 'administration/base.html' %}
{% load filters_perso %}
{% load bootstrap5 %}

{% block title %}dashboard{% endblock %}

{% block content %}

<div class="">

    <table class="table table-dark table-striped table-hover"  id="table_benevoles">
        <thead>
            <tr>
            <th scope="col" class="col col-lg-4">bénévoles</th><th scope="col">nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align : middle;">
            <td>Inscrits</td><td>{{ Benevoles.count }}</tr>
        </tbody>
    </table>

    <table class="table table-dark table-striped table-hover"  id="table_benevoles">
        <thead>
            <tr>
            <th scope="col" class="col col-lg-4">créneaux</th><th scope="col">nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr style="vertical-align : middle;">
            <td>Total</td><td>{{ Creneaux.count }}</tr>
            <td>Occupés</td><td>{{ Creneaux_occupes }}</tr>
            <td>Libres</td><td>{{ Creneaux_libres }}</tr>
        </tbody>
    </table>

    <table class="table table-dark table-striped table-hover"  id="table_benevoles">
        <thead>
            <tr><th scope="col" class="col col-lg-4">asso partenaire</th><th scope="col">nombre de bénévole</tr>
        </thead>
        <tbody>
            {% for a, b in  benevoles_par_asso.items %}
                <tr style="vertical-align : middle;"><td>{{ a }}</td><td>{{ b }}</tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}