/* ###############################################" */
/* variables */
/* ###############################################" */

{{ planning.nom }}

.evenement-button {
	width: -webkit-fill-available;
	text-align: left;
}

.evenement-form {
	margin: inherit;
}


/* ###############################################" */
/* grid pour scheduler */
/* ###############################################" */

/*************************
 * GRID SCHEDULE LAYOUT
 * déplacé dans base.html pour etre dynamique 
 *************************/

.time-slot {
	grid-row: times;
	transform: rotate(-45deg);
}

.poste-slot {
    #display: none; /* hidden on small screens and browsers without grid support */
}

@supports( display:grid ) {
	@media screen and (min-width:700px) {
		.poste-slot {
			display: block;
			padding: 10px 5px 5px;
			position: sticky;
			top: 0;
			z-index: 1000;
			background-color: rgb(255, 255, 255);
		}
	}
}

/* Small-screen & fallback styles */
.session {
	margin-bottom:  1em;
}

@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.poste {
			margin: 0;
		}
	}
}

/*************************
 * VISUAL STYLES
 * Design-y stuff ot particularly important to the demo
 *************************/

body {
	padding: 50px;
	#max-width: 1100px;
	margin: 0 auto;
	line-height: 1.5;
}

.grid-cell {
	border-left: inherit; 
	border-bottom: inherit; 
	border-color: lightgray;
}

.poste {
	padding: .5em;
	border-radius: 2px;
	font-size: 14px;
	box-shadow:
		rgba(255,255,255,.6) 1px 1px 0,
		rgba(0,0,0,.3) 4px 4px 0;
}

.poste-title,
.poste-time,
.poste-nom,
.poste-presenter {
	display: block;
}

.poste-title,
.time-slot {
	margin: 0;
	font-size: 1em;
}

.poste-title a {
	color: #fff;
	text-decoration-style: dotted;

	&:hover {
		font-style: italic;
	}

	&:focus {
		outline: 2px dotted rgba(255,255,255,.8);
	}
}

.poste-slot,
.time-slot {
	font-weight: bold;
	font-size:.75em;
}

/* utilisé si personne affecté au creneau et si pas bloqué : créneau libre */ 
.creneau-libre {
	background-color: #1fca1caa; /* aa pour la transparence */
	color: #fff;
}

.creneau-all {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #ccc;
	color: #000;
	box-shadow: none;
}

.text {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 50px;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

hr {
	margin: 40px 0;
}