/*************************
* general
 *************************/
 :root {
    --planning_couleur: #0d6efd5c;
    --planning_hover: #57fd135c;
    --creneau_hover: #52531a; 
    --fond_body: #c1c1c1;
	--cells_admin: #ff110020; /* couleur de fond de la grid admin */ 
	--scrollbar_couleur: #0b6dff;
	--footer-height: 120px;
	--gradient: linear-gradient(to left top, #ddc124 10%, #FF512F 90%) !important; /*boutons des cards evenements */ 
	--maxheight_grid : 2.5em;/* hauteur des carrés de grids */
	--cell_width : 0.8em; /* largeur des carrés de grids */
  }
  
body {
	/*padding: 50px;
	max-width: 1100px;
	margin: 0 auto;
	line-height: 1.5;*/
    background-color: var(--fond_body);
}

#disposition {
	position:fixed; /* navbar & side bar a 100% */
}
.card-default {
	z-index: 90;
}

/*************************
 * page evements
 *************************/

.card-inscrit{
    opacity: 1;
}

.card-dispo {
    opacity: .4;
}

.card {
	background: #1a1a1a;
	/*border: 1px solid #dd2476;*/
	color: rgba(250, 250, 250, 0.8);
	margin-bottom: 2rem;
  }
  
.card-img-top {
	height: -webkit-fill-available;
	max-width: 26em;
	max-height: 20em;
}

.card-btn-evt {
	border: 5px solid;
	border-image-slice: 1;
	background: var(--gradient) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
	border-image-source:  var(--gradient) !important; 
	text-decoration: none;
	transition: all .4s ease;
}

.card-btn-evt:hover, .card-btn-evt:focus {
	background: var(--gradient) !important;
	-webkit-background-clip: none !important;
	-webkit-text-fill-color: #fff !important;
	border: 5px solid #fff !important; 
	box-shadow: #222 1px 0 10px;
	text-decoration: underline;
}

/*************************
 * footer
 *************************/

 .pied {
	z-index: 110;
	height:22px !important; /* hauteur du footer caché */
	transition: height 1s; /* temps animation affichage du footer */ 
}

 .pied:hover {
    height: var(--footer-height) !important; /* hauteur footer mouse hover */
}

footer {
    background-color: #dbd8d8;
	margin-top: 2em;
	height: var(--footer-height);
}

footer .right {
    text-align: right;
}

@media screen and (max-width: 768px) {
    footer {
        visibility: hidden;
        display: none;
    }
}

/*************************
 * pages evenements / plannings
 *************************/

.main_page {
    padding-bottom: 8rem!important;
}

.espace-evenement, .espace-administration {
	padding-bottom: var(--footer-height); /* assenceur s affiche si l affichage passe derriere le footer*/
}

.titre_page {
    padding-top: 1em;
	padding-bottom: 1em;
    text-align: center;
}

/* styles des plannings*/

.equipe-slot, .poste-slot { /* en cours : formatage de la premiere colonne des grid */
	/* pb : sticky vertical */
	/* position: sticky; */
	left: 0;
	padding-top: 0px;
}

.equipe-button, .poste-button {
	width: 100%;
}

.planning-ayoulvat {
	/*box-shadow: 3px 2px #888;*/
	background-color: var(--planning_couleur);
	/*border-width: 1px;*/
	/*font-size: .75em;*/
	padding: 0 .75em;
	/*line-height: 2em;*/
	/*margin-bottom: 1px;*/
	border-radius: 10px;
	width:100%;
	height:100%;
	max-height: var(--maxheight_grid);
	opacity:80%;
	overflow: hidden;
}

.planning-ayoulvat:hover {background-color: var(--planning_hover)}

.planning-ayoulvat:active {
    background-color: var(--planning_couleur);
    /*box-shadow: 0 5px #666;*/
    transform: translateY(4px);
  }

.creneau-planningperso {
	align-self: end; 
}

/* styles des creneaux*/

.creneau, .creneau_libre, .creneau_libre_bloque, .creneau_libre_moi_occupe, .creneau_autre_occupe, .creneau_occupe, .creneau_occupe_bloque, .planning, .creneau-planningperso {
	box-shadow: 3px 2px #888;
	background-repeat: repeat-x;
	border-width: 1px;
	font-size: .75em;
	padding: 0 .75em;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
	max-height: var(--maxheight_grid);
	/*border-radius: 10px;*/
}

.creneau_libre:hover, .creneau:hover {
    background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--creneau_hover) 50%);
    background-color: var(--creneau_hover)}

.creneau:active, .creneau_libre:active {
    /*box-shadow: 0 5px #666;*/
    transform: translateY(4px);
  }

.grid-cell-last {
	border-left: inherit; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
}

.grid-cell, .grid-cell-minuit {
	border-left: 1px solid #ffffff; 
	border-bottom: 1px solid #ffffff; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
	display: flex;
}

.grid-cell-minuit{
	/*border-left-color: black;*/
	border-left-width: 3px;
}

/* boutons cellule pour creer des creneaux */
.bouton-cell {
	display: flex;
	width: 100%;
	background-color: var(--cells_admin);
}

.poste-slot,
.equipe-slot,
.benevole-slot, 
.time-slot {
    font-weight: bold;
}

.time-slot {
	overflow : visible;
	transform: rotate(-50deg);
	translate: calc(var(--cell_width) * -1) 0px 0px;
}

/* headers grid specificites */
.planning-head, .planning-head-equipes {
	display: inline-grid;
	/*width: 1.5em;*/
	max-width: 2em;
}

.planning-head-equipes {
	width: 1em;
	max-height: var(--maxheight_grid);
}

.planning-head-day {
	text-align: center;
	border-left : 2px solid white;
	font-weight: bold;
}

.planning-head-planningperso {
	width: var(--cell_width);
	max-height: var(--maxheight_grid);
	text-align: initial;
}

/* case header avec heure, ajoute un petit border */ 
.planning-head-top:after{
	content: "";
	border-left: 1px solid white;
}
.planning-head-bottom:before{
	content: "";
	border-left: 1px solid white;
}

.text {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 50px;
}

.text_assos_choix {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 5px;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

/* boutons de choix de son asso dans la page evenements */
.assos-button {
	position: absolute;
}

/*.evenement-form {
	margin: inherit;
}*/

/* utilisé si personne affecté au creneau et si pas bloqué : créneau libre */
.creneau_libre, .creneau_libre_bloque, .creneau_libre_moi_occupe {
	background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-teal) 50%);
}
/* utilisé si personne affecté au creneau et si poste/creneau/planning bloqué : créneau libre ou occupé */
.creneau_libre_bloque, .creneau_occupe_bloque, .creneau_libre_moi_occupe, .creneau_autre_occupe  {
	opacity: 40%
}
/* pour les non admin, utilisé pour l'affichage des creneaux occupé par d'autre benevole 
//.creneau_autre_occupe {
//	#background-color: var(--bs-secondary);
//}
{# créneau occupé dans la vue planning benevole(s) */
.creneau_occupe_planning {
	background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-dark) 70%);
	z-index: 50;
}

.form_grid_button {
	margin: 0;
}

.form_grid_button .planning, .form_grid_button_planningperso .planningperso {
	display: block;
	width: 100%;
	height: 100%;
}

.equipe-slot-planningperso {
	height: var(--maxheight_grid);
	width: 6em;
	text-align: initial;
}

.form_grid_button_planningperso .planningperso { 
	background-image: linear-gradient(to bottom, #dff0d82b 0px, #bce5d636 100%);
	position: relative;
}
/* text bouton planning */
.text-planning {
	font-family: 'georgia';
	font-weight: bold;
	color: white;
	text-decoration: auto;
}

/*************************
 * parties statiques des grids
 *************************/

 .grid-planning-creneaux {
	inline-size: fit-content;
	display: grid;
	gap: 0.2em;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	/* pour ne pas déborder de la page */
	max-width: 100%;
	overflow-x: auto;
 }

 .grid-planning-equipes {
	inline-size: fit-content;
	display: grid;
	gap: 0.2em;
	padding-top: 3em;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	/* pour ne pas déborder de la page */
	max-width: 100%;
	overflow-x: auto;
 }
 
/*************************
* PLANNING PARTIE COMMUNE
* 
*************************/

.poste-slot, .poste-bouton-slot, .equipe-slot {
	text-align: left;
	width: 8vw;
	height: 40px;
}

.poste-bouton-slot, .benevole-bouton-slot  {
	min-width: 10px;
	width: 20px;
}

.poste-slot, .benevole-slot, .equipe-slot, .poste-bouton-slot, .benevole-bouton-slot   {
	display: block;
	/* padding: 10px 5px 5px; */
	/* position: sticky; */
	height: 2em;
	top: 0;
	z-index: 20;
}

.equipe-slot {
	height: var(--maxheight_grid);
	width: 6em;
	text-align: initial;
 }

.bouton_edite_poste  {
	padding: 1;
	margin-left: -5px;
	margin-top: 5px;
}


/* Small-screen & fallback styles */
.session {
	margin-bottom:  1em;
}

@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.poste, .benevole, .planning {
			margin: 0;
			z-index: 20;
		}

	}
}


/*************************
 * navbar
 *************************/
.navbar {
	z-index: 100;
}

@media screen and (max-width: 991px) {
	.customNav {
		display: block!important;
		border: none;
		background: rgba(0,0,0,.2);
		text-align: center;
		margin-top: 4px;
		margin-bottom: 4px;
		margin-left: -5px;
		margin-right: -5px;
	}
}
/*************************
 * sidebar
 *************************/

 /* cache la side bar sur petit ecran */
  @media screen and (max-width: 991px) {
	.body{
		overflow: auto;
	}
	.sidebar {
		/*display:none!important;
		width:22px !important; */
		width: 100%;
		height: auto!important;
		position: relative;
		transition: height 1s; 
		padding-bottom: 1rem!important;
	}
	.sidebar li{
		text-align: -webkit-center;
	}
 }

.sidebar {
	z-index: 99;
	overflow-y: auto;
	/* padding-top: 4rem!important; */
	padding-bottom: 8rem;
}

.bouton-sidebar {
	width: 100%;
}

.customSideItem {
	text-align: left;
}

/* boutons lien vers evenement */
.bouton-evenement {
	border: 0px;
	padding: 0px;
}

.status-evenement {
	text-align: center;
}

/*************************
 * scrollbar perso
 *************************/
 
.all-modules {
    scrollbar-color: #666 #201c29;
    padding: 1rem;
    margin: 4rem 0;
    overflow-x: auto;
    width: 100%;
    text-align: center;
    white-space: nowrap
}

 ::-webkit-scrollbar {
    width: 20px;
    height: 20px
}

 ::-webkit-scrollbar-thumb {
    background: linear-gradient(90deg,#2e40e5,#44a5e6);
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25)
}

 ::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#262626 0,#262626)
}

/*################ administration ###################*/

.admin-evenement {
	overflow-x: auto;
	/*height: 800px;*/
}

/*################ divers ###################*/


.table-row-border-top {
	border-top: double;
	vertical-align : middle;
}

/* charge les grilles à la fin du chargement de la page */
.post_display_javascript  {display:none;}

/* affiche le loader quand la pages est longue a charger */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/static/evenement/page_loader.gif') 50% 50% no-repeat rgb(0 0 0 / 58%);
} 



