/*************************
* general
 *************************/
 :root {
    --planning_couleur: #ffc31e88;
    --planning_hover: #52531a;
    --creneau_hover: #52531a; 
    --fond_body: #e4e4e4;
  }
  
body {
	/*padding: 50px;
	max-width: 1100px;
	margin: 0 auto;
	line-height: 1.5;*/
    background-color: var(--fond_body);
}

/*************************
 * page evements
 *************************/

.card-inscrit{
    opacity: 1;
}

.card-dispo {
    opacity: .4;
}

/*************************
 * footer
 *************************/

.footer, .sidebar {
    background-color: #dbd8d8;
}

.footer {
    margin-top: 2em;
}

.footer .right {
    text-align: right;
}

/*************************
 * pages evenements / plannings
 *************************/
 
.titre_page {
    padding-top: 1em;
    text-align: center;
}

/* styles des plannings*/

.planning-perso {
	/*box-shadow: 3px 2px #888;*/
	background-color: var(--planning_couleur);
	/*border-width: 1px;*/
	/*font-size: .75em;*/
	padding: 0 .75em;
	/*line-height: 2em;*/
	/*margin-bottom: 1px;*/
	/*border-radius: 10px;*/
	width:100%;
	height:100%;
	opacity:80%;

}

.planning-perso:hover {background-color: var(--planning_hover)}

.planning-perso:active {
    background-color: var(--planning_couleur);
    /*box-shadow: 0 5px #666;*/
    transform: translateY(4px);
  }

.creneau-planningperso {
	align-self: end; 
}

/* styles des creneaux*/

.creneau, .creneau_libre, .creneau_libre_bloque, .creneau_libre_moi_occupe, .creneau_autre_occupe, .creneau_occupe, .creneau_occupe_bloque, .planning, .creneau-planningperso {
	box-shadow: 3px 2px #888;
	background-repeat: repeat-x;
	border-width: 1px;
	font-size: .75em;
	padding: 0 .75em;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
	/*border-radius: 10px;*/
}

.creneau_libre:hover, .creneau:hover {
    background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--creneau_hover) 50%);
    background-color: var(--creneau_hover)}

.creneau:active, .creneau_libre:active {
    /*box-shadow: 0 5px #666;*/
    transform: translateY(4px);
  }

.grid-cell-last {
	border-left: inherit; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
}

.grid-cell, .grid-cell-minuit {
	border-left: inherit; 
	border-bottom: inherit; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
	display: flex;
}

.grid-cell-minuit{
	/*border-left-color: black;*/
	border-left-width: 2px;
}

/* boutons cellule pour creer des creneaux */
.bouton-cell {
	display: flex;
	width: 100%;
}


.poste-slot,
.equipe-slot,
.benevole-slot, 
.time-slot {
	display: flex;
	/*align-items: center;
	justify-content: center;
	font-size:.75em;*/
    font-weight: bold;
	overflow : hidden;
}

.time-slot {
	overflow : visible;
}	

.planning-head, .planning-head-equipes {
	display: inline-grid;
	/*width: 1.5em;*/
	max-width: 2em;
}

.planning-head-equipes {
	width: 1em;
}

.planning-head-planningperso {
	width: 0.3em;
}


.text {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 50px;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

hr {
	margin: 40px 0;
}

/* styles evenement */
.evenement-button {
	/* width: -webkit-fill-available; */
	width: 100%;
	text-align: left;
}

.evenement-form {
	margin: inherit;
}

/* utilisé si personne affecté au creneau et si pas bloqué : créneau libre */
.creneau_libre, .creneau_libre_bloque, .creneau_libre_moi_occupe {
	background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-teal) 50%);
}
/* utilisé si personne affecté au creneau et si poste/creneau/planning bloqué : créneau libre ou occupé */
.creneau_libre_bloque, .creneau_occupe_bloque, .creneau_libre_moi_occupe, .creneau_autre_occupe  {
	opacity: 40%
}
/* pour les non admin, utilisé pour l'affichage des creneaux occupé par d'autre benevole 
//.creneau_autre_occupe {
//	#background-color: var(--bs-secondary);
//}
{# créneau occupé dans la vue planning benevole(s) */
.creneau_occupe {
	/*background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-dark) 70%);*/
	z-index: 50;
}

.form_grid_button {
	margin: 0;
}

.form_grid_button .planning, .form_grid_button_planningperso .planningperso {
	display: block;
	width: 100%;
	height: 100%;
}

.equipe-slot-planningperso {
	height: 3em;
	width: 6em;
}

.form_grid_button_planningperso .planningperso { 
	background-image: linear-gradient(to bottom, #dff0d82b 0px, #bce5d636 100%);
	position: relative;
}

/*************************
 * sidebar
 *************************/

.bouton-sidebar {
	width: 100%;
}

.evenement-button.active {
	background-color: darkmagenta;
	border-color: black;
}

.evenement-button.active:hover, .evenement-button:hover {
	background-color: black;
	border-color: black;
	color: white; /* text */
}

/* boutons lien vers evenement */
.bouton-evenement {
	border: 0px;
	padding: 0px;
}

/*################ administration ###################*/
.table-row-border-top {
	border-top: double;
	vertical-align : middle;
}

/* charge les grilles à la fin du chargement de la page */
.post_display_javascript  {display:none;}

/* affiche le loader quand la pages est longue a charger */
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url('/static/evenement/page_loader.gif') 50% 50% no-repeat rgb(0 0 0 / 58%);
} 