/*************************
 * page evements
 *************************/

.card-inscrit{
    opacity: 1;
}

.card-dispo {
    opacity: .4;
}

/*************************
 * footer
 *************************/

.footer, .sidebar {
    background-color: #dbd8d8;
}

.footer {
    margin-top: 2em;
}

.footer .right {
    text-align: right;
}
