<span class="navbar-brand">
  {% if Evenement %}
    {% if Evenement.vignette %}<img src="{{ Evenement.vignette.url }}" style="max-width: 40px;max-height: 40px;">{% endif %}
    {% if Administrateur or Organisateur %}<a class="ms-1" href="{% url 'liste_evenements' %}">{{ Association.nom }}</a>{% endif %}
      {%if Evenement.nom%}<a class="ms-1 text-white text-decoration-none"> {% if Administrateur or Organisateur%}<i class="bi bi-chevron-right"></i>{% endif %} {{ Evenement.nom }}</a>{%endif%}
  {% elif Association %}
    <a  href="{% url 'detail_asso' uuid_asso=Association.UUID %}" data-bs-original-title="{{Text.nav_asso_details}}" 
      data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom">
      {{ Association.nom|upper }}</a>
  {% else %}
    {{global_site_name}}
  {% endif %}
</span>

<span class="navbar-text list-unstyled">
  {% if Administrateur or Organisateur or Responsable%}
    <li class="nav-item customNav">
      <a class="nav-link"> 
      {% if Administrateur %}
        <font color="Red">{{Text.administrator}}</font></a>
      {% elif Organisateur %}
        <font color="OrangeRed">{{Text.organiser}}</font></a>
      {% elif Responsable %}
        <font color="Orange">{{Text.responsible}}</font>
      {% endif %}
      </a>
    </li>
  {% endif %}
</span>

<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarmenu" aria-controls="navbarmenu" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarmenu">
  {% if user.is_authenticated %}
    <ul class="navbar-nav me-auto">
      {% if user.is_staff %}
        {# admin django #}
        <li class="nav-item customNav">
          <a class="nav-link" href="/admin_ayoulvat/"  target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="">
            <font color="Red">{{Text.nav_django_admin}}</font></a>
        </li>
      {% endif %}
      <li class="nav-item customNav">
        <a href="{% url 'home' %}" id="profile" class="nav-link" 
          data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{Text.nav_events_h}}" >
          {{Text.nav_events}}</a>
      </li>
    </ul>
    {# reste a voir comment masquer cette partie dans le module admin #}
    <ul class="navbar-nav me-auto">
      {% if Planning.equipe %} {# affiche les infos du planning : nom, debut, fin  #}
        <font color="white">
          <div>
            {{Text.planning|upper}} : {{Planning.equipe.nom}}
          </div>
          <div>
            {% if  Planning.debut|date:'l j F'|stringformat:"s" ==  Planning.fin|date:'l j F'|stringformat:"s" %}
                <p class=''>{{ Planning.debut|date:'l j F' }} de {{ Planning.debut|date:'H:i' }} à {{ Planning.fin|date:'H:i' }}</p>
            {% else %}
                <p class=''>{{ Planning.debut|date:'l j F' }} {{ Planning.debut|date:'H:i' }} - {{ Planning.fin|date:'l j F' }} {{ Planning.fin|date:'H:i' }}</p>
            {% endif %}
          </div>
        </font>
      {% elif Evenement and not planning_perso %} {# affiche les infos de l evenement : nom, debut, fin  #}
        <font color="white">
          <div>
              {{ Text.title_planning_event }}
          </div>
          <div>
              {% if  Evenement.debut|date:'l j F'|stringformat:"s" ==  Evenement.fin|date:'l j F'|stringformat:"s" %}
              <p class=''>{{ Evenement.debut|date:'l j F' }} de {{ Evenement.debut|date:'H:i' }} à {{ Evenement.fin|date:'H:i' }}</p>
              {% else %}
                  <p class=''>{{ Evenement.debut|date:'l j F' }} {{ Evenement.debut|date:'H:i' }} - {{ Evenement.fin|date:'l j F' }} {{ Evenement.fin|date:'H:i' }}</p>
              {% endif %}
          </div>
        </font>
      {% endif %}
    </ul> 
  {% endif %}

  <span class="navbar-text customNav">
    {% include 'evenement/partials/menu_perso.html' %}
  </span>
</div>