{% extends 'association/base.html' %}
<!-- association/association_liste.html -->
{% block asso_nom %}
    {% for asso in Assos %}
        <H2><a href="{% url 'detail_asso' uuid_asso=asso.UUID %}">{{ asso.nom }}</a>
            <form method="get" id="{{ asso.UUID }}_evts" action="{% url 'liste_evenements' %}">
                <button type="submit" name="uuid_asso" value="{{ asso.UUID }}">
                        <i class="bi bi-list fs-1" data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="right" title="liste evenements"></i>
                </button>
            </form>
        </H2>
    {% endfor %}
{% endblock asso_nom %}