<!-- association/base.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}Association{% endblock %}</title>

  {# fonts et icons BOOTSTRAP #}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <!-- XDSoft DateTimePicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
  {# specifique slider #}
  <!-- link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" -->
  <!-- script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script -->

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_messages %}
  {% bootstrap_javascript %}

</head>
<body>

  <main>
    <div class="container">
    <div class="row">
        <div class="col-lg-10">
          <br>
          {% block assos_liste %}
          {% endblock assos_liste %}
        </div>
        <div class="col-lg-10">
          {% block asso_details %}
          {% endblock asso_details %}
         </div>
         <div class="col-lg-10"></div>
         </div>
     </div>
  </main>
</body>
</html>