<!-- evenement/admin_page_evenements.html -->

{# bandeau message d erreur si besoins #}
{% include "evenement/error_message.html" %}

{# titre de la page #}
{% if Evenement %}
    {% include "evenement/titre_page.html" with page='admin evenement' %}
{% else %}
    {% include "evenement/titre_page.html" with page='admin evenements' %}
{% endif %}

<div class="planning-equipes" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% include 'evenement/grid_entete_heures.html' with ligne="heures" role="admin" %}    

    {% if Evenement and not equipe_uuid or equipe_uuid %}
        {# affiche toutes les equipes #}
        {% for equipe in Equipes %}
            {# affiche les entetes des lignes du planning : equipes #}
            {% include "evenement/equipe_edite.html" %}
            {% for planning in Plannings %}
                    {% if planning.equipe_id == equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "evenement/admin_planning_bouton.html" %}
                {% endif %}
            {% endfor %}
            {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
        {% endfor %}
        {# ajoute une ligne vide pour pouvoir ajouter des equipes au besoins et le modal de modif des plannings #}
        {% if Administrateur or Organisateur or Responsable %}
            {% include "evenement/equipe_ajoute.html" %}
            {% include "evenement/modal_planning_edite.html"  %}
        {% endif %}
    {% elif equipe_uuid %}
        {% for equipe in Equipes %}
            {# une equipe de selectionnée, on affiche que cette équipe dans le planning #}
            {% if  equipe.UUID|stringformat:'s' == equipe_uuid|stringformat:'s'%}
                {# affiche les entetes des lignes du planning : equipes #}
                <div class="equipe-slot"
                    aria-hidden="true"
                    style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;">
                        <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
                </div>
                {% for planning in Plannings %}
                    {% if planning.equipe_id == equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "evenement/admin_planning_bouton.html" %}
                    {% endif %}
                {% endfor %}
                
                {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
            {% endif %}
        {% endfor %}
    {% else %}
        <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
            <p> {{ Text.admin_list_events }} </p>
        </span>
    {% endif %}
    {# affiche les entetes des colonnes du planning en bas: les heures #}
    {% include 'evenement/grid_entete_heures.html' with ligne="bas" role="admin" %}
</div>