<!-- evenement/base.html -->

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Evenement{% endblock %}</title>

    {# ressources JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {# sources scripts #}
    <script src="{% static 'js/loader.js' %}"></script>
    {#decale affichage des grilles #}
    <script>
    $(document).ready(function(){
        $('.post_display_javascript').show();
    });
    </script>
    {# fonts et icons BOOTSTRAP #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    {# specifique slider #}
    <!-- link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet" -->
    <!-- script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script -->

    {% load bootstrap5 %}
    {% bootstrap_css %}
    {# internal CSS pour dynamique #}
    <style>
      {% include 'evenement/evenement.css.html'%}
    </style>
    {% bootstrap_messages %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/ayoulvat.css' %}" type="text/css" />
</head>

<body class="override">  
  {#affiche un loader pendant que le client attend un retour du serveur#}
  <div class="loader" id="loader" style="display:none"></div>

  {% include "benevole/navbar.html" %}

<div class="">
    {% include "evenement/sidebar.html" %}
    <main class="col-lg-10 espace-evenement">
      <div class="table-responsive " >
          {% block base_evenement %}
          {% endblock base_evenement %}
      </div>
    </main>
</div>
    {% include "benevole/footer.html" %}



  {# cookie consent #}
  <script src="{% static 'js/cookie.notice.js' %}"></script>
  {# timeout flash message #}
  <script src="{% static 'js/timeout.flashmessage.js' %}"></script>

</body>
</html>


