<!-- evenement/base.html -->
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{% block title %}Evenement{% endblock %}</title>
    {# ressources CSS remplacée par internal CSS #}
    <!-- link rel="stylesheet" href="{% static 'evenement/css/planning.css' %}" type="text/css" /-->
    <style>
        {# internal CSS pour dynamique #}
        {% include 'evenement/planning.css.html'%}
    </style>

    {# ressources JQUERY #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {# sources scripts #}
    <script src="{% static "evenement/js/scripts.js" %}"></script>
    {# fonts et icons BOOTSTRAP #}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- XDSoft DateTimePicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css" integrity="sha256-DOS9W6NR+NFe1fUhEE0PGKY/fubbUCnOfTje2JMDw3Y=" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js" integrity="sha256-FEqEelWI3WouFOo2VWP/uJfs1y8KJ++FLh2Lbqc8SJk=" crossorigin="anonymous"></script>
    {# specifique slider #}
    <link href="http://code.jquery.com/ui/1.12.0/themes/smoothness/jquery-ui.css" rel="stylesheet">
    <script src="http://code.jquery.com/ui/1.12.0/jquery-ui.min.js" ></script>

</head>
<body>  

  {% include "evenement/navbar.html" %}

<div class="container-fluid">
  <div class="row"> 
    {% include "evenement/sidebar.html" %}
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 pt-3">
      <div class="table-responsive ">
              {% block evenement_plannings %}
              {% endblock evenement_plannings %}
              <br><br>
      </div>
    </main>
  </div>
</div>
</body>
</html>
