<!-- evenement/bouton_creneau.html -->

{##################################################################}
{# la personne est un benevole et les contenants du creneau sont ouverts : poste ouvert, evenement ouvert ...#}
{% if user.profilebenevole.UUID and not 'evenement.delete_creneau' in perms and ouvert == 'oui' %}
    {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau poste poste-{{ poste.UUID }}"
                    style="grid-row: ligne-{{ creno.poste_id }};
                    grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                    title="Mon Créneau" >
                    <a><b>{{ creno.benevole }}</b></a>
                </button>
        {# simplement occupé par un autre bénévole -> toujours disabled pour les simples benevoles #}
        {% else %}
            <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="créneau occupé" disabled>
                <a><b>{{ creno.benevole }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {%else %}
        {# bénévole mineur et creneau reservé majeur -> toujours disabled pour les simples benevoles #}
        {% if not Majeur and not creno.poste.ouvert_mineur %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="poste réservé adulte" disabled>
                <a><b>Disponible</b></a>
            </button>
        {# le benevole est dans la liste des benevoles du creneau #}
        {% elif user.profilebenevole|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button class="creneau_libre poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                title="">
                <a><b>Disponible</b></a>
            </button>
        {# le bénévole est dejà pris sur cet horaire -> toujours disabled pour les simples benevoles #}
        {% else %}
            <button  class="creneau_libre_moi_occupe poste poste-{{ poste.UUID }}" 
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="tu es déjà occupé sur cet horaire" disabled>                            
                <a><b></b></a>
            </button>
        {% endif %}
    {% endif %}

{##################################################################}
{# la personne est un benevole et les contenants du creneau sont fermés : poste fermé, evenement non editable ...#}
{% elif user.profilebenevole.UUID and not 'evenement.delete_creneau' in perms and ouvert == 'non' %}
   {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                    style="grid-row: ligne-{{ creno.poste_id }};
                    grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    title="Mon Créneau" disabled>
                    <a><b>{{ creno.benevole }}</b></a>
                </button>
        {# simplement occupé par un autre bénévole #}
        {% else %}
            <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="créneau occupé" disabled>
                <a><b>{{ creno.benevole }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {%else %}
        {# bénévole mineur et creneau reservé majeur #}
        {% if not Majeur and not creno.poste.ouvert_mineur %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="poste réservé adulte" disabled>
                <a><b>Disponible</b></a>
            </button>
        {# le benevole est dans la liste des benevoles du creneau #}
        {% elif user.profilebenevole|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="" disabled>
                <a><b>Disponible</b></a>
            </button>
        {# le bénévole est dejà pris sur cet horaire #}
        {% else %}
            <button  class="creneau_libre_moi_occupe poste poste-{{ poste.UUID }}" 
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="tu es déjà occupé sur cet horaire" disabled>                            
                <a><b></b></a>
            </button>
        {% endif %}
    {% endif %}
{##################################################################}
{# la personne est admin et bénévole #}
{% elif user.profilebenevole.UUID and 'evenement.delete_creneau' in perms %}
    {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau poste poste-{{ poste.UUID }}"
                    style="grid-row: ligne-{{ creno.poste_id }};
                    grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                    title="Mon Créneau" >
                    <a><b>{{ creno.benevole }}</b></a>
                </button>
        {# simplement occupé par un autre bénévole -> toujours disabled pour les simples benevoles #}
        {% else %}
            <button class="creneau_occupe poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                title="créneau occupé">
                <a><b>{{ creno.benevole }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {%else %}
        {# le benevole est dans la liste des benevoles du creneau #}
        {% if user.profilebenevole|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button class="creneau_libre poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                title="Mon Créneau">
                <a><b>Disponible</b></a>
            </button>
        {# le bénévole est dejà pris sur cet horaire -> toujours disabled pour les simples benevoles #}
        {% else %}
            <button  class="creneau_libre poste poste-{{ poste.UUID }}" 
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}"
                title="tu es déjà occupé sur cet horaire" disabled>                            
                <a><b>Non Dispo</b></a>
            </button>
        {% endif %}
    {% endif %}

{##################################################################}
{# la personne est pure admin et pas bénévole #}
{% elif not user.profilebenevole.UUID and  'evenement.delete_creneau' in perms %}
    {# creneau occupé #}
    {% if creno.benevole %}
        <button class="creneau poste poste-{{ poste.UUID }}"
            style="grid-row: ligne-{{ creno.poste_id }};
            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
            title="" 
            data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}">
            <a><b>{{ creno.benevole }}</b></a>
        </button>
    {# creneau libre #}
    {% else %}
        <button class="creneau_libre poste poste-{{ poste.UUID }}"
            style="grid-row: ligne-{{ creno.poste_id }};
            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
            title="Disponible" 
            data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}">
            <a><b>Disponible</b></a>
        </button>
    {% endif %}
{% endif %}             