{# evenement/creneau_ajoute.html #}

<script>
    /* permet d'afficher les mois, les jours, les heure et les minute sur 2 digits, en ajoutant un zero si besoins*/
    function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
        return i;
    }

    /* quand on clique pour ajouter un creneau dans le planning, rempli les valeurs des inputs correspondants */
    /* pre-prempli les champs debut, fin, creneau avec l heure du carré sur lequel on a clické */
    function creneau_pre_modal_info(clicked_form) {
        const formData = new FormData(clicked_form);
        /* alert(clicked_form.id); */

        var debut = formData.get('case-debut-init');
        console.log(' debut : ' + debut);
        /* decompose la date time pour remplir les 2 champs suite au SplitDateTimeMultiWidget */
        var debut_details = debut.split(" ")
        $("input[name=debut_0][id=id_debut_0]").val(debut_details[0]);
        $("input[name=debut_1][id=id_debut_1]").val(debut_details[1]);
 
        var fin = formData.get('case-debut-init');
        var duree = formData.get('creneau-moyen');
        console.log('duree : ' + duree);
        /* ajoute le temps classique d'un creneau a la fin du créneau par rapport au debut */
        let [y,M,d,h,m] = fin.split(/[- :]/);
        let fin_date =  new Date(y,parseInt(M)-1,d,h,parseInt(m));
        fin_date = new Date(fin_date.getTime() + (duree*60*1000));
        console.log(' fin : ' + fin_date);
        let fin_str = fin_date.getFullYear() + "-" + addZero((fin_date.getMonth() + 1)) + "-" + addZero(fin_date.getDate()) + " " + addZero(fin_date.getHours()) + ":" + addZero(fin_date.getMinutes())
        /* decompose la date time pour remplir les 2 champs suite au SplitDateTimeMultiWidget */

        var fin_details = fin_str.split(" ")
        $("input[name=fin_0][id=id_fin_0]").val(fin_details[0]);
        $("input[name=fin_1][id=id_fin_1]").val(fin_details[1]);

        /* au click sur la cellule, recupere le type de creneau
           le uuid du poste ou du benevole et cree les inputs pour la form */
        var type = formData.get('type');
        $("input[name=type][id=id_type]").val(type);
        var ligne = formData.get('case-ligne-init');
        if (type == "creneau") {
            $("input[name=poste][id=id_poste]").val(ligne);
            $("input[name=benevole][id=id_benevole]").val("");
            /* alert ('poste : ' + ligne); */
        }
        else if (type == "benevole") {
            $("input[name=benevole][id=id_benevole]").val(ligne);
            $("input[name=poste][id=id_poste]").val("");
            /* alert ('benevole : ' + ligne); */
        }
        else {
            alert ('ce type de créneau n\'existe pas !');
        }
    }
</script>

<div class="modal fade"
     id="modal-creneau_ajouter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="creneau_ajouter"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">
                {% if type == "poste" %}Ajout d'un creneau
                {% elif type == "benevole" %}Ajout d'une disponibilité{% endif %}
                </h5>
            </div>
            <form  id="form-creneau" class="form-creneau" method='post'>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table">
                        {{ FormCreneau.as_table }}
                    </table>
                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <input type="hidden" name="planning" id="id_planning" value="{{ Planning.UUID }}">
                    {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                    <input type="hidden" name="equipe" value="{{ Planning.equipe_id }}">
                    
                    <input type="hidden" name="creneau_ajouter" value="" >
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                        Ajouter
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
