<!-- evenement/creneau_bouton.html -->
{##################################################################}
{# la personne est benevole et les objets contenant le creneau sont ouverts : poste ouvert, evenement ouvert ...#}
{# ou alors c'est un organisateur qui est sur sa page de bénévolat #}
{% if Benevole and ouvert == 'oui' %}
    {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau poste poste-{{ poste.UUID }}" style="grid-row: ligne-{{ creno.poste_id }};
                             grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                        form="benevole_libere_creneau" name="creneau" value="{{ creno.UUID }}"
                        data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom"
                        title="{{Text.click_to_release_t}}" type="submit" onclick="loader()">
                    <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
                </button>

        {# simplement occupé par un autre bénévole -> toujours disabled pour les simples benevoles #}
        {% else %}
            <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.slot_busy_t}}" disabled>
                <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {%else %}
        {# bénévole mineur et creneau reservé majeur -> toujours disabled pour les benevoles mineurs #}
        {% if not Majeur and not creno.poste.ouvert_mineur %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.reserved_adult_t}}" disabled>
                <a><b>{{Text.reserved_adult}}</b></a>
            </button>
        {# le benevole est dans la liste des benevoles du creneau #}
        {% elif user.profilebenevole.UUID|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button class="creneau_libre poste poste-{{ poste.UUID }}" style="grid-row: ligne-{{ creno.poste_id }};
                            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    form="benevole_prend_creneau" name="creneau" value="{{ creno.UUID }}"
                    data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                    title="{{Text.slot_available_t}}" type="submit" onclick="loader()">
                <a><b>{{Text.slot_available}}</b></a>
            </button>
        {# le bénévole est dejà pris sur cet horaire -> toujours disabled pour les simples benevoles #}
        {% elif not user.profilebenevole.UUID|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button  class="creneau_libre_moi_occupe poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.already_busy_t}}" disabled>                            
                <a><b></b></a>
            </button>
        {# sinon , je sais pas comment on arrive ici, par défaut dispo #}
        {% else %}
            <button class="creneau_libre poste poste-{{ poste.UUID }}" style="grid-row: ligne-{{ creno.poste_id }};
                            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    form="benevole_prend_creneau" name="creneau" value="{{ creno.UUID }}"
                    data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                    title="{{Text.slot_available_t}}" type="submit" onclick="loader()">
                <a><b>{{Text.slot_available}}</b></a>
            </button>
        {% endif %}
    {% endif %}

{##################################################################}
{# la personne est benevole et les contenants du creneau sont fermés : poste fermé, evenement non editable ...#}
{% elif Benevole and ouvert == 'non' %}
   {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                    style="grid-row: ligne-{{ creno.poste_id }};
                    grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                    title="{{Text.slot_mine_t}}" disabled>
                    <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
                </button>
        {# simplement occupé par un autre bénévole #}
        {% else %}
            <button class="creneau_occupe_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.slot_busy_t}}" disabled>
                <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {%else %}
        {# bénévole mineur et creneau reservé majeur #}
        {% if not Majeur and not creno.poste.ouvert_mineur %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.reserved_adult_t}}" disabled>
                <a><b>{{Text.reserved_adult}}</b></a>
            </button>
        {# le benevole est dans la liste des benevoles du creneau #}
        {# admin/orga/resp arrvie ici si poste reservé orga, pourquoi!? #}
        {% elif user.profilebenevole.UUID|stringformat:"s" in creneauf.benevole|stringformat:"s" %}
            <button class="creneau_libre_bloque poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.slot_closed_t}}" disabled>
                <a><b>{{Text.slot_closed}}</b></a>
            </button>
        {# le bénévole est dejà pris sur cet horaire #}
        {% else %}
            <button  class="creneau_libre_moi_occupe poste poste-{{ poste.UUID }}" 
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" 
                title="{{Text.already_busy_t}}" disabled>                            
                <a><b></b></a>
            </button>
        {% endif %}
    {% endif %}
{##################################################################}
{# la personne est admin et bénévole #}
{% elif Administrateur or Organisateur or Responsable and Benevole %}
    {# le creneau est occupé #}
    {% if creno.benevole %}
        {# par moi #}
        {% if creno.benevole.personne.UUID == user.UUID %}
                <button class="creneau poste poste-{{ poste.UUID }}"
                    style="grid-row: ligne-{{ creno.poste_id }};
                    grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                    title="{{Text.slot_mine_t}}" 
                    data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer"
                    data-bs-evenementuuid="{{ Evenement.UUID }}"
                    data-bs-creneauuuid="{{ creno.UUID }}">
                    <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
                </button>
        {# simplement occupé par un autre bénévole #}
        {% else %}
            <button class="creneau_occupe poste poste-{{ poste.UUID }}"
                style="grid-row: ligne-{{ creno.poste_id }};
                grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                title="{{Text.volunteer_infos_t}}
                {{Text.volunteer_email_t}} {{creno.benevole.personne.email}}
                {{Text.volunteer_phone_t}} {{creno.benevole.personne.portable}}"
                data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer"
                data-bs-evenementuuid="{{ Evenement.UUID }}"
                data-bs-creneauuuid="{{ creno.UUID }}">
                <a><b>{{ creno.benevole.personne.last_name|upper }} {{ creno.benevole.personne.first_name|capfirst }}</b></a>
            </button>
        {% endif %}
    {# creneau libre #}
    {% else %}
        <button class="creneau_libre poste poste-{{ poste.UUID }}"
            style="grid-row: ligne-{{ creno.poste_id }};
            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
            title="{{Text.slot_available_t}}"
            data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer"
            data-bs-evenementuuid="{{ Evenement.UUID }}"
            data-bs-creneauuuid="{{ creno.UUID }}">
            <a><b>{{Text.slot_available}}</b></a>
        </button>

    {% endif %}
{% endif %}             