{# evenement/creneau_affiche_edite.html #}

{# pour le placement dans la grille planning garder le filtre sur creno.debut et creno.fin comme la fonction planning_range de views.py : #}
{# affiche le creneau sur le planning avec poste en ordonnées #}
{% if source_type == "creneau" %}
    <button  class="{%if libre == 'non'%}creneau{%else%}creneau_libre{%endif%} poste poste-{{ poste.UUID }}" 
            style="grid-row: ligne-{{ creno.poste_id }};
            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
            title="{%if libre == 'non'%}créneau occupé{%else%}créneau disponible{%endif%}"
            data-bs-toggle="modal" data-bs-target="#modal-creneau_creneau_editer-{{ creno.UUID }}">
            {%if libre == 'non'%}<a><b>{{ creno.benevole }}</b></a>
            {%else%}<a><b>Disponible</b></a>{%endif%}
    </button>

{# affiche le creneau sur le planning avec benevole en ordonnées #}
{% elif source_type == "benevole" %}
    <button  class="creneau {%if creno.type == 'benevole'%}creneau_libre{%else%}creneau_occupe{%endif%} benevole benevole-{{ creno.benevole_id }}" 
            style="grid-row: ligne-{{ creno.benevole_id }};
            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
            title="{%if le_benevole == 'oui' %}{{ user.last_name|upper }} {{ user.first_name|capfirst }}
                   {%else%}{{ benevole }}{%endif%}
                   {%if creno.type == 'benevole'%} disponible{%else%} ocupé {{ creno.planning_id.nom }}{%endif%}"
            data-bs-toggle="modal" data-bs-target="#modal-creneau_benevole_editer-{{ creno.UUID }}">
                <a>{{ creno.equipe.nom }}{%if creno.poste%} <i class="bi bi-chevron-right"></i> {{ creno.poste.nom }}{%endif%}</a>
    </button>
{% endif %}

{# modal #}
<div class="modal fade" id="modal-creneau_{% if source_type == 'creneau' %}creneau{% elif source_type == 'benevole' %}benevole{% endif %}_editer-{{ creno.UUID }}" tabindex="-1" role="dialog" aria-labelledby="Creneaudetails" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">{{ creno.equipe.nom }} {% if creno.poste.nom %}<i class="bi bi-chevron-right"></i> {{ creno.poste.nom }}{% endif %}</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <form  id="form-creneau"  method='post'>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table">
                        {% for uuid, creneauf in DicCreneaux.items %}
                            {% if uuid|stringformat:"s" == creno.UUID|stringformat:"s" %}
                                {{ creneauf.as_table }}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="modal-footer">

                    <input type="hidden" name="creneau" value="{{ creno.UUID }}">
                    {# les utilisateurs avec privilieges ( admin, orga, responsables) peuvent supprimer les creneaux#}
                     {# les benevoles peuvent supprimer les creneaux type "benevoles" qu'il occupe  #}
                    {% if 'evenement.delete_creneau'  in perms or creno.benevole_id == user.profilebenevole.UUID and creno.type == "benevole" %} 
                        <button class="btn btn-danger" title="supprimer ce créneau" name="creneau_supprimer"
                                id="creneau_supprimer" value="supprimer" type="button"
                                data-bs-toggle="modal" data-bs-target="#modal-confirme-creneau-supprime-{{ creno.UUID }}">
                                Supprimer
                        </button>
                    {% endif %}

                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    {# les utilisateurs avec privilieges ( admin, orga, responsables) peuvent modifier les creneaux #}
                    {# le benevole peuvent modifier les creneaux disponibles et les creneaux qu'il occupe  #}
                    {% if 'evenement.change_creneau' and 'evenement.delete_creneau' in perms or libre == 'oui' or creno.benevole_id == user.profilebenevole.UUID %}
                        <button type="submit" id="creneau_modifier" name="creneau_modifier"  class="btn btn-primary success">Modifier</button>
                    {% endif %}
                </div>
            </form>

        </div>
    </div>
</div>

{# modal de confirmation de suppression doit etre en dehors du div pour s'afficher correctement #}
<div class="modal fade"
     id="modal-confirme-creneau-supprime-{{ creno.UUID }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="creneau_supprime"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmer La suppression du créneau</h5>
            </div>
            <div class="modal-body">
                Etes-vous sur?
                <table class="table">
                    <tr><th>Equipe</th><td id="equipe">{{ creno.equipe.nom }}</td></tr>
                    <tr><th>Planning</th><td id="equipe">{{ Planning.nom }}</td></tr>
                    <tr><th>Poste</th><td id="poste">{{ poste.nom }}</td></tr>
                    <tr><th>Créneau</th><td id="creneau_supprimer">{{ creno.nom }}</td></tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                <button type="submit" id="creneau_supprimer_confirme" class="btn btn-danger success">Oui</button>
            </div>
        </div>
    </div>
</div>

<script>
    /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
    $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').on('click', '#creneau_supprimer_confirme', function(e){
        /* alert('submitting-{{ forloop.counter }}'); */
        $('#form-creneau').append('<input type="hidden" name="creneau_supprimer" value="{{ creno.UUID }}">');
        /* pour le traitement view et form on envoi le type de creneau qu on supprime */
        $('#form-creneau').append('<input type="hidden" name="type" value="{{ creno.type }}">'); 
        document.getElementById('form-creneau').submit();
        $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').modal('toggle');
        e.preventDefault();
    });
</script>
