{# evenement/equipe_ajoute.html #}

<span class="equipe-slot" aria-hidden="true" style="grid-row: equipe-add; grid-column: equipes;">
        <form  id="form-equipe_ajouter" method='post'>
            {% csrf_token %}
            <button style=""
                    class="btn btn-sm"
                    title="ajouter une équipe"
                    id="bouton-equipe_ajouter"
                    type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-equipe_ajouter">
                <div>
                    <i class="bi bi-plus-square-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                </div>
            </button>
        </form>
    </button>
</span>

{# modal doit etre en dehors du div pour s'afficher correctement #}

<div class="modal fade"
     id="modal-equipe_ajouter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="equipe_ajouter"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Ajout d'une équipe</h5>
            </div>
            <form  id="form-equipe" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                    <table class="table">
                        {{ FormEquipe.as_table }}
                    </table>
                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <input name="equipe" value="{{ Planning.equipe_id }}" type="hidden">

                    <input name="equipe_ajouter" value="" type="hidden">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="equipe_ajouter" class="btn btn-primary success">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /* affiche le modal de confirmation quand appuie sur le bouton type=submit */
    $('#form-equipe_ajouter').on('submit', function(e){
        /* alert('modal'); */
        $('#modal-equipe_ajouter').modal('show');
        e.preventDefault();
    });

    /* quand le bouton Ajouter est utilisé dans modal, submit la form et ferme le modal */
    $(document).on('click', '#equipe_ajouter', function () {
        /* alert('submitting-{{ forloop.counter }}'); */
        document.getElementById('form-equipe').submit();
        $('#modal-equipe_ajouter').modal('toggle');
    });
</script>
