{% extends 'evenement/evenement_detail.html' %}
{% comment "" %}{% extends 'evenement/base.html' %}{% endcomment %}

{% block equipe %}

    <ul class="list-group">
        <li class="list-group-item">
            <a href={% url 'detail_evenement' uuid_evenement=Evenement.UUID_evenement %}>
                <H1> équipe </H1>
            </a>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item">
            <a href={% url 'detail_equipe' uuid_equipe=Equipe.UUID_equipe %}><H2>{{ Equipe.nom }}</H2></a>
        </li>
        <li class="list-group-item"><b>description :</b> {{ Equipe.description }}</li>
        <li class="list-group-item">ici les details de l'equipe</li>
    </ul>
{% endblock equipe %}
{% block planning %}

    {% if Plannings %}
    <ul class="list-group">
        <li class="list-group-item">
            <H1> plannings </H1>
        </li>
    </ul>
    <ul class="list-group">

        {% for plan in Plannings %}
            <li class="list-group-item">
                <a href={% url 'detail_planning' uuid_planning=plan.UUID_planning %}>
                <H2>{{ plan.nom }}</H2>
                </a>
            </li>
        {% endfor %}

    </ul>
    {% endif %}

{% endblock planning %}