{% extends 'evenement/base.html' %}
{% comment "" %}
    {% block content %}
    <ul>
        <a href={% url 'liste_plannings' %}><H1>{{ Equipe.nom }}</H1></a>
        <li>description : {{ Equipe.description }}</li>
    </ul>
    <ul>
        <li>ici les details de l'equipe</li>
    </ul>

    {% endblock content %}

{% endcomment %}

{% block content %}
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <ul>
    <H1> équipe : </H1>
    </ul>
    <ul>

        <a href={% url 'liste_plannings' %}><H2>{{ Equipe.nom }}</H2></a>
        <li>description : {{ Equipe.description }}</li>
    </ul>
    <ul>
        <li>ici les details de l'equipe</li>
    </ul>
  </div>
  <div class="column" style="background-color:#bbb;">
    <H1> Plannings : </H1>
    {% if Plannings %}
        {% for plan in Plannings %}
                <ul>
                    <a href={% url 'detail_planning' uuid_planning=plan.UUID_planning %}>
                    <H2>{{ plan.nom }}</H2>
                    </a>
                </ul>
        {% endfor %}

    {% else %}
        <p>il n'y a pas encore de planning créés pour cette équipe.</p>
    {% endif %}
  </div>
</div>

{% endblock content %}