{% extends 'evenement/base.html' %}
<!-- evenement/evenement.html -->
{% load bootstrap5 %}


{% block evenement %}
{# si un planning a été selectionné on affiche les infos dans la page centrale #}
    {% if Planning.UUID %}
        <table class="table">
            <tbody>
                <tr>
                    <td class="col-md-3"><p class="h4"><b>Equipe :</b></p></td>
                    <td class="col-md-3"><p class="h4">{{ Planning.equipe.nom }}</p></td>
                    <td class="col-md-3"><p class="h4"><b>Planning :</b></p></td>
                    <td class="col-md-3"><p class="h4">{{ Planning.nom }}</p></td>
                </tr>
                <tr>
                    <td class="col-md-3"><p class="h4"><b>Debut :</b></p></td>
                    <td class="col-md-3"><p class="h4">{{ Planning.debut|date:"d/m/Y H:i" }}</b></p></td>
                    <td class="col-md-3"><p class="h4"><b>Fin :</p></td>
                    <td class="col-md-3"><p class="h4">{{ Planning.fin|date:"d/m/Y H:i" }}</p></td>
                </tr>
            </tbody>
        </table>
        <br>
    {% endif %}

    {# tabs pour afficher les différents plannings #}
    {% if Planning or Poste %}
        <nav>
            <div class="nav nav-tabs" id="nav-tab" role="tablist">
                {# admins et orgas #}
                {% if 'benevole.change_profilebenevole' in perms %}
                    <button class="nav-link active" id="nav-creneaux-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-creneaux" type="button" role="tab" 
                            aria-controls="nav-creneaux" aria-selected="true">Créneaux</button>
                    <button class="nav-link" id="nav-benevoles-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-benevoles" type="button" role="tab" 
                            aria-controls="nav-benevoles" aria-selected="false">Bénévoles</button>
                {% else%} {# benevoles uniquement #}
                    <button class="nav-link active" id="nav-benevoles-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-benevoles" type="button" role="tab" 
                            aria-controls="nav-benevoles" aria-selected="true">Mon Planning</button>
                    <button class="nav-link" id="nav-creneaux-tab" data-bs-toggle="tab" 
                            data-bs-target="#nav-creneaux" type="button" role="tab" 
                            aria-controls="nav-creneaux" aria-selected="false">Créneaux de l'équipe</button>
                {% endif %}
            </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
            {% comment "planning on affiche que si un planning ou un poste est selectionne" %}{% endcomment %}
                <div class="tab-pane {% if 'evenement.change_planning' in perms %}fade show active{% endif %}" id="nav-creneaux" 
                    role="tabpanel" aria-labelledby="nav-creneaux-tab">
                        {% include "evenement/gridplan_creneaux.html" %}
                </div>
                <div class="tab-pane {% if 'evenement.change_planning' not in perms %}fade show active{% endif %}" id="nav-benevoles" 
                    role="tabpanel" aria-labelledby="nav-benevoles-tab">
                        {# en cours #}
                        {% include "evenement/gridplan_benevoles.html" %}
                </div>

        </div>
    {% elif Evenement %} {# plannings  evenement et equipes #}
        <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-equipes"
                    role="tabpanel" aria-labelledby="nav-equipes-tab">
                        {# en cours #}
                        {% include "evenement/gridplan_equipes.html" %}
                </div>
        </div>
    {% endif %}
{% endblock evenement %}
