{# evenement/evenement.css.html #}

/* ###############################################" */
/* grid pour le planning */
/* ###############################################" */

/*************************
 * GRIDs PLANNING LAYOUT
 * 
 *************************/

@media screen and (min-width:700px) {
	{# PLANNING CRENEAUX #}
	.planning-creneaux {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding: inherit;
		padding-top: 2em;
		padding-bottom: 2em;
		{# construction des entetes et des lignes de la grille planning: heures puis postes #}
		grid-template-rows:
			[heures] 3em
			{% for poste in Postes %}
				{% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
					[ligne-{{ poste.UUID }}] auto
				{% endif %}
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: postes puis heures puis boutons #}
		grid-template-columns:
			[postes] auto
			[postes-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}



	{# colorise les créneaux en fonction du poste et la couleur dans la table poste#}
	{% for poste in Postes %}
		{% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
			.poste-{{ poste.UUID }} {
				background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ poste.couleur }} 50%);
				color: #fff;
				position: relative;
			}
		{% endif %}
	{% endfor %}

	{# PLANNING BENEVOLES #}
	.planning-benevoles {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding: inherit;
		{# construction des entetes et des lignes de la grille planning: heures puis benevoles #}
		grid-template-rows:
			[heures] 3em
			{% for benevole in Benevoles %}
			[ligne-{{ benevole.UUID }}] auto
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: benevoles puis heures puis boutons #}
		grid-template-columns:
			[benevoles] auto
			[benevoles-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}

	{# colorise les créneaux #}
	{% for benevole in Benevoles %}
		.benevole-{{ benevole.UUID }} {
			background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ benevole.couleur }} 50%);
			color: #fff;
			position: relative;
		}
	{% endfor %}

	{# PLANNING EQUIPES #}
	.planning-equipes {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding-top: 3em;
		padding-bottom: 2em;
		padding-left: 2em;
		padding-right: 2em;
		{# construction des entetes et des lignes de la grille planning: heures puis equipes #}
		grid-template-rows:
			[heures] 3em
			{% for equipe in Equipes %}
			[ligne-{{ equipe.UUID }}] auto
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: equipes puis heures puis boutons #}
		grid-template-columns:
			[equipes] auto
			[equipes-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}

	{# colorise les plannings#}
	{% for equipe in Equipes %}
		.equipe-{{ equipe.UUID }} {
			background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ equipe.couleur }} 50%);
			color: #fff;
			position: relative;
		}
	{% endfor %}

	{# colorise les cellules des grids#}
	{% for poste in Postes %}
		.grid-cell.ligne-{{ poste.UUID }}, .grid-cell-minuit.ligne-{{ poste.UUID }} {
			border-bottom-color: {{ poste.couleur }};
			{%if not poste.ouvert %} {# le poste n'est pas ouvert aux bénévols : on edite le fond des cases de la ligne #}
				background-color: #6c757d30;
			{%endif%}
		}
		.poste-slot.ligne-{{ poste.UUID }} {
			border-bottom: inherit;
			border-bottom-color: {{ poste.couleur }};
			{%if not poste.ouvert %} {# le poste n'est pas ouvert aux bénévols : on edite le fond des cases de la ligne #}
				background-color: #6c757d30;
			{%endif%}
		}
	{% endfor %}

	{# PLANNING PARTIE COMMUNE #}

	.time-slot {
		grid-row: heures;
		transform: rotate(-50deg);
	}

	.poste-slot, .poste-bouton-slot, .equipe-slot {
		# display: none; /* hidden on small screens and browsers without grid support */
		text-align: left;
		width: 8vw;
		height: 40px;
	}

	.poste-bouton-slot, .benevole-bouton-slot  {
		min-width: 10px;
		width: 20px;
	}

	.poste-slot, .benevole-slot, .equipe-slot, .poste-bouton-slot, .benevole-bouton-slot   {
		display: block;
		padding: 10px 5px 5px;
		position: sticky;
		height: 2em;
		top: 0;
		z-index: 20;
		#background-color: rgb(255, 255, 255);
	}

	.bouton_edite_poste  {
		padding: 1;
		margin-left: -5px;
		margin-top: 5px;
	}

}

@media screen and (max-width:400px) {
	{# PLANNING CRENEAUX #}
	.planning-creneaux, .planning-equipes {
		display: none;
	}
	.sidebar {
		display: none;
	}
	#nav-creneaux {
		display: none;
	}
}

/*
@supports( display:grid ) {
	@media screen and (min-width:700px) {

	}
}
*/


/* Small-screen & fallback styles */
.session {
	margin-bottom:  1em;
}

@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.poste, .benevole, .planning {
			margin: 0;
			z-index: 20;
		}

	}
}





