<!-- evenement/evenement_principal.html --> 
{% extends 'evenement/base.html' %}

{% load bootstrap5 %}
{% block evenement_principal %}

<!-- affiche le popup d'aide quand on passe sur un element contenant un tooltip -->
<script>
$(document).ready(function(){
  $('[data-bs-toggle="tooltip"]').tooltip();   
});
</script>

    {% if not planning_perso %}
        {# si planning selectionné, on affiche #}

        {% if Planning or Poste %}
            {% if 'benevole.change_profilebenevole' in perms%} {# admins et orgas #}
                {% comment "affichage tab postes et benevole" %}
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-creneaux-tab" data-bs-toggle="tab" 
                                data-bs-target="#nav-creneaux" type="button" role="tab" 
                                aria-controls="nav-creneaux" aria-selected="true">Créneaux</button>
                        <button class="nav-link" id="nav-benevoles-tab" data-bs-toggle="tab" 
                                data-bs-target="#nav-benevoles" type="button" role="tab" 
                                aria-controls="nav-benevoles" aria-selected="false">Bénévoles</button>    
                    </div>
                </nav>
                {% endcomment %}
                <div class="tab-content post_display_javascript" id="nav-tabContent">
                    {# planning on affiche que si un planning ou un poste est selectionné #}
                    <div class="tab-pane fade show active post_display_javascript" id="nav-creneaux" 
                        role="tabpanel" aria-labelledby="nav-creneaux-tab">
                            {% include "evenement/gridplan_postes.html" %}
                    </div>
                    {% comment "affichage tab benevole" %}
                    <div class="tab-pane post_display_javascript" id="nav-benevoles" 
                        role="tabpanel" aria-labelledby="nav-benevoles-tab">
                            {% include "evenement/gridplan_benevoles.html" %}
                    </div>
                    {% endcomment %}
                </div>

            {% else %} {# benevoles #}
                <div class="tab-content post_display_javascript" id="nav-tabContent">
                    {% include "evenement/gridplan_postes.html" %}
                </div>
            {% endif %}

        {# une equipe est selectionnée par un benevole, pas de planning ou de poste #}
        {# page par defaut admin: plannings  evenement et equipes #} 
        {% elif Evenement and not Planning and not Poste and 'evenement.change_planning' in perms %} 
            <div class="tab-content post_display_javascript" id="nav-tabContent">
                <div class="tab-pane fade show active post_display_javascript" id="nav-equipes"  
                    role="tabpanel" aria-labelledby="nav-equipes-tab">
                        {% include "evenement/gridplan_equipes.html" %}
                </div>
            </div>
        {# a analyser comment on arrive ici , on part sur planning perso #}    
        {% else %}
            {% include "evenement/gridplan_planningperso.html" %}
        {% endif %}

    {% else %}
        {# page par defaut des benevoles de l'evenement: son planning sur l evenement #}
        {% if Evenement and user.profilebenevole in Benevoles %}
            <div class="tab-content post_display_javascript" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-equipes"
                    role="tabpanel" aria-labelledby="nav-equipes-tab">
                    {%if equipe_uuid%}
                        {% include "evenement/gridplan_equipes.html" %}
                    {% else %}
                        {% include "evenement/gridplan_planningperso.html" %}
                    {% endif %}
                </div>
            </div>
        {% endif %}
    {% endif %}
{% endblock evenement_principal %}
