{% extends 'evenement/base.html' %}

{% load bootstrap5 %}

{% block evenement %}
    {% comment "haut de notre page avec les infos de l evenement" %}{% endcomment %}
    <ul class="list-group list-group-horizontal">
        <li class="list-group-item"><H1> evenement </H1></li>
        <li class="list-group-item"><H2>{{ Evenement.nom }}</H2></li>
        <li class="list-group-item">date de début : {{ Evenement.date_debut }}</li>
        <li class="list-group-item">date de fin : {{ Evenement.date_fin }}</li>
        <li class="list-group-item">ici les details de l'evenement</li>
    </ul>

{% endblock evenement %}

{% block equipes %}
    <div class="list-group" id="liste_equipes_forms">
        {% for team in Equipes %}
            <form class="form evenement-form" method="post"> {# action pas selectionné donc meme self page #}
                <button class="list-group-item evenement-button 
                        {% if team.UUID_equipe|stringformat:'s' == equipe|stringformat:'s' %}active{% endif %}"
                         title={{ team.nom }}>
                    <H4>{{ team.nom }}</h4>
                        {% csrf_token %}
                        <input  name="evenement" value="{{ Evenement.UUID_evenement }}" type="hidden">
                        <input  name="equipe" value="{{ team.UUID_equipe }}" type="hidden">
                </button>
            </form>
        {% endfor %}
    </div>
{% endblock equipes %}

{% block plannings %}
    <div class="list-group" id="liste_plannings_forms">
        {% for plan in Plannings %}
            <form class="form evenement-form" method="post"> {# action pas selectionné donc meme self page #}
                <button class="list-group-item evenement-button
                        {% if plan.UUID_planning|stringformat:'s' == planning|stringformat:'s' %}active{% endif %}"
                        title={{ plan.nom }}>
                    <H4>{{ plan.nom }}</H4>
                        {% csrf_token %}
                        <input  name="evenement" value="{{ Evenement.UUID_evenement }}" type="hidden">
                        <input  name="equipe" value="{{ Equipe.UUID_equipe }}" type="hidden">
                        <input  name="planning" value="{{ plan.UUID_planning }}" type="hidden">
                </button>
            </form>
        {% endfor %}
    </div>
{% endblock plannings %}

{% block agenda %}
    </br>
    <H2> {{ Planning.nom }} : {{ Planning.debut|date:"d/m/Y H:i" }} - {{ Planning.fin|date:"d/m/Y H:i" }}</H2>

        <div class="schedule" aria-labelledby="schedule-heading">
            {# affiche les entetes des colonnes du planning : les heures #}
            {% for dates, heures in PlanningRange.items %} 
                <h2 class="time-slot" style="grid-column: time-{{ dates }}; grid-row: heures">{{ heures.0 }}</h2>
            {% endfor %}

            {% if Postes %}
                {% for poste in Postes %}
                    {# affiche les entetes des lignes du planning : postes #}
                    <div class="poste-slot"
                        aria-hidden="true"
                        style="grid-row: poste-{{ poste.UUID_poste }}; grid-column: postes;">
                            <p style="margin-bottom: 0px;">{{ poste.nom }}</p>
                    </div>
                    {% if 'evenement.change_poste'  in perms %}
                        {% include "evenement/poste_edite.html" %}
                    {% endif %}

                    {#% for creno_benevole in Creneaux_Benevoles %#}
                    {% for creno in Creneaux %}
                        {% if creno.poste_id == poste.UUID_poste %}
                            {# affiche le creneau dans la grid ccs#} 
                            {# si un benevole est affecté au créneau #}
                            {% if creno.benevole_id %}
                                {% include "evenement/creneau_edite.html" with libre='non' %}
                            {% else %} {# pas de benevole affecté au créneau #}
                                {% include "evenement/creneau_edite.html" with libre='oui' %}          
                            {% endif %}
                        {% endif %}
                    {% endfor %}

                    {# decoration css: on parcour toutes les cellule de la grid css pour y appliquer un div #}
                    {% for dates, dateheure in PlanningRange.items %}

                        {% if 'evenement.add_creneau' in perms %}
                            <div class="grid-cell" 
                                 style="grid-row: poste-{{ poste.UUID_poste }}; 
                                        grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
                                <form id ="form-bouton-creneau" method="post">
                                    <input type="hidden" name="creneau-poste-init" value="{{ poste.UUID_poste }}"></a>
                                    <input type="hidden" name="creneau-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"></a>
                                    
                                    <button class="grid-cell" type="button" id="creneau_ajouter-{{ poste.UUID_poste }}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                                            style="width:100%; height:100%" title="ajouter un créneau"
                                            onClick="creneau_pre_modal_info(this.form)"
                                            data-bs-toggle="modal" data-bs-target="#modal-creneau_ajouter">
                                    </button>
                                </form>
                            </div>
                            {#% include "evenement/creneau_ajoute.html" %#}
                        {% else %}
                            <div class="grid-cell" 
                                 style="grid-row: poste-{{ poste.UUID_poste }}; 
                                        grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

            {% else %}
                <span class="poste-slot" aria-hidden="true" style="grid-row: heures; grid-column: postes-boutons;">
                    <p> pas encore de postes définis </p>
                </span>
            {% endif %}

            {# ajoute une ligne vide pour pouvoir ajouter des postes au besoins #}
            {% if 'evenement.add_poste' in perms %}
                {% include "evenement/poste_ajoute.html" %}
            {% endif %}

            {# modal d ajout des creneau #}
            {% if 'evenement.add_creneau' in perms %}
                {% include "evenement/creneau_ajoute.html" %}
            {% endif %}


        </div>
{% endblock agenda %}
