<!-- evenement/grid_cellules.html -->
{% if planning_perso%}
    {# a completer #}
{% endif %}

{# decoration css: on parcour toutes les cellule de la grid css pour y appliquer un div #}
{% for dates, dateheure in PlanningRange.items %}
    {% if not forloop.last %} {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}

        {% if ligne == "poste" %}
            <div class="{%if dateheure.1|date:'Hi' == '0000'%}grid-cell-minuit{%else%}grid-cell{%endif%} ligne-{{ poste.UUID }}"
                    style="grid-row: ligne-{% if le_benevole == 'oui' %}{{ user.profilebenevole.UUID }}{% else %}{{ row_type.UUID }}{% endif %};
                        grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
            </div>
        {% elif ligne == "equipe" %}
            <div class="{%if dateheure.1|date:'Hi' == '0000'%}grid-cell-minuit{%else%}grid-cell{%endif%} ligne-{{ equipe.UUID }}"
            style="grid-row: ligne-{% if le_benevole == 'oui' %}{{ user.profilebenevole.UUID }}{% else %}{{ row_type.UUID }}{% endif %};
                grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
            </div>
        {% endif %}

        

    {% else %}
        {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
        <div class="{% if forloop.last %}grid-cell-last{% else %}grid-cell{% endif %} ligne-{{ poste.UUID }}" 
                style="grid-row: ligne-{% if le_benevole == 'oui' %}{{ user.profilebenevole.UUID }}{% else %}{{ row_type.UUID }}{% endif %};
                grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};"></div>
    {% endif %}
{% endfor %}
