{# evenement/gridplan_benevoles.html #}
<div class="planning-benevoles" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% for dates, heures in PlanningRange.items %}
        <div class="planning-head" style="grid-column: time-{{ dates }}; grid-row: heures">
            <h6 class="time-slot">{{ heures.0 }}</h6>
        </div>
    {% endfor %}
    
    {# gestionnaire ou orga : parcours les benevoles de l'evenement #}
        {% if Benevoles %} 
            {% for benevole in Benevoles %}
                {% for creno in Creneaux %}
                    {# si on trouve au moins une dispo du bénévole sur le planning  #}
                    {% if  creno.benevole_id == benevole.UUID and creno.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' and creno.type == "benevole" %}
                        {# affiche les entetes des lignes du planning : benevoles #}
                        <div class="benevole-slot"
                            aria-hidden="true"
                            style="grid-row: ligne-{{ benevole.UUID }}; grid-column: benevoles;">
                                <p style="margin-bottom: 0px;">{{ benevole }}</p>
                        </div>
                        {% if 'evenement.change_poste'  in perms %}
                            {% include "evenement/poste_edite.html" %}
                        {% endif %}
                        {% for creno in Creneaux_plage %}
                            {% if creno.benevole_id == benevole.UUID %}
                                {# AFFICHE LES CRENEAU DANS LA GRID  CSS #}
                                {% include "evenement/creneau_affiche_edite.html" with source_type="benevole" %}
                            {% endif %}
                        {% endfor %}
                            {% include "evenement/grid_cellules.html" with row_type=benevole ligne="benevole" %}
                    {% endif %}
                {% endfor %}
            {% endfor %}
        {% else %}
            <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
                <p> pas encore de benevole défini </p>
            </span>
        {% endif %}


{% comment "" %}
    {# ajoute une ligne vide pour pouvoir ajouter des postes au besoins #}
    {% if 'evenement.add_benevole' in perms %}
        {% include "evenement/benevole_ajoute.html" %}
    {% endif %}
{% endcomment %}
</div>
{# modal d ajout des creneaux type=benevole #}
{# il est dejà présent si admin, orga, on rajoute si benevole uniquement #}
{% comment "" %}{% endcomment %}
{% if not 'benevole.change_benevole' in perms %}
    {% include "evenement/creneau_ajoute.html" %}
{% endif %}
