<!-- evenement/gridplan_evenement.html -->

<div class="container">
    <div class="row align-items-end">
        <div class="col-md-12">
            <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                title="les planning des différentes équipes pour l'évènement.">
                Evenement : Les équipes et leurs plannings associés
            </h2>
        </div>
    </div>
</div>    
<hr class="border-2 border-top border-dark"> {# barre horizontale #}

<div class="planning-equipes" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}

    {% for dates, heures in PlanningRange.items %}
        <div class="planning-head-equipes" style="grid-column: time-{{ dates }}; grid-row: heures">
            <h6 class="time-slot">
                {% if heures.0|stringformat:'s' != "00:00" and heures.1|date:'i' == '00'%}
                    {{ heures.0 }} {# affiche les heures pleines #}
                {% elif heures.0|stringformat:'s' == "00:00" %} {# affiche le jour a minuit #}
                    <b>{{ heures.1|date:'d/m/y' }}</b>
                {% endif %}
            </h6>
        </div>
    {% endfor %}

    {% if Evenement and not equipe_uuid %}
        {# affiche toutes les equipes #}
        {% for equipe in Equipes %}
            {# affiche les entetes des lignes du planning : equipes #}
            <div class="equipe-slot"
                aria-hidden="true"
                style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;"

                data-bs-toggle="tooltip" data-bs-placement="right"  data-bs-html="true"
                title="
                equipe : {{ equipe.nom }}<br>
                {% if equipe.description %}
                    description :
                    {{equipe.description}}
                {% endif %}
                ">
                    <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
            </div>
            {% if 'evenement.change_equipe'  in perms %}
                    {% include "evenement/equipe_edite.html" %}
            {% endif %} 
            {% for planning in Plannings %}
                    {% if planning.equipe_id == equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "evenement/planning_bouton.html" with equipe=equipe %}
                {% endif %}
            {% endfor %}
            
            {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
        {% endfor %}
        {# ajoute une ligne vide pour pouvoir ajouter des equipes au besoins et le modal de modif des plannings #}
        {% if GroupeUtilisateur in 'Administrateur,Organisateur,Responsable' %}
            {% include "evenement/equipe_ajoute.html" %}
            {% include "evenement/modal_planning_edite.html"  %}
        {% endif %}
    {% elif equipe_uuid %}
        {# une equipe de selectionnée, on affiche que cette équipe dans le planning #}
        {% for equipe in Equipes %}
            {% if  equipe.UUID|stringformat:'s' == equipe_uuid|stringformat:'s'%}
                {# affiche les entetes des lignes du planning : equipes #}
                <div class="equipe-slot"
                    aria-hidden="true"
                    style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;">
                        <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
                </div>
                {% for planning in Plannings %}
                    {% if planning.equipe_id == equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "evenement/planning_bouton.html" with equipe=equipe %}
                    {% endif %}
                {% endfor %}
                
                {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
            {% endif %}
        {% endfor %}
    {% else %}
        <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
            <p> pas encore d'équipe défini </p>
        </span>
    {% endif %}
</div>