{# evenement/gridplan_planningperso.html #}
{# page du planning du benevole #}
{% if not 'benevole.change_profilebenevole' in perms %}
    <h2>Votre planning sur l'évènement</h2> 
    <h6>Vous pouvez sélectionner un planning d'équipe pour y inscrire vos disponibilités. En fonction, un responsable viendra vous affecter aux céneaux.</h6>
    <h6>Sinon vous pouvez directement choisir des créneaux dans le menu de gauche.</h6>
{% endif %}

<div class="planning-equipes" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% for dates, heures in PlanningRange.items %}
        <div class="planning-head-equipes" style="grid-column: time-{{ dates }}; grid-row: heures">
            <h6 class="time-slot">
                {% if heures.0|stringformat:'s' != "00:00" and heures.1|date:'i' == '00'%}
                    {{ heures.0 }} {# affiche les heures pleines #}
                {% elif heures.0|stringformat:'s' == "00:00" %} {# affiche le jour a minuit #}
                    <b>{{ heures.1|date:'d/m/y' }}</b>
                {% endif %}
            </h6>
        </div>
    {% endfor %}

    {# affiche toutes les equipes #}
    {% for equipe in Equipes %}
        {# affiche les entetes des lignes du planning : equipes #}
        <div class="equipe-slot-planningperso"
            aria-hidden="true"
            style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;">
                <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
        </div>
        {% for planning in Plannings %}
            {% if planning.equipe_id == equipe.UUID %}
            {# AFFICHE LES PLANNINGS DES EQUIPES DANS LA GRID CSS #}
                <form class="form_grid_button_planningperso" style="grid-row: ligne-{{ equipe.UUID }}; 
                    grid-column: time-{{ planning.debut|date:'Y-m-d-Hi' }} / time-{{ planning.fin|date:'Y-m-d-Hi' }};" method="post">
                    {% csrf_token %}
                    <input  name="evenement" value="{{ equipe.evenement.UUID }}" type="hidden">
                    <input  name="equipe" value="{{ equipe.UUID }}" type="hidden">
                    <input  name="planning" value="{{ planning.UUID }}" type="hidden">
                    {% comment "" %}
                    <button  class="planningperso" 
                    title="{{ equipe.nom|upper }} > {{ planning.nom }}"
                    type="submit">
                    <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
                    </button>
                    {% endcomment %}
                    <button class="planningperso" type="button" 
                        id="creneau_ajouter-{{ user.profilebenevole.UUID}}"
                        title="ajouter une disponibilité"
                        style="width:100%; height:100%" title="me déclarer disponible"
                        data-bs-toggle="modal" data-bs-target="#modal-dispo_creer-{{ planning.UUID }}"
                        {# on autorise l'ajout de dispo que si dispo_actif=True #}
                        {% if dispo_actif != "True" %}disabled{% endif %}
                        >
                        <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
                    </button>
                </form>
            {% endif %}
        {% endfor %}
        {# AFFICHE LES DISPO ET LES CRENEAUX DU BENEVOLE #}
        {# le bénévole peut editer uniquement ses dispos #}
        {% for creno in Creneaux %}
            {% if creno.benevole_id == user.profilebenevole.UUID and creno.equipe_id == equipe.UUID %}
                <button  class="creneau {%if creno.type == 'benevole'%}creneau_libre{%else%}creneau_occupe{%endif%} equipe equipe-{{ equipe.UUID }}" 
                        style="grid-row: ligne-{{ equipe.UUID }};
                        grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                        title="{%if creno.type == 'benevole'%}éditer la disponible{%else%}
{{ creno.equipe.nom }} - {{ creno.poste.nom }} : {{ creno.debut|date:'d/m/Y' }}
{{ creno.debut|date:'H:i' }} > {{ creno.fin|date:'H:i' }}
{%endif%}"
                        data-bs-toggle="modal" data-bs-target="{% if creno.type == 'benevole' %}#modal-dispo_editer-{{ creno.UUID }}{% endif %}"
                        {# on autorise la modif de dispo que si dispo_actif=True #}
                        {% if dispo_actif != "True" %}disabled{% endif %}
                        >
                            <a>{{ creno.equipe.nom }}{%if creno.poste%} <i class="bi bi-chevron-right"></i> {{ creno.poste.nom }}{%endif%}</a>
                </button>
            {% endif %}
        {% endfor %}

        {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
    {% endfor %}
</div>

{# on autorise l'ajout , la modif, la suppression de dispo que si dispo_actif=True#}
{% if dispo_actif == "True" %}
    {# modal de creation de dispo du benevole #}
    {% for planning in Plannings %}
        <div class="modal fade"
            id="modal-dispo_creer-{{ planning.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_creer"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            Se déclarer disponible
                        </h5>
                    </div>
                    <form  id="form-creneau" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">Debut :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ planning.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">Fin :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ planning.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">Description :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ planning.UUID }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ planning.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ planning.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau_ajouter" value="" >

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                Ajouter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {# modal d edition de dispo du benevole #}
    {% for creno in Creneaux %}
        <div class="modal fade"
            id="modal-dispo_editer-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_editer"
            aria-hidden="true">
            <div class="modal-dialog" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            {% if creno.type == 'benevole'%}
                                Editer la disponiblité
                            {% else %}
                                Editer le créneau
                            {% endif %}
                        </h5>
                    </div>
                    <form  id="form-creneau-{{ creno.UUID }}" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">Debut :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ creno.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">Fin :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ creno.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">Description :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500" value="{{ creno.description }}">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ creno.planning_id }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ creno.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ creno.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau" value="{{ creno.UUID }}" >
                            {# si c'est une dispo soit un benevole_id, alors le poste est a NULL , sinon son UUID #}
                            <input type="hidden" name="creneau_modifier" value="{% if creno.benevole_id %}NULL{% else %}{{creno.poste_id}}{% endif %}" >

                            <button class="btn btn-danger" title="supprimer cette disponibilité" name="creneau_supprimer"
                                    id="creneau_supprimer" value="supprimer" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal-confirme-creneau-supprime-{{ creno.UUID }}">
                                    Supprimer
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                Modifier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# modal de confirmation de suppression de la dispo #}
        <div class="modal fade"
            id="modal-confirme-creneau-supprime-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="creneau_supprime"
            aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Confirmer La suppression de la disponibilité</h5>
                    </div>
                    <div class="modal-body">
                        Etes-vous sur?
                        <table class="table">
                            <tr><th>Disponibilité</th><td id="creneau">{{ creno.equipe.nom }} : {{ creno.debut|date:'d/m/Y' }}
{{ creno.debut|date:'H:i' }} > {{ creno.fin|date:'H:i' }}</td></tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                        <button type="submit" id="creneau_supprimer_confirme" class="btn btn-danger success">Oui</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
            $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').on('click', '#creneau_supprimer_confirme', function(e){
                /* alert('submitting-{{ forloop.counter }}'); */
                $('#form-creneau-{{ creno.UUID }}').append('<input type="hidden" name="creneau_supprimer" value="{{ creno.UUID }}">');
                document.getElementById('form-creneau-{{ creno.UUID }}').submit();
                $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').modal('toggle');
                e.preventDefault();
            });

        </script>
    {% endfor %}
{% endif %}