<!-- evenement/gridplan_equipe.html -->


{# forms benevoles pour prendre ou libérerer en créneau dans evenement/creneau_affiche.html #}
<form id="benevole_prend_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_prend_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

<form id="benevole_libere_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_libere_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

<div class="container">
    <div class="row align-items-end">
        <div class="col-md-12">
            <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                title="les planning des différentes équipes pour l'évènement, avec tes créneaux.">
                {{ Planning.equipe.nom }} : Planning du {{ Planning.debut|date:'l j F' }}
            </h2>
        </div>
    </div>
</div>    
<hr class="border-2 border-top border-dark"> {# barre horizontale #}

<div class="overflow-scroll">
    <div class="planning-creneaux" aria-labelledby="planning-heading" id="planning-creneaux">
        {# affiche les entetes des colonnes du planning : les heures #}
        
        {% for dates, heures in PlanningRange.items %}
            <div class="planning-head" style="grid-column: time-{{ dates }}; grid-row: heures">
                <h6 class="time-slot">{{ heures.0 }}</h6>
            </div>
        {% endfor %}

        {% if Evenement and Postes %}
            {% for poste in Postes %}
                {% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
                    {# affiche les entetes des lignes du planning : postes #}
                    <div class="poste-slot ligne-{{ poste.UUID }}"
                        aria-hidden="true"
                        style="grid-row: ligne-{{ poste.UUID }}; grid-column: postes;"
                        data-bs-toggle="tooltip" data-bs-placement="right"  data-bs-html="true"
                        title="
                        poste : {{ poste.nom }}<br>
                        {# affiche les infos aux bénévoles sur les raisons de non accès a ce poste #}
                        {% if not poste.ouvert and not 'evenement.change_poste'  in perms %}
                            <b>Ce poste n'est pas ouvert.</b><br><br>
                        {% elif not poste.ouvert_mineur and not 'evenement.change_poste'  in perms %}
                            <b>Ce poste n'est pas ouvert aux mineurs.</b><br><br>
                        {% endif %}
                        {% if poste.description %}
                            description :
                            {{poste.description}}
                        {% endif %}
                        ">
                            {{ poste.nom }}
                    </div>
                    {% if 'evenement.change_poste'  in perms %}
                        {% include "evenement/poste_edite.html" %}
                    {% endif %}
                    {% for creno in Creneaux %}
                        {% if creno.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' and creno.poste_id == poste.UUID and creno.type == "creneau" %}
                            {# AFFICHE LES CRENEAU DANS LA GRID CSS et construit les modals associés #}
                            {% include "evenement/creneau_affiche.html" with source_type="creneau" %}
                        {% endif %}
                    {% endfor %}
                    {% include "evenement/grid_cellules.html" with row_type=poste ligne="poste" %}
                {% endif %}

                
            {% endfor %}
        {% else %}
            {% comment "" %}
            <span class="poste-slot" aria-hidden="true" style="grid-row: heures; grid-column: postes-boutons;">
                <p> POP </p>
            </span>
            {% endcomment %}
        {% endif %}
        {# ajoute une ligne vide pour pouvoir ajouter des postes #}
        {% if GroupeUtilisateur in 'Administrateur,Organisateur,Responsable' %}
            <span class="poste-ajoute" aria-hidden="true" style="grid-row: poste-add; grid-column: postes;">
                <form  id="form-poste_ajouter" method='post'>
                    {% csrf_token %}
                    <button style=""
                            class="btn btn-sm"
                            title="ajouter un poste"
                            id="bouton-poste_ajouter"
                            type="submit"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-poste_ajouter">
                        <div>
                            <i class="bi bi-plus-square-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                        </div>
                    </button>
                </form>
            </span>
            {% include "evenement/modal_poste_ajoute.html" %}
        {% endif %}
    </div>
</div>
{# modal d ajout et de modif des creneaux type=creneau #}
{% comment "" %}{% endcomment %}
{% if GroupeUtilisateur in 'Administrateur,Organisateur,Responsable' %}
    {% include "evenement/modal_creneau_ajoute.html" with type='poste' %}
    {% include "evenement/modal_creneau_edite.html" with type='poste' source_type="creneau" %}
{% endif %} 

