{# evenement/gridplan_planningperso.html #}
{# page du planning du benevole #}
{% if not 'benevole.change_profilebenevole' in perms %}
    <h2>Votre planning sur l'évènement</h2> 
    <h6>Merci de sélectionner un planning d'équipe pour acceder aux détails et y inscrire vos disponibilités</h6>
{% endif %}

<div class="planning-equipes" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% for dates, heures in PlanningRange.items %}
        <div class="planning-head-equipes" style="grid-column: time-{{ dates }}; grid-row: heures">
            <h6 class="time-slot">
                {% if heures.0|stringformat:'s' != "00:00" and heures.1|date:'i' == '00'%}
                    {{ heures.0 }} {# affiche les heures pleines #}
                {% elif heures.0|stringformat:'s' == "00:00" %} {# affiche le jour a minuit #}
                    <b>{{ heures.1|date:'d/m/y' }}</b>
                {% endif %}
            </h6>
        </div>
    {% endfor %}

    {% if Evenement and not equipe_uuid %} {# affiche toutes les equipes #}
        {% for equipe in Equipes %}
            {# affiche les entetes des lignes du planning : equipes #}
            <div class="equipe-slot-planningperso"
                aria-hidden="true"
                style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;">
                    <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
            </div>
            {% for planning in Plannings %}
                {% if planning.equipe_id == equipe.UUID %}
                {# AFFICHE LES PLANNINGS DES EQUIPES DANS LA GRID CSS #}
                    <form class="form_grid_button_planningperso" style="grid-row: ligne-{{ equipe.UUID }}; 
                        grid-column: time-{{ planning.debut|date:'Y-m-d-Hi' }} / time-{{ planning.fin|date:'Y-m-d-Hi' }};" method="post">
                        {% csrf_token %}
                        <input  name="evenement" value="{{ equipe.evenement.UUID }}" type="hidden">
                        <input  name="equipe" value="{{ equipe.UUID }}" type="hidden">
                        <input  name="planning" value="{{ planning.UUID }}" type="hidden">
                        {% comment "" %}
                        <button  class="planningperso" 
                        title="{{ equipe.nom|upper }} > {{ planning.nom }}"
                        type="submit">
                        <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
                        </button>
                        {% endcomment %}
                        <button class="planningperso" type="button" 
                            id="creneau_ajouter-{{ user.profilebenevole.UUID}}"
                            title="ajouter une disponibilité"
                            style="width:100%; height:100%" title="me déclarer disponible"
                            data-bs-toggle="modal" data-bs-target="#modal-dispo_ajouter-{{ planning.UUID }}">
                            <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
                        </button>
                    </form>
                {% endif %}
            {% endfor %}

            {% for creno in Creneaux %}
                {% if creno.benevole_id == user.profilebenevole.UUID and creno.equipe_id == equipe.UUID %}
                    <button  class="creneau {%if creno.type == 'benevole'%}creneau_libre{%else%}creneau_occupe{%endif%} equipe equipe-{{ equipe.UUID }}" 
                            style="grid-row: ligne-{{ equipe.UUID }};
                            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                            title="{%if le_benevole == 'oui' %}{{ user.last_name|upper }} {{ user.first_name|capfirst }}
                                {%else%}{{ benevole }}{%endif%}
                                {%if creno.type == 'benevole'%} disponible{%else%} ocupé {{ creno.planning_id.nom }}{%endif%}"
                            data-bs-toggle="modal" data-bs-target="#modal-creneau_benevole_editer-{{ creno.UUID }}">
                                <a>{{ creno.equipe.nom }}{%if creno.poste%} <i class="bi bi-chevron-right"></i> {{ creno.poste.nom }}{%endif%}</a>
                    </button>
                {% endif %}
            {% endfor %}

            {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
        {% endfor %}
    {% else %}
        <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
            <p> pas encore d'équipe défini </p>
        </span>
    {% endif %}
</div>

{# modals d'ajout de la dispo du benevole #}
{% for planning in Plannings %}
    <div class="modal fade"
        id="modal-dispo_ajouter-{{ planning.UUID }}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="dispo_ajouter"
        aria-hidden="true">
        <div class="modal-dialog" role="document" style="z-index:1050">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">
                        Ajout d'une disponibilité
                    </h5>
                </div>
                <form  id="form-creneau" class="form-creneau" method='post'>
                    <div class="modal-body">
                        {% csrf_token %}
                        <table class="table">
                            {{ FormCreneau.as_table }}
                        </table>
                    </div>

                    <div class="modal-footer">
                        {# données pour garder le planning affiché apres submission POST#}
                        <input type="hidden" name="planning" id="id_planning" value="{{ planning.UUID }}">
                        {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                        <input type="hidden" name="equipe" value="{{ planning.equipe_id }}">
                        
                        <input type="hidden" name="type" value="benevole" >
                        <input type="hidden" name="creneau_ajouter" value="" >
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                            Ajouter
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endfor %}