{# evenement/gridplan_creneaux.html #}

<div class="planning-creneaux" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% for dates, heures in PlanningRange.items %}
        <div class="planning-head" style="grid-column: time-{{ dates }}; grid-row: heures">
            <h8 class="time-slot">{{ heures.0 }}</h8>
        </div>
    {% endfor %}

    {% if Evenement and Postes %}
        {% for poste in Postes %}
            {# affiche les entetes des lignes du planning : postes #}
            <div class="poste-slot"
                aria-hidden="true"
                style="grid-row: ligne-{{ poste.UUID }}; grid-column: postes;">
                    <p style="margin-bottom: 0px;">{{ poste.nom }}</p>
            </div>
            {% if 'evenement.change_poste'  in perms %}
                {% include "evenement/poste_edite.html" %}
            {% endif %}
            {#% for creno_benevole in Creneaux_Benevoles %#}
            {% for creno in CreneauxCreneau %}
                    {% if creno.poste_id == poste.UUID and creno.type == "creneau" %}
                    {# AFFICHE LES CRENEAU DANS LA GRID  CSS #}
                    {% if creno.benevole_id %} {# si un benevole est affecté au créneau #}
                        {% include "evenement/creneau_affiche_edite.html" with libre='non' %}
                    {% else %} {# sinon pas de benevole affecté au créneau #}
                        {% include "evenement/creneau_affiche_edite.html" with libre='oui' %}
                    {% endif %}
                {% endif %}
            {% endfor %}

            {% include "evenement/grid_cellules.html" with row_type=poste ligne="poste" postemessage_title='ajouter un créneau commençant à {{ dateheure.0 }}, poste {{ poste.nom }}' %}
            
        {% endfor %}
    {% else %}
        <span class="poste-slot" aria-hidden="true" style="grid-row: heures; grid-column: postes-boutons;">
            <p> POP </p>
        </span>
    {% endif %}
    {# ajoute une ligne vide pour pouvoir ajouter des postes au besoins #}
    {% if 'evenement.add_poste' in perms %}
        {% include "evenement/poste_ajoute.html" %}
    {% endif %}
</div>
{# modal d ajout des creneau #}
{% if 'evenement.add_creneau' in perms %}
    {% include "evenement/creneau_ajoute.html" %}
{% endif %} 