{# evenement/grid_cellules.html #}

{# decoration css: on parcour toutes les cellule de la grid css pour y appliquer un div #}
{% for dates, dateheure in PlanningRange.items %}
    {% if not forloop.last %} {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
        <div class="grid-cell"
                style="grid-row: ligne-{% if le_benevole == "oui" %}{{ user.profilebenevole.UUID }}{% else %}{{ row_type.UUID }}{% endif %};
                    grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">

            {# si utilisateur a le droit, on presente les form pour ajouter un creneau (creneau type creneau) sur le poste #}
            {% if ligne == "poste" and 'evenement.add_creneau' in perms %}
                <form id ="form-case-bouton-planning" method="post">
                    <input type="hidden" name="case-ligne-init" value="{{ row_type.UUID }}">
                    <!--input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"-->
                    {# format du champs compatible avec SplitDateTimeMultiWidget de la form #}
                    <input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'Y-m-d H:i' }}">
                    <input type="hidden" name="creneau-moyen" value="{{ Planning.creneau_moyen }}">
                    <input type="hidden" name="type" value="creneau">

                    <button class="grid-cell" type="button" id="creneau_ajouter-{{ row_type.UUID }}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                            style="width:100%; height:100%" title="ajouter un créneau commençant à {{ dateheure.0 }}, poste {{ poste.nom }}"
                            onClick="creneau_pre_modal_info(this.form)"
                            data-bs-toggle="modal" data-bs-target="#modal-creneau_ajouter">
                    </button>
                </form>

            {# pour tous les utilisateurs, presente les form pour ajouter une dispo (creneau type benevole) au benevole #}
            {#% elif ligne == "benevole" and 'benevole.view_profilebenevole' in perms %#}
            {% elif ligne == "benevole" %}
                {# si un admin ou orga, il peut editer sa ligne ou si c'est un benevole il peut editer sa ligne #}
                {% if row_type.UUID == user.UUID or not row_type.UUID %}
                    <form id ="form-case-bouton-planning" method="post">
                        <input type="hidden" name="case-ligne-init" 
                            value="{% if 'benevole.change_profilebenevole' in perms %}{{ row_type.UUID }}{% else %}{{ user.UUID }}{% endif %}">
                        <!--input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"-->
                        {# format du champs compatible avec SplitDateTimeMultiWidget de la form #}
                        <input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'Y-m-d H:i' }}">
                        <input type="hidden" name="creneau-moyen" value="{{ Planning.creneau_moyen }}">
                        <input type="hidden" name="type" value="benevole">

                        <button class="grid-cell" type="button" 
                                id="creneau_ajouter-{% if 'benevole.change_profilebenevole' in perms %}{{ row_type.UUID }}
                                {% else %}{{ user.UUID}}{% endif %}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                                style="width:100%; height:100%" title="ajouter une disponibilité commençant à {{ dateheure.0 }}"
                                onClick="creneau_pre_modal_info(this.form)"
                                data-bs-toggle="modal" data-bs-target="#modal-creneau_ajouter">
                        </button>
                    </form>
                {% endif %}

            {# si utilisateur a le droit, on presente les form pour ajouter un planning a l equipe #}
            {% elif ligne == "equipe" and 'evenement.add_planning' in perms %}
                <form id ="form-case-bouton-planning" method="post">
                    <input type="hidden" name="case-ligne-init" value="{{ row_type.UUID }}">
                    <!--input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"-->
                    {# format du champs compatible avec SplitDateTimeMultiWidget de la form #}
                    <input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'Y-m-d H:i' }}">
                    <input type="hidden" name="creneau-moyen" value="{{ Planning.creneau_moyen }}">

                    <button class="grid-cell" type="button" id="creneau_ajouter-{{ row_type.UUID }}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                            style="width:100%; height:100%" title="ajouter une planning commençant à {{ dateheure.0 }}"
                            onClick="creneau_pre_modal_info(this.form)"
                            data-bs-toggle="modal" data-bs-target="#modal-planning_ajouter">
                    </button>
                </form>
            {% endif %}
        </div>
    {#% include "evenement/creneau_ajoute.html" %#}
    {% else %}
        {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
        <div class="{% if forloop.last %}grid-cell-last{% else %}grid-cell{% endif %}" 
                style="grid-row: ligne-{% if le_benevole == "oui" %}{{ user.profilebenevole.UUID }}{% else %}{{ row_type.UUID }}{% endif %};
                grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};"></div>
    {% endif %}
{% endfor %}