<!-- evenement/grid_entete_heures.html -->

{% for dates, heures in PlanningRange.items %}
    <div class="planning-head-planningperso" style="grid-column: time-{{ dates }}; grid-row: jours"></div>
{% endfor %}    

    
{% for dates, heures in PlanningRange.items %}
    {% if heures.0|stringformat:'s' == "00:00" %}
        <div class="planning-head-day" 
            style="height: 4em; grid-column: time-{{ dates }} / time-{{ heures.1|date:'Y-m-d' }}-2330; grid-row: jours">
            {{ heures.1|date:'l d/m'|upper }}
        </div>
    {% endif %}
{% endfor %}

    
{# ligne d'entete de la grille des plannings en haut de la grid ccss ou en bas en fonction de "ligne" #}
{% for dates, heures in PlanningRange.items %}
    {% if heures.1|date:'i' == '00'%}{# affiche les heures pleines #}
        {% if role == "benevole" %}
            {% if heures.0|stringformat:'s' in "00:00 02:00,04:00,06:00,08:00,10:00,12:00,14:00,16:00,18:00,20:00,22:00" %}{# affiche seulement les heures paires  #}
                <div class='planning-head-planningperso {%if ligne == "bas"%} planning-head-bottom {%else%} planning-head-top {%endif%}' 
                    style='grid-column: time-{{ dates }}; grid-row: {{ligne}}'>
                    <p class="time-slot" style='{%if ligne == "bas"%} padding-top:10px {%endif%}'>
                        {{ heures.1|date:'H' }}{{ Text.hour_short }}
                    </p>
                </div>
            {% else%}
            <div class="planning-head-planningperso" style="grid-column: time-{{ dates }}; grid-row: {{ligne}}">
                </div> 
            {% endif %} 
        {% elif role == "admin" %}
            {% if heures.1|date:'i' == '00' %}{# affiche toutes les heures aux admins  #}
                <div class='planning-head-planningperso {%if ligne == "bas"%} planning-head-bottom {%else%} planning-head-top {%endif%}' 
                    style='grid-column: time-{{ dates }}; grid-row: {{ligne}}'>
                    <p class="time-slot" style='{%if ligne == "bas"%} padding-top:10px {%endif%}'>
                        {{ heures.1|date:'H' }}{{ Text.hour_short }}
                    </p>
                </div>
            {% else%}
                <div class="planning-head-planningperso">
                </div> 
            {% endif %} 
        {% endif %}
    {% else%}
        <div class="planning-head-planningperso" style="grid-column: time-{{ dates }}; grid-row: {{ligne}}">
        </div> 
    {% endif %}
{% endfor %}