<!-- evenement/modal_creneau_edite.html -->

{##################################################################}
{# modal admin de modification des creneaux#}
{# si admin, affiche les details et les boutons d action #}
{% if 'Administrateur' in RolesUtilisateur or 'Organisateur' in RolesUtilisateur or 'Responsable' in RolesUtilisateur %}
    <div class="modal fade" 
        id="modal-creneau_{% if source_type == 'creneau' %}creneau{% elif source_type == 'benevole' %}benevole{% endif %}_editer" 
        tabindex="-1" role="dialog" aria-labelledby="Creneaudetails" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Edition du créneau</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form  id="form-creneau-edite"  method='post'>
                    <div class="modal-body modal-body-edite">
                        {% csrf_token %}
                        <table class="table">
                            <tbody id="fetch_form">
                                {# rempli par le javascript #}
                            </tbody>
                            <input id="creneau_uuid" name="creneau" type="hidden">                                   
                        </table>
                    </div>


                    <div class="modal-footer">

                        <button class="btn btn-danger" title="supprimer ce créneau" name="creneau_supprimer"
                                id="creneau_supprimer" value="supprimer" type="button"
                                data-bs-toggle="modal" data-bs-target="#modal-confirme-creneau-supprime">
                                Supprimer
                        </button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        <button type="submit" id="creneau_modifier" name="creneau_modifier"  class="btn btn-primary success">Modifier</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    {# modal de confirmation de suppression #}
    <div class="modal fade"
        id="modal-confirme-creneau-supprime"
        tabindex="-1"
        role="dialog"
        aria-labelledby="creneau_supprime"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Confirmer la suppression du créneau :</h5>
                </div>
                <div class="modal-body modal-body-supprime">
                    <table class="table">
                        <tbody id="fetch_json">
                            <tr>
                                <th>Debut :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_debut" name="debut" type="datetime" readonly></td>
                            </tr>
                            <tr>
                                <th>Fin :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_fin" name="fin" type="datetime" readonly></td>
                            </tr>
                            <tr>
                                <th>Poste :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_poste" name="poste" type="text" readonly></td>
                            </tr>    
                            <tr>
                                <th>Equipe :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_equipe" name="equipe" type="text" readonly></td>
                            </tr>          
                            <tr>
                                <th>Planning :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_planning" name="planning" type="text" readonly></td>
                            </tr>
                            <tr>
                                <th>Bénévole :</th>
                                <td><input class="form-control-plaintext" id="creneau_table_benevole_id" name="benevole" type="text" readonly></td>
                            </tr>                            
                        </tbody>

                    </table>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                    <button type="submit" id="creneau_supprimer_confirme" class="btn btn-danger success">Oui</button>
                </div>
            </div>
        </div>
    </div>
{% endif %}           


{# scripts de remplissage des forms par api fetch #}
<script>
    var creneau_bs_data;

    /* script de popul du modal editer : utilise api fetch javascript et recupere la form du creneau */
    var modalCreneauCreneauEditer = document.getElementById('modal-creneau_creneau_editer')
    if (modalCreneauCreneauEditer) {
        modalCreneauCreneauEditer.addEventListener('show.bs.modal', function (event) {
            /* Button that triggered the modal */
            var button = event.relatedTarget;
            /* Extract info from data-bs-* attributes */
            creneau_bs_data = button.getAttribute('data-bs-creneauuuid');
            evenement_bs_data = button.getAttribute('data-bs-evenementuuid');
            // fetch process pour récuperer les infos de notre creneau
            let form = new FormData();
            form.append("creneau_uuid", creneau_bs_data);
            form.append("evenement_uuid", evenement_bs_data);
            form.append("creneau_affiche", 'form');
            let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var requete = new Request('{% url "creneau_fetch" %}', {
                headers:{
                    'X-CSRFToken': csrfTokenValue  // ajoute le token dans l'en-tête
                    }, 
                body: form, //form contient les datas envoyées
                method: 'POST', 
                });
            fetch(requete)
            .then(response => response.text())
            .then(creneau_form => {
                // console.log(creneau_form);
                var target = document.getElementById("fetch_form");
                target.innerHTML = creneau_form;
                $(".modal-body-edite #creneau_uuid").val( creneau_bs_data );

            })
            .catch(console.error)
        });
    }

    /* script de popul du modal supprimer : utilise api fetch javascript et recupere un json du creneau*/
    var modalConfirmeCreneauSupprime = document.getElementById('modal-confirme-creneau-supprime')
    if (modalConfirmeCreneauSupprime) {
        modalConfirmeCreneauSupprime.addEventListener('show.bs.modal', function (event) {
            // on travail toujours sur le meme créneau que la fonction précédente
            // console.log(creneau_bs_data);
            // fetch process pour récuperer les infos de notre creneau
            let form = new FormData();
            form.append("creneau_uuid", creneau_bs_data);
            form.append("creneau_affiche", 'json');
            let csrfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
            var requete = new Request('{% url "creneau_fetch" %}', {
                headers:{
                    'X-CSRFToken': csrfTokenValue  // ajoute le token dans l'en-tête
                    }, 
                body: form, //form contient les datas envoyées
                method: 'POST', 
                });

            fetch(requete)
            .then(response => response.json())
            .then(creneau_json => {
                // console.log(creneau_json);
                // alert(JSON.stringify(result))
                // alert(result)
                let creneau_table = JSON.parse(JSON.stringify(creneau_json));
                // console.log(creneau_table);
                // afficher les données recues
                //document.getElementById("creneau_edit").innerHTML = creneau_table.UUID
                $(".modal-body-supprime #creneau_table_debut").val( creneau_table.creneau.debut );
                $(".modal-body-supprime #creneau_table_fin").val( creneau_table.creneau.fin );
                $(".modal-body-supprime #creneau_table_equipe").val( creneau_table.equipe_nom );
                $(".modal-body-supprime #creneau_table_planning").val( creneau_table.planning_nom );
                $(".modal-body-supprime #creneau_table_poste").val( creneau_table.poste_nom );
                $(".modal-body-supprime #creneau_table_benevole_id").val( creneau_table.benevole_nom );
            })
            .catch(console.error)
            //$(".modal-body-edite #creneau-uuid").val( creneau_bs_data );
            //$(".modal-body-supprime #creneau-uuid").val( creneau_bs_data );
        });
    }

    /* quand le bouton OUI est utilisé dans modal de suppression, submit la form et ferme le modal */
    $('#modal-confirme-creneau-supprime').on('click', '#creneau_supprimer_confirme', function(e){
        /* alert('submitting-{{ forloop.counter }}'); */
        $('#form-creneau-edite').append('<input type="hidden" name="creneau_supprimer" value="{{ creno.UUID }}">');
        /* pour le traitement view et form on envoi le type de creneau qu on supprime */
        $('#form-creneau-edite').append('<input type="hidden" name="type" value="{{ creno.type }}">'); 
        document.getElementById('form-creneau-edite').submit();
        $('#modal-confirme-creneau-supprime').modal('toggle');
        e.preventDefault();
    });

</script>