<!-- evenement/page_planning.html -->

{# forms benevoles pour prendre ou libérerer en créneau dans evenement/creneau_affiche.html #}
<form id="benevole_prend_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_prend_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

<form id="benevole_libere_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_libere_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

<div class="container-fluid row align-items-start text-white" style="padding-top: 1em;">
    <div class="col col-5 mb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="background-color:{{ Planning.equipe.couleur }}55;">Equipe :</th>
            </thead>
            <tbody>
            <tr>
                <th scope="row"><h5>{{ Planning.equipe.nom|upper }}</h5></th>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col col-2 text-center" style="max-width: 10rem;">
        <i class="bi bi-caret-right" style='font-size:4em;color:black'></i>
    </div>
    <div class="col col-5 mb-3">
        <table class="table">
            <thead>
            <tr>
                <th scope="col" style="background-color:{{ Planning.couleur }}55;">Planning :</th>
            </thead>
            <tbody>
            <tr>
                <th scope="row">
                    {% if  Planning.debut|date:'l j F'|stringformat:"s" ==  Planning.fin|date:'l j F'|stringformat:"s" %}
                    <h5>{{ Planning.debut|date:'l j F'|upper }} de {{ Planning.debut|date:'H:i' }} à {{ Planning.fin|date:'H:i' }}</h5>
                    {% else %}
                        <h5>{{ Planning.debut|date:'l j F'|upper }} {{ Planning.debut|date:'H:i' }} au {{ Planning.fin|date:'l j F'|upper }} {{ Planning.fin|date:'H:i' }}</h5>
                    {% endif %}

                </th>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<hr class="border-2 border-top border-dark"> {# barre horizontale #}

{# bandeau message d erreur si besoins #}
{% include "evenement/error_message.html" %}

<div class="overflow-scroll">
    <div class="planning-creneaux" aria-labelledby="planning-heading" id="planning-creneaux">
        {# affiche les entetes des colonnes du planning : les heures #}
        
        {% for dates, heures in PlanningRange.items %}
            <div class="planning-head" style="grid-column: time-{{ dates }}; grid-row: heures">
                <h6 class="time-slot">{{ heures.0 }}</h6>
            </div>
        {% endfor %}

        {% if Evenement and Postes %}
            {% for poste in Postes %}
                {% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
                    {# affiche les entetes des lignes du planning : postes #}
                    <div class="poste-slot ligne-{{ poste.UUID }}"
                        aria-hidden="true"
                        style="grid-row: ligne-{{ poste.UUID }}; grid-column: postes;"
                        data-bs-toggle="tooltip" data-bs-placement="right"  data-bs-html="true"
                        title="
                        poste : {{ poste.nom }}<br>
                        {# affiche les infos aux bénévoles sur les raisons de non accès a ce poste #}
                        {% if not poste.ouvert and not Administrateur and not Organisateur and not Responsable %}
                            <b>Ce poste n'est pas ouvert.</b><br><br>
                        {% elif not poste.ouvert_mineur and not Administrateur and not Organisateur and not Responsable %}
                            <b>Ce poste n'est pas ouvert aux mineurs.</b><br><br>
                        {% endif %}
                        {% if poste.description %}
                            description :
                            {{poste.description}}
                        {% endif %}
                        ">
                            {{ poste.nom }}
                    </div>
                    {% if Administrateur or Organisateur or Responsable %} 
                        {% include "evenement/poste_edite.html" %}
                    {% endif %}
                    {% for creno in Creneaux %}
                        {% if creno.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' and creno.poste_id == poste.UUID and creno.type == "creneau" %}
                            {# AFFICHE LES CRENEAU DANS LA GRID CSS et construit les modals associés #}
                            {% include "evenement/creneau_affiche.html" with source_type="creneau" %}
                        {% endif %}
                    {% endfor %}
                    {% include "evenement/grid_cellules.html" with row_type=poste ligne="poste" %}
                {% endif %}

                
            {% endfor %}
        {% else %}
            {% comment "" %}
            <span class="poste-slot" aria-hidden="true" style="grid-row: heures; grid-column: postes-boutons;">
                <p> POP </p>
            </span>
            {% endcomment %}
        {% endif %}
        {# ajoute une ligne vide pour pouvoir ajouter des postes #}
        {% if Administrateur or Organisateur or Responsable %}
            <span class="poste-ajoute" aria-hidden="true" style="grid-row: poste-add; grid-column: postes;">
                <form  id="form-poste_ajouter" method='post'>
                    {% csrf_token %}
                    <button style=""
                            class="btn btn-sm"
                            title="ajouter un poste"
                            id="bouton-poste_ajouter"
                            type="submit"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-poste_ajouter">
                        <div>
                            <i class="bi bi-plus-square-fill" style="font-size: 2rem; color: cornflowerblue;"></i>
                        </div>
                    </button>
                </form>
            </span>
            {% include "evenement/modal_poste_ajoute.html" %}
        {% endif %}
    </div>
</div>
{# modal d ajout et de modif des creneaux type=creneau #}
{% comment "" %}{% endcomment %}
{% if Administrateur or Organisateur or Responsable %}
    {% include "evenement/modal_creneau_ajoute.html" with type='poste' %}
    {% include "evenement/modal_creneau_edite.html" with type='poste' source_type="creneau" %}
{% endif %} 

