<!-- evenement/page_planning.html -->
{# page de toutle planning de l'evenement #}

{# bandeau message d erreur si besoins #}
{% include "evenement/error_message.html" %}

{# titre de la page #}
{% include "evenement/titre_page.html" with page='evenement' %}

<div class="overflow-scroll">
    <div class="planning-equipes" aria-labelledby="planning-heading" >
        {# affiche les entetes des colonnes du planning : les heures #}
        {% for dates, heures in PlanningRange.items %}
            <div class="planning-head-planningperso" style="grid-column: time-{{ dates }}; grid-row: heures">
                <h6 class="time-slot">
                    {% if heures.0|stringformat:'s' != "00:00" and heures.1|date:'i' == '00'%}{# affiche les heures pleines #}
                        {% if heures.0|stringformat:'s' in "02:00,04:00,06:00,08:00,10:00,12:00,14:00,16:00,18:00,20:00,22:00" %}{# affiche seulement midi  #}
                            {{ heures.1|date:'H' }}{{ Text.hours_short }}
                        {% endif %} 
                    {% elif heures.0|stringformat:'s' == "00:00" %} {# affiche le jour a minuit #}
                        <b>{{ heures.1|date:'d/m/y' }}<br>
                           {{ heures.1|date:'D' }}</b>
                    {% endif %}
                </h6>
            </div>
        {% endfor %}

        {# affiche toutes les equipes #}
        {% for equipe in Equipes %}
            {# affiche les entetes des lignes du planning : equipes #}
            <div class="equipe-slot-planningperso text-truncate"
                aria-hidden="true"
                style="grid-row: ligne-{{ equipe.UUID }}; grid-column: equipes;"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="{{ equipe.nom|capfirst }}">
                    <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
            </div>
            {% for planning in Plannings %}
                {% if planning.equipe_id == equipe.UUID %}
                {# AFFICHE LES PLANNINGS DES EQUIPES DANS LA GRID CSS #}
                    {% include "evenement/planning_bouton.html" %}
                {% endif %}
            {% endfor %}
            {# AFFICHE LES DISPO ET LES CRENEAUX DU BENEVOLE #}
            {# le bénévole peut editer uniquement ses dispos #}
            {% for creno in creneaux_benevole %}
                {% if creno.equipe_id == equipe.UUID %}
                    <button  class="creneau-planningperso {%if creno.type == 'benevole'%}creneau_libre{%else%}creneau_occupe_planning{%endif%} equipe equipe-{{ equipe.UUID }}" 
                            style="grid-row: ligne-{{ equipe.UUID }};
                            grid-column: time-{{ creno.debut|date:'Y-m-d-Hi' }} / time-{{ creno.fin|date:'Y-m-d-Hi' }};"
                            title="{%if creno.type == 'benevole'%}{{ Text.available_edit }}{%else%}
    {{ Text.slot_mine_part }} : 
    {{ creno.equipe.nom }} - {{ creno.poste.nom }} : {{ creno.debut|date:'d/m/Y' }}
    {{ creno.debut|date:'H:i' }} > {{ creno.fin|date:'H:i' }}
    {%endif%}"
                            data-bs-toggle="modal" data-bs-target="{% if creno.type == 'benevole' %}#modal-dispo_editer-{{ creno.UUID }}{% endif %}"
                            {# on autorise la modif de dispo que si dispo_actif=True #}
                            {% if dispo_actif != "True" %}disabled{% endif %}
                            >
                                <a>{%if creno.poste%}{{ creno.poste.nom }}{%endif%}</a>
                    </button>
                {% endif %}
            {% endfor %}
            {% include "evenement/grid_cellules.html" with row_type=equipe ligne="equipe" %}
        {% endfor %}
    </div>
</div>

{#####################################################################################}
{#################                  MODALS                ############################}
{#####################################################################################}

{# on autorise l'ajout , la modif, la suppression de dispo que si dispo_actif=True#}
{% if dispo_actif == "True" %}
    {# modal de creation de dispo du benevole #}
    {% for planning in Plannings %}
        <div class="modal fade"
            id="modal-dispo_creer-{{ planning.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_creer"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            {{ Text.eclare_iam_available }}
                        </h5>
                    </div>
                    <form  id="form-creneau" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">{{ Text.slot_start}} :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ planning.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">{{ Text.slot_end}} :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ planning.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">{{ Text.slot_description}} :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ planning.UUID }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ planning.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ planning.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau_ajouter" value="" >

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ Text.button_null }}</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                {{ Text.button_add }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {# modal d edition de dispo du benevole #}
    {% for creno in creneaux_benevole %}
        <div class="modal fade"
            id="modal-dispo_editer-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_editer"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            {% if creno.type == 'benevole'%}
                                {{ Text.available_edit }}
                            {% else %}
                            {{ Text.slot_edit }}
                            {% endif %}
                        </h5>
                    </div>
                    <form  id="form-creneau-{{ creno.UUID }}" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">{{ Text.slot_start }} :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ creno.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">{{ Text.slot_end }} :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ creno.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">{{ Text.slot_description }} :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500" value="{{ creno.description }}">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ creno.planning_id }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ creno.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ creno.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau" value="{{ creno.UUID }}" >
                            {# si c'est une dispo soit un benevole_id, alors le poste est a NULL , sinon son UUID #}
                            <input type="hidden" name="creneau_modifier" value="{% if creno.benevole_id %}NULL{% else %}{{creno.poste_id}}{% endif %}" >

                            <button class="btn btn-danger" title="{{ Text.available_del_h }}" name="creneau_supprimer"
                                    id="creneau_supprimer" value="supprimer" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal-confirme-creneau-supprime-{{ creno.UUID }}">
                                    {{ Text.button_del }}
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{{ Text.button_null }}</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                {{ Text.button_mod }}
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# modal de confirmation de suppression de la dispo #}
        <div class="modal fade"
            id="modal-confirme-creneau-supprime-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="creneau_supprime"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Confirmer La suppression de la disponibilité</h5>
                    </div>
                    <div class="modal-body">
                        {{ Text.you_sure }}
                        <table class="table">
                            <tr><th>{{ Text.availability }}</th><td id="creneau">{{ creno.equipe.nom }} : {{ creno.debut|date:'d/m/Y' }}
{{ creno.debut|date:'H:i' }} > {{ creno.fin|date:'H:i' }}</td></tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">{{ Text.no }}</button>
                        <button type="submit" id="creneau_supprimer_confirme" class="btn btn-danger success">{{ Text.yes }}</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
            $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').on('click', '#creneau_supprimer_confirme', function(e){
                /* alert('submitting-{{ forloop.counter }}'); */
                $('#form-creneau-{{ creno.UUID }}').append('<input type="hidden" name="creneau_supprimer" value="">');
                document.getElementById('form-creneau-{{ creno.UUID }}').submit();
                $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').modal('toggle');
                e.preventDefault();
            });

        </script>
    {% endfor %}
{% endif %}
