<!-- evenement/page_planning_perso.html -->
{# page du planning du benevole #}
<div class="table-responsive">

{########################################################}
{# planning perso tableau #}
{% if creneaux_benevole %}
        {# form du courriel des créneaux #}
        <form method='post' id="form_courriel_creneaux">
            {% csrf_token %}
            <input  name="creneaux_courriel" value="envoi" type="hidden">
            <input  name="creneaux_courriel_message_text" value='
            {# AFFICHE LES CRENEAUX DU BENEVOLE #}
            {% for creno in creneaux_benevole %}
            le {{ creno.debut|date:"D, d F Y" }} de {{ creno.debut|date:"H:i" }} à {{ creno.fin|date:"H:i"  }} | équipe : {{ creno.equipe.nom }} | poste : {{ creno.poste.nom }}
            {% endfor %}'
            type="hidden">
            <input  name="creneaux_courriel_message_html" value='
                <html>
                <head>
                    <style>
                        #creneaux {
                            font-family: Arial, Helvetica, sans-serif;
                            border-collapse: collapse;
                            width: 100%;
                            }

                            #creneaux td, #creneaux th {
                            border: 1px solid #ddd;
                            padding: 8px;
                            }

                            #creneaux tr:nth-child(even){background-color: #f2f2f2;}

                            #creneaux tr:hover {background-color: #ddd;}

                            #creneaux th {
                            padding-top: 12px;
                            padding-bottom: 12px;
                            text-align: left;
                            background-color: #c7252d;
                            color: white;
                        }
                    </style>
                </head>
                <body>
                    <table id="creneaux">
                        <tr>
                            <th>équipe</th>
                            <th>poste</th>
                            <th>jour</th>
                            <th>début</th>
                            <th>fin</th>
                        </tr>
                        {% for creno in creneaux_benevole %}
                            <tr>
                                <td>{{ creno.equipe.nom }}</td>
                                <td>{{ creno.poste.nom }}</td>
                                <td>{{ creno.debut|date:"D, d F Y" }}</td>
                                <td>{{ creno.debut|date:"H:i" }}</td>
                                <td>{{ creno.fin|date:"H:i"  }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </body>
                </html>'    
            type="hidden">
        </form>

    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                {# tableau des creneaux du bénévole#}
                <h2 class="d-inline-block align-middle" style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" title="liste de tes créneaux.">Mon planning sur l'évènement</h2> 
            </div>


        </div>
    </div> 
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="d-grid gap-2">
        {# bouton envoi courriel #}
        <button class="btn btn-primary" form="form_courriel_creneaux" title="pour recevoir la liste de tes créneaux par courriel." 
        data-bs-toggle="modal" data-bs-target="#modal-benevole-supprime">
            <i style="color: var(--bs-white)" class="bi bi-envelope-fill fs-1"></i>
        </button>
    </div>   
    <br>
    <table class="table table-dark  table-striped table-hover">
    <thead>
        <tr>
        <!-- th scope="col">#</th -->
        <th scope="col">équipe</th>
        <th scope="col">poste</th>
        <th scope="col">jour</th>
        <th scope="col">début</th>
        <th scope="col">fin</th>
        </tr>
    </thead>
    <tbody>
        {# AFFICHE LES CRENEAUX DU BENEVOLE #}
        {% for creno in creneaux_benevole %}
            <tr>
            <!-- th scope="row">{{ count|add:"1" }}</th -->
            <td>{{ creno.equipe.nom }}</td>
            <td>{{ creno.poste.nom }}</td>
            <td>{{ creno.debut|date:'D, d F Y' }}</td>
            <td>{{ creno.debut|date:'H:i' }}</td>
            <td>{{ creno.fin|date:'H:i'  }}</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>
{% endif %}


{#####################################################################################}
{#################                  MODALS                ############################}
{#####################################################################################}

{# on autorise l'ajout , la modif, la suppression de dispo que si dispo_actif=True#}
{% if dispo_actif == "True" %}
    {# modal de creation de dispo du benevole #}
    {% for planning in Plannings %}
        <div class="modal fade"
            id="modal-dispo_creer-{{ planning.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_creer"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            Se déclarer disponible
                        </h5>
                    </div>
                    <form  id="form-creneau" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">Debut :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ planning.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">Fin :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ planning.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio planning.pas 1 60 %}" min="0" max="60" value="{{ planning.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">Description :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ planning.UUID }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ planning.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ planning.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau_ajouter" value="" >

                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                Ajouter
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    {% endfor %}

    {# modal d edition de dispo du benevole #}
    {% for creno in creneaux_benevole %}
        <div class="modal fade"
            id="modal-dispo_editer-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="dispo_editer"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">
                            {% if creno.type == 'benevole'%}
                                Editer la disponiblité
                            {% else %}
                                Editer le créneau
                            {% endif %}
                        </h5>
                    </div>
                    <form  id="form-creneau-{{ creno.UUID }}" class="form-creneau" method='post'>
                        <div class="modal-body">
                            {% csrf_token %}
                            <table class="table">
                                {# {{ FormCreneau.as_table }} #} 
                                <tr>
                                    <th>
                                        <label for="id_debut_0">Debut :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_debut_0" name="debut_0" value="{{ creno.debut|date:'Y-m-d' }}" required="">
                                        <input type="time" id="id_debut_1" name="debut_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.debut|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_fin_0">Fin :</label>
                                    </th>
                                    <td>
                                        <input type="date" id="id_fin_0" name="fin_0" value="{{ creno.fin|date:'Y-m-d' }}" required=""> 
                                        <input type="time" id="id_fin_1" name="fin_1" step="{% widthratio creno.planning.pas 1 60 %}" min="0" max="60" value="{{ creno.fin|date:'H:i' }}" required="">
                                    </td>
                                </tr>
                                <tr>
                                    <th>
                                        <label for="id_description">Description :</label>
                                    </th>
                                    <td>
                                        <input id="id_description" type="text" name="description" maxlength="500" value="{{ creno.description }}">
                                    </td>
                                </tr>  
                            </table>
                        </div>

                        <div class="modal-footer">
                            {# données pour garder le planning affiché apres submission POST#}
                            <input type="hidden" name="planning" id="id_planning" value="{{ creno.planning_id }}">
                            <input type="hidden" name="evenement" id="id_evenement" value="{{ creno.evenement_id }}">
                            <input type="hidden" name="planning_perso" value="oui">
                            {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                            <input type="hidden" name="equipe" value="{{ creno.equipe_id }}">
                            <input type="hidden" name="benevole" id="id_benevole" value="{{ user.profilebenevole.UUID}}">
                            
                            <input type="hidden" name="type" value="benevole" >
                            <input type="hidden" name="editable" value="True" >
                            <input type="hidden" name="poste" value="" >
                            <input type="hidden" name="creneau" value="{{ creno.UUID }}" >
                            {# si c'est une dispo soit un benevole_id, alors le poste est a NULL , sinon son UUID #}
                            <input type="hidden" name="creneau_modifier" value="{% if creno.benevole_id %}NULL{% else %}{{creno.poste_id}}{% endif %}" >

                            <button class="btn btn-danger" title="supprimer cette disponibilité" name="creneau_supprimer"
                                    id="creneau_supprimer" value="supprimer" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal-confirme-creneau-supprime-{{ creno.UUID }}">
                                    Supprimer
                            </button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                            <button type="submit" id="bouton-modal-creneau_ajouter" class="btn btn-primary success">
                                Modifier
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        {# modal de confirmation de suppression de la dispo #}
        <div class="modal fade"
            id="modal-confirme-creneau-supprime-{{ creno.UUID }}"
            tabindex="-1"
            role="dialog"
            aria-labelledby="creneau_supprime"
            aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="ModalLabel">Confirmer La suppression de la disponibilité</h5>
                    </div>
                    <div class="modal-body">
                        Etes-vous sur?
                        <table class="table">
                            <tr><th>Disponibilité</th><td id="creneau">{{ creno.equipe.nom }} : {{ creno.debut|date:'d/m/Y' }}
{{ creno.debut|date:'H:i' }} > {{ creno.fin|date:'H:i' }}</td></tr>
                        </table>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                        <button type="submit" id="creneau_supprimer_confirme" class="btn btn-danger success">Oui</button>
                    </div>
                </div>
            </div>
        </div>

        <script>
            /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
            $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').on('click', '#creneau_supprimer_confirme', function(e){
                /* alert('submitting-{{ forloop.counter }}'); */
                $('#form-creneau-{{ creno.UUID }}').append('<input type="hidden" name="creneau_supprimer" value="">');
                document.getElementById('form-creneau-{{ creno.UUID }}').submit();
                $('#modal-confirme-creneau-supprime-{{ creno.UUID }}').modal('toggle');
                e.preventDefault();
            });

        </script>
    {% endfor %}
{% endif %}
