<!-- evenement/page_postes.html -->

{# forms benevoles pour prendre ou libérerer en créneau dans evenement/creneau_affiche.html #}
<form id="benevole_prend_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_prend_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

<form id="benevole_libere_creneau" method="post">
    {% csrf_token %}
    <input type="hidden" name="benevole_libere_creneau">
    {# ajoute les infos au poste pour rester sur la page apres envoi du form#}
    <input type="hidden" name="evenement" value="{{ Evenement.UUID }}">
    <input type="hidden" name="planning" value="{{ planning_uuid }}">
    <input type="hidden" name="equipe" value="{{ equipe_uuid }}">
</form>

{# titre de la page #}
{% include "evenement/partials/titre_page.html" with page='planning'%}

{% if  PostesCreneaux %}
    <div class="grid-planning-creneaux autoscroll-h" id="planning-creneaux">
        {# affiche les entetes des colonnes du planning : les heures #}
        {% for dates, heures in PlanningRange.items %}
            <div class="planning-head" style="grid-column: time-{{ dates }}; grid-row: heures">
                <h6 class="time-slot">{{ heures.0 }}</h6>
            </div>
        {% endfor %}
        {# affiche les entetes des colonnes du planning : les heures #}
        {% include 'evenement/grid_entete_heures.html' with ligne="heures"  %}
        
        {% for poste,creneaux in PostesCreneaux.items %} 
            {# affiche les entetes des lignes du planning : postes #}
            <div class="poste-slot ligne-{{ poste.UUID }}"
                aria-hidden="true"
                style="grid-row: ligne-{{ poste.UUID }}; grid-column: postes;"
                data-bs-toggle="tooltip" data-bs-placement="right"  data-bs-html="true"
                title="
                {{ Text.poste}} : {{ poste.nom }}<br>
                {# affiche les infos aux bénévoles sur les raisons de non accès a ce poste #}
                {% if not PlanningEditer %} {# page bénévole#}
                    {% if not poste.ouvert %}
                        <b>{{ Text.poste_not_open }}</b><br><br>
                    {% elif not poste.ouvert_mineur %}
                        <b>{{ Text.poste_not_minor }}</b><br><br>
                    {% endif %}
                    {% if poste.description %}
                        description :
                        {{poste.description}}
                    {% endif %}
                {% else %} {# orga festival arrivé en edition #}
                    {% if not poste.ouvert %}
                    <b>{{ Text.adm_poste_not_open }}</b><br>
                    {% endif %}
                    {% if not poste.ouvert_mineur %}
                    <b>{{ Text.adm_poste_not_minor }}</b><br>
                    {% endif %}
                {% endif %}
                ">
                    {{ poste.nom }}
            </div>
            {% for creno in creneaux%}
                {% include "evenement/creneau_affiche.html" with source_type="creneau" %}
            {% endfor %}
            {% include "evenement/grid_cellules.html" with row_type=poste ligne="poste" %}
        {% endfor%}
    </div>            

{% else %}
        <p> {{ Text.poste_not_yet }} </p>

{% endif %}


