{% extends 'evenement/equipe_detail.html' %}
{% comment "" %}{% extends 'evenement/base.html' %}{% endcomment %}

{% block planning %}

    <ul class="list-group">
        <li class="list-group-item">
            <a href={% url 'detail_equipe' uuid_equipe=Equipe.UUID_equipe %}>
                <H1> planning </H1>
            </a>
        </li>
    </ul>
    <ul class="list-group">
        <!--a href={% url 'liste_postes' %}><H1>{{ Planning.nom }}</H1></a-->
        <li class="list-group-item">
            <a href={% url 'detail_planning' uuid_planning=Planning.UUID_planning %}><H2>{{ Planning.nom }}</H2></a>
        </li>
        <li class="list-group-item"><b>debut :</b> {{ Planning.debut }}</li>
        <li class="list-group-item"><b>fin :</b> {{ Planning.fin }}</li>
        <li class="list-group-item"><b>description :</b> {{ Planning.description }}</li>
        <li class="list-group-item">ici les details du planning</li>
    </ul>

{% endblock planning %}
{% block poste %}

    {% if Postes %}
        <ul class="list-group">
            <li class="list-group-item">
                <H1> postes </H1>
            </li>
        </ul>
        <ul class="list-group">

        {% for poste in Postes %}
            <li class="list-group-item">
                <a href={% url 'detail_poste' uuid_poste=poste.UUID_poste %}>
                <H2>{{ poste.nom }}</H2>
                </a>
            </li>
        {% endfor %}

        </ul>
    {% endif %}

{% endblock poste %}
