{# evenement/planning.css.html #}

/* ###############################################" */
/* grid pour le planning */
/* ###############################################" */

/*************************
 * GRIDs PLANNING LAYOUT
 * 
 *************************/

@media screen and (min-width:700px) {
	{# PLANNING CRENEAUX #}
	.planning-creneaux {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding: inherit;
		{# construction des entetes et des lignes de la grille planning: heures puis postes #}
		grid-template-rows:
			[heures] 3em
			{% for poste in Postes %}
				{% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
					[ligne-{{ poste.UUID }}] auto
				{% endif %}
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: postes puis heures puis boutons #}
		grid-template-columns:
			[postes] auto
			[postes-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}

	{# colorise les créneaux en fonction du poste et la couleur dans la table poste#}
	{% for poste in Postes %}
		{% if poste.planning_id|stringformat:'s' == planning_uuid|stringformat:'s' %}
			.poste-{{ poste.UUID }} {
				background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ poste.couleur }} 50%);
				color: #fff;
				position: relative;
			}
		{% endif %}
	{% endfor %}

	{# PLANNING BENEVOLES #}
	.planning-benevoles {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding: inherit;
		{# construction des entetes et des lignes de la grille planning: heures puis benevoles #}
		grid-template-rows:
			[heures] 3em
			{% for benevole in Benevoles %}
			[ligne-{{ benevole.UUID }}] auto
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: benevoles puis heures puis boutons #}
		grid-template-columns:
			[benevoles] auto
			[benevoles-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}

	{# colorise les créneaux #}
	{% for benevole in Benevoles %}
		.benevole-{{ benevole.UUID }} {
			background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ benevole.couleur }} 50%);
			color: #fff;
			position: relative;
		}
	{% endfor %}

	{# PLANNING EQUIPES #}
	.planning-equipes {
		#overflow-x: scroll;
		inline-size: fit-content;
		display: grid;
		gap: 0.2em;
		border: 1px solid #ffffff;
		padding: inherit;
		{# construction des entetes et des lignes de la grille planning: heures puis equipes #}
		grid-template-rows:
			[heures] 3em
			{% for equipe in Equipes %}
			[ligne-{{ equipe.UUID }}] auto
			{% endfor %};
		{# construction des entete et des colonnes de la grille planning: equipes puis heures puis boutons #}
		grid-template-columns:
			[equipes] auto
			[equipes-boutons] auto
			{% for dates, heures in PlanningRange.items %}
			[time-{{ dates }}] auto
			{% endfor %}
			;
	}

	{# colorise les plannings#}
	{% for equipe in Equipes %}
		.equipe-{{ equipe.UUID }} {
			background-image: linear-gradient(to bottom, var(--bs-light) 0px, {{ equipe.couleur }} 50%);
			color: #fff;
			position: relative;
		}
	{% endfor %}

	{# PLANNING PARTIE COMMUNE #}

	.time-slot {
		grid-row: heures;
		transform: rotate(-50deg);
	}

	.poste-slot, .poste-bouton-slot, .equipe-slot {
		# display: none; /* hidden on small screens and browsers without grid support */
		text-align: left;
		width: 100px;
		height: 40px;
	}

	.poste-bouton-slot, .benevole-bouton-slot  {
		min-width: 10px;
		width: 20px;
	}

}

@supports( display:grid ) {
	@media screen and (min-width:700px) {
		.poste-slot, .benevole-slot, .equipe-slot, .poste-bouton-slot, .benevole-bouton-slot   {
			display: block;
			padding: 10px 5px 5px;
			position: sticky;
			height: 2em;
			top: 0;
			z-index: 20;
			background-color: rgb(255, 255, 255);
		}

		.bouton_edite_poste  {
			padding: 1;
			margin-left: -5px;
			margin-top: 5px;
		}
	}
}

/* Small-screen & fallback styles */
.session {
	margin-bottom:  1em;
}

@supports( display:grid ) {
	@media screen and (min-width: 700px) {
		.poste, .benevole, .planning {
			margin: 0;
			z-index: 20;
		}

	}
}

/*************************
 * VISUAL STYLES
 * 
 *************************/

body {
	padding: 50px;
	#max-width: 1100px;
	margin: 0 auto;
	line-height: 1.5;
}

.grid-cell-last {
	border-left: inherit; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
}

.grid-cell, .grid-cell-minuit {
	border-left: inherit; 
	border-bottom: inherit; 
	border-color: lightgray;
	background-color: transparent;
	border-top: transparent;
	border-right: transparent;
}

.grid-cell-minuit{
	# border-left-color: black;
	border-left-width: 2px;
}

.poste-slot,
.equipe-slot,
.benevole-slot, 
.time-slot {
	display: flex;
	# align-items: center;
	justify-content: center;
	font-weight: bold;
	# font-size:.75em;
}

.planning-head, .planning-head-equipes {
	display: inline-grid;
	# width: 1.5em;
	max-width: 2em;
}

.planning-head-equipes {
	width: 1em;
}

.text {
	max-width: 750px;
	font-size: 18px;
	margin: 0 auto 50px;
}

.meta {
	color: #555;
	font-style: italic;
}

.meta a {
	color: #555;
}

hr {
	margin: 40px 0;
}

{# styles evenement #}
.evenement-button {
	/* width: -webkit-fill-available; */
	width: 100%;
	text-align: left;
}

.evenement-form {
	margin: inherit;
}

{# styles des creneaux #}

.creneau, .creneau_libre, .planning {
	box-shadow: 3px 2px #888;
	#display: block;
	#color: rgb(0, 0, 0);

	border-top: 1px solid #b2dba1;
	border-bottom: 1px solid #b2dba1;
	# background-image: linear-gradient(to bottom, #dff0d8 0px, #c8e5bc 100%);
	background-repeat: repeat-x;
	border-width: 1px;
	font-size: .75em;
	padding: 0 .75em;
	line-height: 2em;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 1px;
	border-radius: 10px;
}

{# utilisé si personne affecté au creneau et si pas bloqué : créneau libre #}
.creneau_libre {
	background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-teal) 50%);
}
{# créneau occupé dans la vue planning benevole(s) #}
.creneau_occupe {
	background-image: linear-gradient(to bottom, var(--bs-light) 0px, var(--bs-dark) 70%);
	z-index: 50;
}

.form_grid_button {
	margin: 0;
}

.form_grid_button .planning, .form_grid_button_planningperso .planningperso {
	display: block;
	width: 100%;
	height: 100%;
}

.equipe-slot-planningperso {
	height: 5em;
}

.form_grid_button_planningperso .planningperso { 
	background-image: linear-gradient(to bottom, #dff0d82b 0px, #bce5d636 100%);
	position: relative;
}
