<!-- evenement/planning_bouton.html -->

{# orga : permet d'afficher la form d'edition dans le modal #}
{% if 'evenement.change_equipe' in perms %}
    {# pour le placement dans la grille planning garder le filtre sur planning.debut et planning.fin comme la fonction planning_range de views.py : #}
    <button  class="planning equipe-{{ equipe.UUID }}" 
            style="grid-row: ligne-{{ equipe.UUID }};
            grid-column: time-{{ planning.debut|date:'Y-m-d-Hi' }} / time-{{ planning.fin|date:'Y-m-d-Hi' }};"
            title='{{ equipe.nom|upper }} > {{ planning.nom }}'
            data-bs-toggle="modal" data-bs-target="#modal-edite-planning-{{ planning.UUID }}">
            <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
    </button>

    {# modal #}
    <div class="modal fade" id="modal-edite-planning-{{ planning.UUID }}" tabindex="-1" role="dialog" aria-labelledby="Planningdetails" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>

                <form  id="form-planning"  method='post'>
                    <div class="modal-body">
                        {% csrf_token %}
                        <table class="table">
                            {% comment "" %}
                            {% for uuid, planningf in DicPlannings.items %}
                                {% if uuid|stringformat:"s" == planning.UUID|stringformat:"s" %}
                                    {{ planningf.as_table }}
                                {% endif %}
                            {% endfor %}
                            {% endcomment %}
                        </table>
                    </div>

                    <div class="modal-footer">

                        <input name="planning" value="{{ planning.UUID }}" type="hidden">
                        {# les utilisateurs avec privilieges ( admin, orga, responsables)#}
                        {# supprime la form #}
                        {% if 'evenement.delete_planning'  in perms %} 
                            <button class="btn btn-danger" title="supprimer ce planning" name="planning_supprimer"
                                    id="planning_supprimer" value="supprimer" type="button"
                                    data-bs-toggle="modal" data-bs-target="#modal-confirme-planning-supprime-{{ planning.UUID }}">
                                    Supprimer
                            </button>
                        {% endif %}

                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                        {# les utilisateurs avec privilieges ( admin, orga, responsables)#}
                        {# creer la form, la target : si c'est un responsables ou + : il peut tout modifier #}     
                        {% if 'evenement.change_planning' %}
                            <button type="submit" id="planning_modifier" name="planning_modifier"  class="btn btn-primary success">Modifier</button>
                        {% endif %}
                    </div>
                </form>

            </div>
        </div>
    </div>

    {# modal de confirmation de suppression doit etre en dehors du div pour s'afficher correctement #}
    {% if 'evenement.delete_planning'  in perms %}
    <div class="modal fade"
        id="modal-confirme-planning-supprime-{{ planning.UUID }}"
        tabindex="-1"
        role="dialog"
        aria-labelledby="planning_supprime"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document" style="z-index:1050">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Confirmer La suppression du planning</h5>
                </div>
                <div class="modal-body">
                    Etes-vous sur?
                    <table class="table">
                        <tr><th>Equipe</th><td id="equipe">{{ planning.equipe.nom }}</td></tr>
                        <tr><th>Planning</th><td id="planning">{{ planning.nom }}</td></tr>
                    </table>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                    <button type="submit" id="planning_supprimer_confirme" class="btn btn-danger success">Oui</button>
                </div>
            </div>
        </div>
    </div>

    <script>
        /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
        $('#modal-confirme-planning-supprime-{{ planning.UUID }}').on('click', '#planning_supprimer_confirme', function(e){
            /* alert('submitting-{{ forloop.counter }}'); */
            $('#form-planning').append('<input type="hidden" name="planning_supprimer" value="{{ planning.UUID }}">');
            document.getElementById('form-planning').submit();
            $('#modal-confirme-planning-supprime-{{ planning.UUID }}').modal('toggle');
            e.preventDefault();
        });
    </script>
    {% endif %}

{# pour les benevole permet d'acceder au planning simplement#}
{% else %}
    <form class="form_grid_button" style="grid-row: ligne-{{ equipe.UUID }}; 
        grid-column: time-{{ planning.debut|date:'Y-m-d-Hi' }} / time-{{ planning.fin|date:'Y-m-d-Hi' }};" method="post">
        {% csrf_token %}
        <input  name="evenement" value="{{ equipe.evenement.UUID }}" type="hidden">
        <input  name="equipe" value="{{ equipe.UUID }}" type="hidden">
        <input  name="planning" value="{{ planning.UUID }}" type="hidden">
        <button  class="planning equipe-{{ equipe.UUID }}" 
        title="{{ equipe.nom|upper }} > {{ planning.nom }}"
        type="submit">
        <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
        </button>
    </form>
{% endif %}