{# evenement/poste_ajoute.html #}
    
{% comment "bouton d ajout mis en commentaire, on garde au cas où" %}
<span class="poste-slot" aria-hidden="true" style="grid-row: poste-add; grid-column: postes;">
        <form  id="form-planning_ajouter" method='post'>
            {% csrf_token %}
            <button style=""
                    class="btn btn-sm"
                    title="ajouter un planning"
                    id="bouton-planning_ajouter"
                    type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-planning_ajouter">
                <div>
                    <i class="bi bi-plus-circle-fill"></i>
                </div>
            </button>
        </form>
    </button>
</span>
{% endcomment %} 

{# modal doit etre en dehors du div pour s'afficher correctement #}
<div class="modal fade"
     id="modal-planning_ajouter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="planning_ajouter"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Ajout d'un planning</h5>
            </div>
            <form  id="form-planning" method='post'>
                <div class="modal-body">
                        {% csrf_token %}
                    <table class="table">
                        {{ FormPlanning.as_table }}
                    </table>
                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <!--input name="equipe" value="{{ Planning.equipe_id }}" type="hidden"-->
                      
                    <input name="planning_ajouter" value="" type="hidden">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="poste_ajouter" class="btn btn-primary success">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /* affiche le modal de confirmation quand appuie sur le bouton type=submit */
    $('#form-planning_ajouter').on('submit', function(e){
        /* alert('modal'); */
        $('#modal-planning_ajouter').modal('show');
        e.preventDefault();
    });

    /* quand le bouton Ajouter est utilisé dans modal, submit la form et ferme le modal */
    $(document).on('click', '#planning_ajouter', function () {
        /* alert('submitting-{{ forloop.counter }}'); */
        document.getElementById('form-planning').submit();
        $('#modal-poste_ajouter').modal('toggle');
    });
</script>
