<!-- evenement/planning_bouton.html -->

<form class="form_grid_button_planningperso" style="grid-row: ligne-{{ equipe.UUID }}; 
grid-column: time-{{ planning.debut|date:'Y-m-d-Hi' }} / time-{{ planning.fin|date:'Y-m-d-Hi' }};" method="post">
        {% csrf_token %}
        <input  name="evenement" value="{{ equipe.evenement.UUID }}" type="hidden">
        <input  name="equipe" value="{{ equipe.UUID }}" type="hidden">
        <input  name="planning" value="{{ planning.UUID }}" type="hidden">
        {% if dispo_actif == "True" %}
        {# possible de donner ses disponibilités sur le planning #}
        <button class="planning-perso equipe-{{ equipe.UUID }}" type="button" 
                id="creneau_ajouter-{{ user.profilebenevole.UUID}}"
                data-bs-toggle="modal" data-bs-target="#modal-dispo_creer-{{ planning.UUID }}"
                title="me déclarer disponible">
                <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
        </button>
        {% else %}
        <button class="planning-perso equipe-{{ equipe.UUID }}" type="submit" 
                id="creneau_ajouter-{{ user.profilebenevole.UUID}}"
                data-bs-toggle="modal" data-bs-target="#modal-dispo_creer-{{ planning.UUID }}"
                title="aller aux créneaux du planning: {{ equipe.nom|upper }}
                {{ planning.debut|date:'l j F' }} {{ planning.debut|date:'H:i' }} - {{ planning.fin|date:'l j F' }} {{ planning.fin|date:'H:i' }}
                " onclick="loader()">
                <a>{{ equipe.nom|upper }} <i class="bi bi-chevron-right"></i> {{ planning.nom }}</a>
        </button>
        {% endif %}
</form>
