{% extends 'evenement/equipe_detail.html' %}
{% comment "" %}{% extends 'evenement/base.html' %}{% endcomment %}

{% block planning %}

    <ul>
    <H1> planning : </H1>
    </ul>
    <ul>
        <!--a href={% url 'liste_postes' %}><H1>{{ Planning.nom }}</H1></a-->
        <H2>{{ Planning.nom }}</H2>
        <li>description : {{ Planning.description }}</li>
    </ul>
    <ul>
        <li>ici les details du planning</li>
    </ul>

{% endblock planning %}
{% block poste %}

    {% if Postes %}
    <H1> postes : </H1>

        {% for poste in Postes %}
            <ul>
                <a href={% url 'detail_poste' uuid_poste=poste.UUID_poste %}>
                <H2>{{ poste.nom }}</H2>
                </a>
            </ul>
        {% endfor %}
    {% endif %}

{% endblock poste %}    