{# evenement/planning_equipes.html #}


<div class="planning-equipes" aria-labelledby="planning-heading">
    {# affiche les entetes des colonnes du planning : les heures #}
    {% for dates, heures in PlanningRange.items %}
        <h2 class="time-slot" style="grid-column: time-{{ dates }}; grid-row: heures">
        {% if heures.0|stringformat:'s' != "00:00" %}
            {{ heures.0 }}
        {% else %}
            <b>{{ heures.1|date:'d/m/y' }}</b>
        {% endif %}
        </h2>
    {% endfor %}

    {% if Evenement and not Postes %}
        {% if not equipe %}
            {% for equipe in Equipes %}
                {# affiche les entetes des lignes du planning : equipes #}
                <div class="poste-slot"
                    aria-hidden="true"
                    style="grid-row: equipe-{{ equipe.UUID }}; grid-column: equipes;">
                        <p style="margin-bottom: 0px;">{{ equipe.nom|capfirst }}</p>
                </div>
                {% for planning in Plannings %}
                        {% if planning.equipe_id == equipe.UUID %}
                        {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                            {% include "evenement/planning_affiche_edite.html" with equipe=equipe %}
                    {% endif %}
                {% endfor %}
                
                {# decoration css: on parcour toutes les cellule de la grid css pour y appliquer un div #}
                {% for dates, dateheure in PlanningRange.items %}
                    {% if 'evenement.add_creneau' in perms %}
                        {% if not forloop.last %} {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
                            <div class="grid-cell"
                                    style="grid-row: equipe-{{ equipe.UUID }};
                                        grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
                                <form id ="form-case-bouton-planning" method="post">
                                    <input type="hidden" name="case-equipe-init" value="{{ equipe.UUID }}"></a>
                                    <!--input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"></a-->
                                    {# format du champs compatible avec SplitDateTimeMultiWidget de la form #}
                                    <input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'Y-m-d H:i' }}"></a>
                                    <input type="hidden" name="creneau-moyen" value="{{ Planning.creneau_moyen }}">

                                    <button class="grid-cell" type="button" id="creneau_ajouter-{{ equipe.UUID }}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                                            style="width:100%; height:100%" title="ajouter un créneau"
                                            onClick="creneau_pre_modal_info(this.form)"
                                            data-bs-toggle="modal" data-bs-target="#modal-creneau_ajouter">
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                        {#% include "evenement/creneau_ajoute.html" %#}
                    {% else %}
                            {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
                            <div class="{% if forloop.last %}grid-cell-last{% else %}grid-cell{% endif %}" 
                                    style="grid-row: equipe-{{ equipe.UUID }}; grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};"></div>
                    {% endif %}
                {% endfor %}
            {% endfor %}
            
        {% else %}  {# 1 equipe selectionnee #}

            {# affiche les entetes des lignes du planning : equipes #}
            <div class="poste-slot"
                aria-hidden="true"
                style="grid-row: equipe-{{ Equipe.UUID }}; grid-column: equipes;">
                    <p style="margin-bottom: 0px;">{{ Equipe.nom|capfirst }}</p>
            </div>
            {% for planning in Plannings %}
                    {% if planning.equipe_id == Equipe.UUID %}
                    {# AFFICHE LES PLANNINGS DANS LA GRID CSS #}
                        {% include "evenement/planning_affiche_edite.html" with equipe=Equipe%}
                {% endif %}
            {% endfor %}
            
            {# decoration css: on parcour toutes les cellule de la grid css pour y appliquer un div #}
            {% for dates, dateheure in PlanningRange.items %}
                {% if 'evenement.add_creneau' in perms %}
                    {% if not forloop.last %} {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
                        <div class="grid-cell"
                                style="grid-row: equipe-{{ Equipe.UUID }};
                                    grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};">
                            <form id ="form-case-bouton-planning" method="post">
                                <input type="hidden" name="case-equipe-init" value="{{ Equipe.UUID }}"></a>
                                <!--input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'d/m/Y H:i' }}"></a-->
                                {# format du champs compatible avec SplitDateTimeMultiWidget de la form #}
                                <input type="hidden" name="case-debut-init" value="{{ dateheure.1|date:'Y-m-d H:i' }}"></a>
                                <input type="hidden" name="creneau-moyen" value="{{ Planning.creneau_moyen }}">

                                <button class="grid-cell" type="button" id="creneau_ajouter-{{ Equipe.UUID }}-{{ dateheure.1|date:'Y-m-d-Hi' }}"
                                        style="width:100%; height:100%" title="ajouter un créneau"
                                        onClick="creneau_pre_modal_info(this.form)"
                                        data-bs-toggle="modal" data-bs-target="#modal-creneau_ajouter">
                                </button>
                            </form>
                        </div>
                    {% endif %}
                    {#% include "evenement/creneau_ajoute.html" %#}
                {% else %}
                        {# pas de bouton pour la derniere colonne vu qu'elle apparait apres l heure de fin du planning #}
                        <div class="{% if forloop.last %}grid-cell-last{% else %}grid-cell{% endif %}" 
                                style="grid-row: equipe-{{ Equipe.UUID }}; grid-column: time-{{ dateheure.1|date:'Y-m-d-Hi' }};"></div>
                {% endif %}
            {% endfor %}
        {% endif %}
            
    {% else %}
        <span class="benevole-slot" aria-hidden="true" style="grid-row: heures; grid-column: benevoles-boutons;">
            <p> pas encore d'équipe défini </p>
        </span>
    {% endif %}
</div>