{# evenement/poste_edite.html #}

<div id="boutons des postes" class="poste-bouton-slot" aria-hidden="true"
    style="grid-row: ligne-{{ poste.UUID }}; grid-column: postes-boutons;">
        {# affiche le bouton d edition de poste #}
    <form  id="form-poste-change-{{ poste.UUID }}" method='post'>
        {% csrf_token %}
        <input name="poste_modifier" value="{{ poste.UUID }}" type="hidden">
        <button style="padding: 1;margin-right: 5px;"
                class="btn btn-primary btn-sm"
                title="editer ce poste"
                id="bouton-poste-change-{{ poste.UUID }}"
                type="button"
                data-bs-toggle="modal" 
                data-bs-target="#modal-poste-change-{{ poste.UUID }}">
            <div>
                <i class="bi bi-filter-circle-fill"></i>
            </div>
        </button>
    </form>
</div>

{##################### MODALS #####################}
{# modal d edition du poste doit etre en dehors du div pour s'afficher correctement #}
<div class="modal fade"
     id="modal-poste-change-{{ poste.UUID }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Modifer le poste</h5>
            </div>

            <form  id="form-poste-{{ poste.UUID }}"  method='post'>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table">
                        {% for uuid, postef in DicPostes.items %}
                            {% if uuid|stringformat:"s" == poste.UUID|stringformat:"s" %}
                                {{ postef.as_table }}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <input  name="evenement" value="{{ Evenement.UUID }}" type="hidden">
                    {# si on vient ajouter directement un creneau au planning sans passer par equipe, nous ne connaisson pas Equipe.UUID #}
                    <!--input name="equipe" value="{{ Equipe.UUID }}" type="hidden"-->
                    <input name="equipe" value="{{ Planning.equipe_id }}" type="hidden">
                    <input  name="planning" value="{{ Planning.UUID }}" type="hidden">

                    <input  name="poste" value="{{ poste.UUID }}" type="hidden">
                    
                    {% if 'evenement.delete_poste'  in perms %}
                        <button class="btn btn-danger" title="supprimer ce poste" name="poste_supprimer"
                                id="poste_supprimer" value="supprimer" type="button"
                                data-bs-toggle="modal" data-bs-target="#modal-confirme-poste-supprime-{{ poste.UUID }}">
                                Supprimer
                        </button>
                    {% endif %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="poste_modifier" name="poste_modifier" value="modifier" class="btn btn-primary success">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# modal de confirmation de suppression doit etre en dehors du div pour s'afficher correctement #}
{% if 'evenement.delete_poste'  in perms %}
<div class="modal fade"
     id="modal-confirme-poste-supprime-{{ poste.UUID }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste_supprime"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmer La suppression du poste</h5>
            </div>
            <div class="modal-body">
                Etes-vous sur?
                <table class="table">
                    <tr><th>Equipe</th><td id="equipe">{{ Equipe.nom }}</td></tr>
                    <tr><th>Planning</th><td id="equipe">{{ Planning.nom }}</td></tr>
                    <tr><th>Poste</th><td id="poste_supprimer">{{ poste.nom }}</td></tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                <button type="submit" id="poste_supprimer_confirme" class="btn btn-danger success">Oui</button>
            </div>
        </div>
    </div>
</div>

<script>
    /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
    $('#modal-confirme-poste-supprime-{{ poste.UUID }}').on('click', '#poste_supprimer_confirme', function(e){
        /* alert('submitting-{{ forloop.counter }}'); */
        $('#form-poste-{{ poste.UUID }}').append('<input type="hidden" name="poste_supprimer" value="{{ poste.UUID }}">');
        document.getElementById('form-poste-{{ poste.UUID }}').submit();
        $('#modal-confirme-poste-supprime-{{ poste.UUID }}').modal('toggle');
        e.preventDefault();
    });

</script>
{% endif %}