{# evenement/bouton_poste_ajoute.html #}

<span class="poste-slot" aria-hidden="true" style="grid-row: poste-add; grid-column: postes;">
        <form  id="form-poste_ajouter" method='post'>
            {% csrf_token %}
            <button style=""
                    class="btn btn-primary btn-sm"
                    title="ajouter un poste"
                    id="bouton-poste_ajouter"
                    type="submit"
                    data-bs-toggle="modal"
                    data-bs-target="#modal-poste_ajouter">
                <div>
                    <i class="bi bi-plus-circle-fill"></i>
                </div>
            </button>
        </form>
    </button>
</span>

{# modal doit etre en dehors du div pour s'afficher correctement #}

<div class="modal fade"
     id="modal-poste_ajouter"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste_ajouter"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Ajout d'un poste</h5>
            </div>
            <form  id="form-poste" method='post'>
                <div class="modal-body">
            {# en cours + #}
                        {% csrf_token %}
                    <table class="table">

                        {{ FormPoste.as_table }}
                    </table>
            {# en cours - #}

                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <input name="planning" id="id_planning" value="{{ Planning.UUID_planning }}" type="hidden">
                    <input  name="equipe" value="{{ Equipe.UUID_equipe }}" type="hidden">
                    <input  name="planning" value="{{ Planning.UUID_planning }}" type="hidden">
                    
                    <input name="poste_ajouter" value="" type="hidden">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="poste_ajouter" class="btn btn-primary success">Ajouter</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    /* affiche le modal de confirmation quand appuie sur le bouton type=submit */
    $('#form-poste_ajouter').on('submit', function(e){
        /* alert('modal'); */
        $('#modal-poste_ajouter').modal('show');
        e.preventDefault();
    });

    /* quand le bouton Ajouter est utilisé dans modal, submit la form et ferme le modal */
    $(document).on('click', '#poste_ajouter', function () {
        /* alert('submitting-{{ forloop.counter }}'); */
        document.getElementById('form-poste').submit();
        $('#modal-poste_ajouter').modal('toggle');
    });
</script>
