{% extends 'evenement/planning_detail.html' %}
{% comment "" %}{% extends 'evenement/base.html' %}{% endcomment %}

{% load bootstrap5 %}

{% block poste %}

    <ul class="list-group">
        <li class="list-group-item">
            <a href={% url 'detail_planning' uuid_planning=Planning.UUID_planning %}>
                <H1> poste </H1>
            </a>
        </li>
    </ul>
    <ul class="list-group">
        <li class="list-group-item"><H2>{{ Poste.nom }}</H2></li>
        <li class="list-group-item">description : {{ Poste.description }}</li>
        
    </ul>

{% endblock poste %}

{% block creneau %}

    {% if Creneaux %}
        <ul class="list-group">
            <li class="list-group-item">
                <H1> creneaux </H1>
            </li>
        </ul>
        <ul class="list-group">

            {% for creno in Creneaux %}

                {#<a href={% url 'detail_creneau' uuid_creneau=creno.UUID_creneau %}></a>#}
                {#<H2>{{ creno.nom }}</H2>#}
            <li class="list-group-item">
                {% buttons %}
                    {% comment "" %}
                    <button class="btn btn-primary" \
                            type="button" data-bs-toggle="collapse" \
                            style="height:50px;width:200px" \
                            data-bs-target="#collapseCreneau{{ forloop.counter }}" \
                            aria-expanded="false" \
                            aria-controls="collapseCreneau{{ forloop.counter }}">
                    {{ creno.debut|date:'H:i' }}-{{ creno.fin|date:'H:i' }}
                    </button>
                    {% endcomment %}
                    <button class="list-group-item list-group-item-action active" \
                            type="button" data-bs-toggle="collapse" \
                            data-bs-target="#collapseCreneau{{ forloop.counter }}" \
                            aria-expanded="false" \
                            aria-controls="collapseCreneau{{ forloop.counter }}">
                    {{ creno.debut|date:'H:i' }}-{{ creno.fin|date:'H:i' }}
                    </button>
                {% endbuttons %}
            </li>
                <div class="collapse" id="collapseCreneau{{ forloop.counter }}">
                <div class="card card-body">
                    <ul class="list-group list-group-flush" style="font-size: 0.8em">
                        <li class="list-group-item">{{ creno.nom }}</li>
                        <li class="list-group-item"><b>debut :</b> {{ creno.debut }}</li>
                        <li class="list-group-item"><b>fin :</b> {{ creno.fin }}</li>
                        {% if creno.benevole_id %}
                            <li class="list-group-item">Profile benevole uuid : {{ creno.benevole_id }}</li>
                        {% endif %}
                    </ul>
                </div>
                </div>

            {% endfor %}
        </ul>
    {% endif %}

{% endblock creneau %}