{# evenement/bouton_poste_supprime.html #}

<div id="boutons des postes"
     class="poste-bouton-slot"
     aria-hidden="true"
     style="grid-row: poste-{{ poste.UUID_poste }}; grid-column: postes-boutons;">
    {# affiche le bouton de suppression de poste #}
    <form  id="form-poste-supprime-{{ poste.UUID_poste }}" method='post'>
        {% csrf_token %}
        <input name="poste_a_supprimer"
                id="poste_a_supprimer"
                value="{{ poste.UUID_poste }}"
                type="hidden">
        <button style=""
                class="btn btn-danger btn-sm"
                title="supprimer ce poste"
                id="bouton-poste-supprime-{{ poste.UUID_poste }}"
                type="button"
                {# onclick="return confirm('vous voulez vraiment le supprimer?');" #}
                data-bs-toggle="modal" 
                data-bs-target="#modal-confirme-poste-supprime-{{ poste.UUID_poste }}">
            <div>
                <i class="bi bi-dash-circle-fill"></i>
            </div>
        </button>
    </form>
</div>

{# modal de confirmation de suppression doit etre en dehors du div pour s'afficher correctement #}
<div class="modal fade"
     id="modal-confirme-poste-supprime-{{ poste.UUID_poste }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste_supprime"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmer La suppression du poste</h5>
            </div>
            <div class="modal-body">
                Etes-vous sur?
                <table class="table">
                    <tr><th>Equipe</th><td id="equipe">{{ Equipe.nom }}</td></tr>
                    <tr><th>Planning</th><td id="equipe">{{ Planning.nom }}</td></tr>
                    <tr><th>Poste</th><td id="poste_a_supprimer">{{ poste.nom }}</td></tr>
                </table>
            </div>

            <div class="modal-footer">
                <!--a href="#" id="submit" class="btn btn-danger success">Oui</a-->
                <button type="submit" id="bouton-confirme-poste-supprime-{{ poste.UUID_poste }}" class="btn btn-danger success">Oui</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
            </div>
        </div>
    </div>
</div>

<script>
    /* affiche le modal de confirmation quand appuie sur le bouton type=submit */
    $('#form-poste-supprime-{{ poste.UUID_poste }}').on('submit', function(e){
        $('#modal-confirme-poste-supprime-{{ poste.UUID_poste }}').modal('show');
        e.preventDefault();
    });

    /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
    $(document).on('click', '#bouton-confirme-poste-supprime-{{ poste.UUID_poste }}', function () {
        /* alert('submitting-{{ forloop.counter }}'); */
        document.getElementById('form-poste-supprime-{{ poste.UUID_poste }}').submit();
        $('#modal-confirme-poste-supprime-{{ poste.UUID_poste }}').modal('toggle');
    });
</script>