{% extends 'evenement/base.html' %}

{% block content %}
<div class="container-fluid">
    <div class="row" >
        <div class="col-sm" title="evenement"></div>
        <div class="col-sm" title="équipe"></div>
        <div class="col-sm" title="planning"></div>
        <div class="col-sm" title="poste">
            {% if Postes %}
                {% for poste in Postes %}
                        <div class="col-sm-6">
                            <a href={% url 'detail_poste' uuid_poste=poste.UUID_poste %}>
                            <H1>{{ poste.nom }}</H1>
                            </a>
                        </div>
                {% endfor %}

            {% else %}
                <p>il n'y a pas encore de poste créé pour ce planning.</p>
            {% endif %}
        </div>
        <div class="col-sm" title="creneau"></div>
    </div>
</div>
{% endblock content %}