{# evenement/poste_change_modals.html #}

{# modal d edition du poste doit etre en dehors du div pour s'afficher correctement #}
<div class="modal fade"
     id="modal-poste-change-{{ poste.UUID_poste }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste_change"
     aria-hidden="true">
    <div class="modal-dialog" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmer Le changement du poste</h5>
            </div>
            <form  id="form-poste"  method='post'>
                <div class="modal-body">
                    {% csrf_token %}
                    <table class="table">
                        {% for uuid, postef in DicPostes.items %}
                            {% if uuid|stringformat:"i" == poste.UUID_poste|stringformat:"i" %}
                                {{ postef.as_table }}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>

                <div class="modal-footer">
                    {# données pour garder le planning affiché apres submission POST#}
                    <input  name="uuid_evenement" value="{{ Evenement.UUID_evenement }}" type="hidden">
                    <input  name="uuid_equipe" value="{{ Equipe.UUID_equipe }}" type="hidden">
                    <input  name="uuid_planning" value="{{ Planning.UUID_planning }}" type="hidden">

                    <input  name="uuid_poste" value="{{ poste.UUID_poste }}" type="hidden">
                    <input name="poste_changer" value="" type="hidden">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
                    <button type="submit" id="poste_changer" class="btn btn-primary success">Modifier</button>
                </div>
            </form>
        </div>
    </div>
</div>

{# modal de confirmation de suppression doit etre en dehors du div pour s'afficher correctement #}
{% if 'evenement.delete_poste'  in perms %}
<div class="modal fade"
     id="modal-confirme-poste-supprime-{{ poste.UUID_poste }}"
     tabindex="-1"
     role="dialog"
     aria-labelledby="poste_supprime"
     aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document" style="z-index:1050">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Confirmer La suppression du poste</h5>
            </div>
            <div class="modal-body">
                Etes-vous sur?
                <table class="table">
                    <tr><th>Equipe</th><td id="equipe">{{ Equipe.nom }}</td></tr>
                    <tr><th>Planning</th><td id="equipe">{{ Planning.nom }}</td></tr>
                    <tr><th>Poste</th><td id="poste_a_supprimer">{{ poste.nom }}</td></tr>
                </table>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Non</button>
                <button type="submit" id="bouton-confirme-poste-supprime-{{ poste.UUID_poste }}" class="btn btn-danger success">Oui</button>
            </div>
        </div>
    </div>
</div>

<script>
    /* affiche le modal de confirmation quand appuie sur le bouton type=submit */
    $('#form-poste-supprime-{{ poste.UUID_poste }}').on('submit', function(e){
        $('#modal-confirme-poste-supprime-{{ poste.UUID_poste }}').modal('show');
        e.preventDefault();
    });

    /* quand le bouton OUI est utilisé dans modal, submit la form et ferme le modal */
    $(document).on('click', '#bouton-confirme-poste-supprime-{{ poste.UUID_poste }}', function(e){
        /* alert('submitting-{{ forloop.counter }}'); */
        document.getElementById('form-poste-supprime-{{ poste.UUID_poste }}').submit();
        $('#modal-confirme-poste-supprime-{{ poste.UUID_poste }}').modal('toggle');
        e.preventDefault();
    });

</script>
{% endif %}