{% extends 'evenement/base.html' %}

{% block content %}
<div class="row">
  <div class="column" style="background-color:#aaa;">
    <ul>
    <H1> poste : </H1>
    </ul>
    <ul>
        <a href={% url 'liste_creneaux' %}><H2>{{ Poste.nom }}</H2></a>
        <li>description : {{ Poste.description }}</li>
    </ul>
    <ul>
        <li>ici les details du poste</li>
    </ul>
  </div>
  <div class="column" style="background-color:#bbb;">
    <H1> creneaux : </H1>
    {% if Creneaux %}
        {% for creno in Creneaux %}
                <ul>
                    <a href={% url 'detail_creneau' uuid_creneau=creno.UUID_creneau %}>
                    <H2>{{ creno.nom }}</H2>
                </ul>
        {% endfor %}

    {% else %}
        <p>il n'y a pas encore de créneau créé pour ce poste.</p>
    {% endif %}
  </div>
</div>
{% endblock content %}