<!-- evenement/sidebar.html -->
{% load bootstrap5 %}
{% load filters_perso %}

<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse">
  <div class="position-sticky pt-3">

    {# si un evenement a été selectionné on affiche les equipes et planning dans la sidebar #}
    {% if Evenement.UUID %}
      {# liste équipes #}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Equipes: </span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column">
        {% if 'change_evenement'  in perms %} {# admins ont la liste de toutes les équipes #}
          <li class="nav-item">
            <form class="form evenement-form" method="post"> {# action pas selectionné donc meme self page #}
                <button class="list-group-item evenement-button {% if not equipe_uuid %}active{% endif %}" title="planning global">
                    <a>Toutes</a>
                    {% csrf_token %}
                    <input  name="evenement" value="{{ Evenement.UUID }}" type="hidden">
                </button>
            </form>
          </li>
        {% endif %}
        {% for team in Equipes %}
          <li class="nav-item">
            <form class="form evenement-form" method="post"> {# action pas selectionné donc meme self page #}
                {% csrf_token %}
                <input  name="evenement" value="{{ Evenement.UUID }}" type="hidden">
                <input  name="equipe" value="{{ team.UUID }}" type="hidden">
                <button class="list-group-item evenement-button 
                        {% if team.UUID|stringformat:'s' == equipe_uuid|stringformat:'s' %}active{% endif %}"
                        title={{ team.nom }}>
                    <a>{{ team.nom|capfirst }}</a>
                </button>
            </form>
          </li>
        {% endfor %}
      </ul>
      {# liste plannings #}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Plannings des équipes: </span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        {% for plan in Plannings %}
          {% if  plan.equipe_id|stringformat:'s' == equipe_uuid|stringformat:'s' %} {#on affiche que les planning de l'equipe #}
            <li class="nav-item">
              <form class="form evenement-form" method="post">
                {% csrf_token %}
                <input  name="evenement" value="{{ Evenement.UUID }}" type="hidden">
                <input  name="equipe" value="{{ plan.equipe_id }}" type="hidden"-->
                <input  name="planning" value="{{ plan.UUID }}" type="hidden">
                <button class="list-group-item evenement-button
                      {% if plan.UUID|stringformat:'s' == planning_uuid|stringformat:'s' %}active{% endif %}"
                      title={{ plan.nom }}>
                  <a>{{ plan.nom }}</a>
                </button>
              </form>
            </li>
          {% elif not equipe_uuid %} {#on affiche tous les planning de l'evenement #}
            <li class="nav-item">
              <form class="form evenement-form" method="post">
                {% csrf_token %}
                <input  name="evenement" value="{{ Evenement.UUID }}" type="hidden">
                <input  name="equipe" value="{{ plan.equipe_id }}" type="hidden"-->
                <input  name="planning" value="{{ plan.UUID }}" type="hidden">
                <button class="list-group-item evenement-button
                      {% if plan.UUID|stringformat:'s' == planning_uuid|stringformat:'s' %}active{% endif %}"
                      title={{ plan.nom }}>
                  <a>{{ plan.equipe.nom }} <i class="bi bi-chevron-right"></i> {{ plan.nom }} </a>
                </button>
              </form>
          {% endif %}
        {% endfor %}
      </ul>
    {# sinon si on a plusieurs evenement, on affiche les evenements dans la sidebar#}
    {% elif Evenements %}
      <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
        <span>Liste des évènements: </span>
        <a class="link-secondary" href="#" aria-label="Add a new report">
          <span data-feather="plus-circle"></span>
        </a>
      </h6>
      <ul class="nav flex-column mb-2">
        {% for event in Evenements %}
          <li class="nav-item">
            <form class="form evenement-form" method="get" action="{% url 'evenement' uuid_evenement=event.UUID %}">
              <button class="list-group-item evenement-button">
                <a>{{ event.nom }}</a>
              </button>
            </form>
          </li>
        {% endfor %}
      </ul>

    {# sinon pas encore d evenement il va faloir mettre un bouton pour en creer #}
    {% else %}
      <p>il n'y a pas encore d'évènement créé pour cette association.</p>
    {% endif %}


  </div>
</nav>
{# ajoute d'un planning #}
{% if 'evenement.add_planning' in perms %}
    {% include "evenement/planning_ajoute.html" %}
{% endif %}       
