<!-- administration/partials/sidebar.html -->

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar">
    <ul class="nav nav-pills flex-column mb-auto">
        <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
        data-bs-toggle="tooltip" data-bs-placement="right" title="{{ Text.nav_admin_h }}">
          <span class="fs-4">{{ Text.nav_admin }}</span>
        </a>
        <hr>{# saut de section#}
        {% include 'evenement/partials/evenement_status.html' %}
        <hr>{# saut de section#}
        <li class="nav-item customSideItem">
            <a href="{% url 'organization' %}" class="nav-link px-0 text-warning" title="{{Text.nav_admin_teams_h}}" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{Text.nav_admin_teams_h}}" onclick="loader()">
                <i class="fs-1 bi-calendar2-plus"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{Text.nav_admin_teams}}<span>
            </a>
        </li>
        <hr>{# saut de section#}
        {# tableau de bord #}
        <li class="nav-item customSideItem">
            <a href="{% url 'dashboard' %}" class="nav-link px-0 text-warning" title="{{Text.nav_dashboard_h}}" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{Text.nav_dashboard_h}}" onclick="loader()">
                <i class="bi-speedometer2 fs-1"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{Text.nav_dashboard}}<span>
            </a>
        </li>
        {# benevoles #}
        <li class="nav-item customSideItem">
            <a href="{% url 'benevoles_liste' %}" class="nav-link px-0 text-warning" title="{{Text.nav_volunteers_h}}" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{Text.nav_volunteers_h}}" onclick="loader()">
                <i class="bi-people fs-1"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{Text.nav_volunteers}}<span>
            </a>
        </li>
        {# creneaux #}
        <li class="nav-item customSideItem">
            <a href="{% url 'creneaux_liste' %}" class="nav-link px-0 text-warning" title="{{Text.nav_slots_h}}" 
            data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{Text.nav_slots_h}}" onclick="loader()">
                <i class="bi-calendar2-week fs-1"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{Text.nav_slots}}<span>
            </a>
        </li>
        <hr>{# saut de section#}
        {# edit evenement -> modal #}
        <li class="nav-item customSideItem" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-original-title="{{Text.evt_edit_h}}" >
            <a href="{% url 'creneaux_liste' %}" class="nav-link px-0 text-warning" title="{{Text.evt_edit_h}}" 
            data-bs-toggle="modal" data-bs-target="#edit-event" >
                <i class="bi-pencil-square fs-1"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{Text.evt_edit}}<span>
            </a>
        </li>
        <hr>{# saut de section#}
        {# aller a la page benevole #}
        <li class="nav-item customSideItem">
            <a href="{% url 'evenement' uuid_evenement=Evenement.UUID %}" class="nav-link px-0 text-warning" 
            title="{{ Text.back_volunteer_view_h}}" data-bs-toggle="tooltip" data-bs-placement="right" 
            data-bs-original-title="Icon-only" onclick="loader()">
                <i class="bi bi-backspace fs-1"></i><span class="ms-1 fs-5 d-none d-sm-inline">{{ Text.back_volunteer_view}}<span>
            </a>
        </li>
    </ul>
</div>
