<!-- benevole/base.html -->

{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>AYOULVAT</title>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <style>
      {# internal CSS pour dynamique #}
      {% include 'evenement/evenement.css.html'%}
  </style>
  {# ressources JQUERY #}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

  {% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
  {% bootstrap_messages %}
  <link rel="stylesheet" href="{% static 'css/ayoulvat.css' %}" type="text/css" />
</head>
<body class="override">

  {% include 'benevole/navbar.html'%}

  <div class="container">
      <div class="row">
        <div class="container">
          <div class="col-md-8 col-md-offset-2">
            {% block content %}{% endblock %}
          </div>
        </div>
      </div>
  </div>
   
   {% include "benevole/footer.html" %}

  {# debut : cookie consent #}
  <script src="{% static 'js/cookie.notice.js' %}"></script>
  {# fin : cookie consent #}

</body>
</html>