<!-- benevole/evenements.html : page principale du benevole -->
{# liste des evenements a venir #}

{# prepare les forms pour acceder aux evenements#}
{% for EV in Evenements_inscrit %}
    <form action="{% url 'evenement' uuid_evenement=EV.UUID %}" method='POST' id="inscrit_{{ EV.UUID }}">
        {% csrf_token %}
        {# par defaut, on arrive sur le planning perso du benevole #}
        <!--input type="hidden" name="planning_perso" value="oui"--> 
    </form>
{% endfor %}

{% if Evenements_inscrit %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    {{Text.events_yours}}
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="container">
        <div class="row align-items-end">
            <p>{{Text.events_yours_h}}</p>
        </div>
    </div>   

    {# on va creer une carte par evenement à venir ou en cours où le benevole est enregistré #}

    <div class="container mx-auto mt-4">
        <div class="row">            
            {% for EV in Evenements_inscrit %}
                <div class="col-md-4">
                    <div class="card card-inscrit" style="">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="inscrit_{{ EV.UUID }}" title="aller vers {{ EV }}" onclick="loader()">
                            {% if EV.vignette %}
                            <img src="{{ EV.vignette.url }}" class="card-img-top">
                            {% else %}
                            <img src="media/empty.jpg" class="card-img-top">
                            {% endif %}
                        </button>
                        <div class="card-body">
                            <h5 class="card-title">{{ EV.nom }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">association: {{ EV.association }}</h6>
                            <p class="card-text">
                                {{Text.events_evt_begin}} {{ EV.debut|date:'D, d F Y' }}<br>
                                {{Text.events_evt_end}} {{ EV.fin|date:'D, d F Y' }}</p>
                            <p class="card-text">{{ EV.description }}</p>
                        </div>
                        <div class="card-footer">
                            <form action="#" method='POST' id="select_asso-{{EV.UUID}}">

                                <button type="submit" class="btn card-btn-evt mr-2 " name="evenement-{{ EV }}" form="inscrit_{{ EV.UUID }}" 
                                    style="float: left;" title="aller vers {{ EV }}" onclick="loader()">
                                    evenement
                                </button>

                                {# construit nos forms #}
                                {% for a in Ev_ass_par_benevole %} {# a les inscriptions du benevoles aux evenements#}
                                {#{ a.profilebenevole }} | {{ a.evenement }} | {{ a.asso_part }#}
                                    {% if a.evenement == EV %} {# si notre benevole est inscrit a cet evenement#}
                                        {# prepare la form pour selectionner son asso #}
                                        {# les asso partenaires #}


                                        {% csrf_token %}
                                        <input type="hidden" name="evenement" value="{{EV.UUID}}">
                                        <input type="hidden" name="asso_perso_change" value="">
                                        {% if EV.assopartenaire.all %}
                                            {# affiche le bouton de selection d'asso que si admin en selectionne des assos parteniares#}
                                            <button type="button" class="btn card-btn-evt dropdown-toggle dropdown-toggle-split" form="select_asso-{{EV.UUID}}"
                                                style="float: right;" title="{{Text.events_assoperso}} {{EV.nom}}" data-bs-toggle="dropdown" aria-expanded="false">
                                            {% if a.asso_part %} {{a.asso_part.nom}} {% else %} {{ Text.events_select_asso }} {% endif %}
                                            </button>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                                                {# les asso partenaires de l evenement#}
                                                {% for assopart in EV.assopartenaire.all|dictsort:"nom" %}
                                                    {#{ assopart.nom }} {{ assopart.UUID }} : {{ a.asso_part.nom }} {{ a.asso_part.UUID }#}
                                                    {% if assopart == a.asso_part %}
                                                        <button class="dropdown-item active" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="{{assopart.UUID}}">{{assopart|capfirst}}</button>
                                                    {% else %}
                                                        <button class="dropdown-item" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="{{assopart.UUID}}">{{assopart|capfirst}}</button>
                                                    {% endif %}
                                                {% endfor %}
                                                <button class="dropdown-item" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="">{{ Text.events_no_asso }}</button>
                                            </ul>
                                        {% endif %}

                                    {% endif %}
                                {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}

        </div>
    </div>


{% endif %}

{# prepare les forms pour s inscrire aux evenements#}
{% for EV in Evenements_disponible %}
    <form action="#" method='POST' id="dispo_{{ EV.UUID }}">
        {% csrf_token %}
        <input type="hidden" name="inscription_event" value="{{ EV.UUID }}"> 
    </form>
{% endfor %}

{% if Evenements_disponible %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    {{Text.events_not_yours}}
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="container">
        <div class="row align-items-end">
            <p>{{Text.events_not_yours_h}}</p>
        </div>
    </div>   

    {# on va creer une carte par evenement à venir ou le benevole n est pas inscrit  #}
    <div class="container mx-auto mt-4">
        <div class="row">            
            {% for EV in Evenements_disponible %}
                <div class="col-md-4">
                    <div class="card card-dispo" style="">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="dispo_{{ EV.UUID }}" 
                            title="devenir bénévole à {{ EV }} et accéder à l'evenement" onclick="loader()">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="devenir bénévole à {{ EV }} et accéder à l'evenement">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="devenir bénévole à {{ EV }} et accéder à l'evenement">
                            {% endif %}
                        </button>

                        <div class="card-body">
                            <h5 class="card-title">{{ EV.nom }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">association: {{ EV.association }}</h6>
                            <p class="card-text">
                                {{Text.events_evt_begin}} {{ EV.debut|date:'D, d F Y' }}<br>
                                {{Text.events_evt_end}} {{ EV.fin|date:'D, d F Y' }}</p>
                            <p class="card-text">{{ EV.description }}</p>
                        </div>

                        <div class="card-footer">

                            <button type="submit" class="btn card-btn-evt mr-2 " name="evenement-{{ EV }}" form="dispo_{{ EV.UUID }}" 
                                    title="devenir bénévole à {{ EV }} et accéder à l'evenement"
                                    style="float: left;" onclick="loader()">
                                    s'inscrire
                            </button>
                        </div>

                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endif %}
