<!-- benevole/evenements.html : page principale du benevole -->


<div class="row card card-default">
    <div class="card-header">{{Text.events_welcome}} {% if user.last_name or user.first.name %}{{ user.first_name|capfirst }} {{ user.last_name|upper }}{% else %}{{ user.username }}{% endif %} !</div>
    <div class="card-body">
        {{Text.events_welcome_2}}<br>
        {{Text.events_retour}}<br>
        {{Text.events_profile}}<br><br>
        {{Text.events_list}}
    </div>
</div>

{# prepare les forms pour acceder aux evenements#}
{% for EV in Evenements_inscrit %}
    <form action="{% url 'evenement' uuid_evenement=EV.UUID %}" method='POST' id="inscrit_{{ EV.UUID }}">
        {% csrf_token %}
        {# par defaut, on arrive sur le planning perso du benevole #}
        <!--input type="hidden" name="planning_perso" value="oui"--> 
    </form>
{% endfor %}


{% if Evenements_inscrit %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    {{Text.events_yours}}
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="container">
        <div class="row align-items-end">
            <p>{{Text.events_yours_h}}</p>
        </div>
    </div>   

    {# on va creer une carte par evenement à venir ou le benevole est enregistré #}
    <div class="evts_inscrit">
        <div class="container overflow-hidden">
            <div class="row gy-5 gx-5" style="margin-top: 0px;">
                {% for EV in Evenements_inscrit %}
                    {# affiche dans la liste des evenements à venir ou en cours #}
                    <div class="col-sm-4">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="inscrit_{{ EV.UUID }}" title="aller vers {{ EV }}" onclick="loader()">
                            <div class="card h-100 card-inscrit">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="aller vers {{ EV }}">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="aller vers {{ EV }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ EV.nom }}</h5>
                                <p class="card-text">
                                    {{Text.events_evt_begin}} {{ EV.debut|date:'D, d F Y' }}<br>
                                    {{Text.events_evt_end}} {{ EV.fin|date:'D, d F Y' }}</p>
                                <p class="card-text">{{ EV.description }}</p>
                                {# <button type="button" class="btn btn-danger">Désinscription</button> #}
                            </div>
                        </button>

                        <div class="card-footer">
                            <p class="card-text">
                                {#{ EV.benevole.all }} {{ user.profilebenevole }} {{ Ev_ass_par_benevole }#}
                                {% for a in Ev_ass_par_benevole %} {# a les inscriptions du benevoles aux evenements#}
                                    {#{ a.profilebenevole }} | {{ a.evenement }} | {{ a.asso_part }#}
                                    {% if a.evenement == EV %} {# si notre benevole est inscrit a cet evenement#}
                                    {{Text.events_assoperso}} <b>{{EV.nom}}</b>:{#{ a.asso_part }#}
                                        {# prepare la form pour selectionner son asso #}
                                        {# les asso partenaires #}
                                        <form action="#" method='POST' id="select_asso-{{EV.UUID}}">
                                            {% csrf_token %}
                                            <input type="hidden" name="evenement" value="{{EV.UUID}}">
                                            <input type="hidden" name="asso_perso_change" value="">

                                            <div class="btn-group assos-button" >
                                                <button type="button" class="btn btn-warning btn-lg dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                                                    {{Text.events_yourasso}}
                                                </button>
                                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" >
                                                    {# les asso partenaires de l evenement#}
                                                    {% for assopart in EV.assopartenaire.all %}
                                                        {#{ assopart.nom }} {{ assopart.UUID }} : {{ a.asso_part.nom }} {{ a.asso_part.UUID }#}
                                                        {% if assopart == a.asso_part %}
                                                            <button class="dropdown-item active" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="{{assopart.UUID}}">{{assopart}}</button>
                                                        {% else %}
                                                            <button class="dropdown-item" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="{{assopart.UUID}}">{{assopart}}</button>
                                                        {% endif %}
                                                    {% endfor %}
                                                        {% if a.asso_part == None %}
                                                            <button class="dropdown-item active" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="">aucune</button>
                                                        {% else %}
                                                            <button class="dropdown-item" type="submit" form="select_asso-{{EV.UUID}}" name="asso_perso" value="">aucune</button>
                                                        {% endif %}
                                                </ul>
                                            </div>

                                        </form>
                                        {% endif %}
                                {% endfor %}

                            </p>

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{# prepare les forms pour s inscrire aux evenements#}
{% for EV in Evenements_disponible %}
    <form action="#" method='POST' id="dispo_{{ EV.UUID }}">
        {% csrf_token %}
        <input type="hidden" name="inscription_event" value="{{ EV.UUID }}"> 
    </form>
{% endfor %}

{% if Evenements_disponible %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    {{Text.events_not_yours}}
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="container">
        <div class="row align-items-end">
            <p>{{Text.events_not_yours_h}}</p>
        </div>
    </div>   

    {# on va creer une carte par evenement à venir ou le benevole n est pas inscrit  #}
    <div class="evts_dispo">
        <div class="container overflow-hidden">
            <div class="row gy-5 gx-5" style="margin-top: 0px;">
                {% for EV in Evenements_disponible %}
                    {# affiche dans la liste que les evenements à venir ou en cours #}
                    <div class="col-sm-4">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="dispo_{{ EV.UUID }}" title="devenir bénévole à {{ EV }} et accéder à l'evenement" onclick="loader()">
                            <div class="card h-100 card-dispo">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="devenir bénévole à {{ EV }} et accéder à l'evenement">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="devenir bénévole à {{ EV }} et accéder à l'evenement">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ EV.nom }}</h5>
                                <p class="card-text">
                                    {{Text.events_evt_begin}} {{ EV.debut|date:'D, d F Y' }}<br>
                                    {{Text.events_evt_end}} {{ EV.fin|date:'D, d F Y' }}</p>
                                <p class="card-text">{{ EV.description }}</p>
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}
