<!-- benevole/evenements.html : page principale du benevole -->


<div class="row card card-default">
    <div class="card-header">Bienvenue {% if user.last_name or user.first.name %}{{ user.first_name|capfirst }} {{ user.last_name|upper }}{% else %}{{ user.username }}{% endif %} !</div>
    <div class="card-body">
        Bienvenue sur le site AYOULVAT. Tu vas pouvoir t'inscrire comme bénévole sur des évènements.<br>
        Pour revenir sur cette page click sur "home" dans la barre du haut. <br>
        Pour éditer tes informations, click sur "mon profil" dans la barre du haut.<br><br>
        Choisis un evenement dans la liste ci-dessous pour y participer.
    </div>
</div>

{# prepare les forms pour acceder aux evenements#}
{% for EV in Evenements_inscrit %}
    <form action="{% url 'evenement' uuid_evenement=EV.UUID %}" method='POST' id="{{ EV.UUID }}">
        {% csrf_token %}
        {# par defaut, on arrive sur le planning perso du benevole #}
        <input type="hidden" name="planning_perso" value="oui"> 
    </form>
{% endfor %}


{% if Evenements_inscrit %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    Les évènements aux quels tu participes
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    {# on va creer une carte par evenement à venir ou le benevole est enregistré #}
    <div class="evts_inscrit">
        <div class="container overflow-hidden">
            <div class="row gy-5 gx-5" style="margin-top: 0px;">
                {% for EV in Evenements_inscrit %}
                    {# affiche dans la liste que les evenements à venir ou en cours #}
                    <div class="col">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="{{ EV.UUID }}" title="aller vers {{ EV }}">
                            <div class="card h-100">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="aller vers {{ EV }}">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="aller vers {{ EV }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ EV.nom }}</h5>
                                <p class="card-text">
                                    du : {{ EV.debut|date:'D, d F Y' }}<br>
                                    au : {{ EV.fin|date:'D, d F Y' }}</p>
                                <p class="card-text">{{ EV.description }}</p>
                                {# <button type="button" class="btn btn-danger">Désinscription</button> #}
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}

{# prepare les forms pour s inscrire aux evenements#}
{% for EV in Evenements_disponible %}
    <form action="#" method='POST' id="{{ EV.UUID }}">
        {% csrf_token %}
        <input type="hidden" name="inscription_event" value="{{ EV.UUID }}"> 
    </form>
{% endfor %}

{% if Evenements_disponible %}
    <div class="container">
        <div class="row align-items-end">
            <div class="col-md-12">
                <h2 style="margin-top: 2em;" data-bs-toggle="tooltip" data-bs-placement="top" 
                    title="les évènements">
                    Les évènements à venir
                </h2>
            </div>
        </div>
    </div>    
    <hr class="border-2 border-top border-dark"> {# barre horizontale #}

    <div class="container">
        <div class="row align-items-end">
            <p>Choisis ceux aux quels tu veux participer: </p>
        </div>
    </div>   

    {# on va creer une carte par evenement à venir ou le benevole n est pas enregistré  #}
    <div class="evts_dispo">
        <div class="container overflow-hidden">
            <div class="row gy-5 gx-5" style="margin-top: 0px;">
                {% for EV in Evenements_disponible %}
                    {# affiche dans la liste que les evenements à venir ou en cours #}
                    <div class="col">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="{{ EV.UUID }}" title="cliques si tu veux etre bénévole à {{ EV }}">
                            <div class="card h-100">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="cliques si tu veux etre bénévole à {{ EV }}">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="cliques si tu veux etre bénévole à {{ EV }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ EV.nom }}</h5>
                                <p class="card-text">
                                    du : {{ EV.debut|date:'D, d F Y' }}<br>
                                    au : {{ EV.fin|date:'D, d F Y' }}</p>
                                <p class="card-text">{{ EV.description }}</p>
                            </div>
                        </button>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endif %}