<!-- benevole/footer.html -->
<footer style="padding-top: 1em;">
    <div class="container">
        <div class="row card footer sl-t">
            <div class="card-body row ">
                <div class="col-lg-8 col-md-8 left">
                    {% if Evenement %} 
                        <p>besoins d'aide? un renseignement?</p>
                        <p style="padding-left: 15%;"><a href="mailto:{{ Evenement.courriel_responsable }}" target="_blank">
                        <i class="bi bi-envelope-fill" style="font-size: 2rem; color: cornflowerblue;"></i></p></a>
                    {% endif %}
                </div>
                {% comment "" %}
                <div class="col-lg-2 col-md-2 right"> 
                    <p>Developpé par:</p>
                    <p><a href="mailto:bhouba@zohomail.eu" target="_blank">Phil Rioual</a></p>
                </div>
                {% endcomment %}
                <div class="col-lg-4 col-md-4 right">
                    <p>Developpé par: <a href="mailto:bhouba@zohomail.eu" target="_blank">Phil Rioual</a></p>
                    <p class="m-t">Copyright &copy <a href="mailto:bhouba@zohomail.eu" target="_blank">Phil Rioual</a> 2021</p>
                    <p>All Rights Reserved.</p>
                    <p></p>
                    <p>Powered by <a href="https://www.djangoproject.com/" target="_blank">Django Framewok</a></p>
                </div>
            </div>
        </div>
    </div>
</footer>