<!-- templates/benevole/footer.html -->
<footer>
    <div class="container">
        <div class="row well ml-t">
            <div class="col-lg-8 col-md-8">    
                <h4>Developed by: <a href="" target="_blank">Phil Rioual</a></h4>
            </div>
            <div class="col-lg-4 col-md-4">
                <p class="m-t">Copyright &copy <a href=""" target="_blank">bhouba@gmail.com</a> 2021</p>
                <p>All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>