<!-- benevole/footer.html -->
<footer class="bg-light text-center text-lg-start fixed-bottom pied ">

            <div class="row ">
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"> 
                    {# espace vide derriere la sidebar#}
                </div>

                <!--div class="col-lg-4 left"-->
                <div class="col-auto col-md-3 col-xl-4 px-sm-2 px-0"> 
                    {% if Evenement %} 
                        {% if Evenement.commentaire %}
                            <p style="margin-bottom: inherit;">{{ Evenement.commentaire }}
                        {% else %}
                            <p style="margin-bottom: inherit;">besoins d'aide? un renseignement?
                        {% endif %}
                        <br>
                        <a href="mailto:{{ Evenement.courriel_organisateur }}" style="padding-left: 15%;" target="_blank">
                        <i class="bi bi-envelope-fill" style="font-size: 2rem; color: cornflowerblue;"></i></p></a>
                    {% endif %}
                </div>

                <!--div class="col-lg-4 d-flex align-items-center"-->
                <div class="col-auto col-md-3 col-xl-4 px-sm-2 px-0">  
                    <!--div class="row align-items-center">
                    <p><b> site en développement, 
                        en cas de soucis merci d'envoyer un mail: <br>
                        <p style="text-align: center;"><a href="mailto:phil@deusta.bzh" target="_blank">
                        <i class="bi bi-envelope-fill" style="font-size: 2rem; color: cornflowerblue;"></i></p></a>  </b></p>
                    </div-->
                </div>

                <!--div class="col-lg-2 right"-->
                <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 right"> 
                    <p>Developpé par: <a href="mailto:bhouba@zohomail.eu" target="_blank">Phil Rioual</a><br>
                    All Rights Reserved.<br>
                    Powered by <a href="https://www.djangoproject.com/" target="_blank">Django Framewok</a></p>
                </div>
            </div>

    <!-- Copyright -->
    <div class="text-center p-1" style="background-color: rgba(0, 0, 0, 0.2);">
        <p class="m-t">Copyright {% now 'Y' %} &copy <a href="mailto:Gizhm0@protonmail.com" target="_blank">Phil Rioual</a></p>
    </div>
    <!-- Copyright -->
</footer>