<div class="row card card-default">
    <div class="card-header">Bienvenue {% if user.last_name or user.first.name %}{{ user.first_name|capfirst }} {{ user.last_name|upper }}{% else %}{{ user.username }}{% endif %} !</div>
    <div class="card-body">

        présentation du site et je suis content de te voir toi!

    </div>
</div>

{# on va creer une carte par evenement ou le benevole est enregistré #}
<div class="evenements">
    <div class="container overflow-hidden">
        <div class="row gy-5 gx-5" style="margin-top: 0px;">
            {% for EV in Evenements %}
            <div class="col">
                <div class="row card card-default">
                    <div class="card-header">{{ EV.nom }}</div>
                    <div class="card-body">
                        
                        {% if EV.vignette %}
                            <img src="{{ EV.vignette.url }}" style="max-width: 100%;max-height: 100%;">
                        {% else %}
                            < vignette >
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
