<!-- benevole/home.html : page par default du site -->
{% extends 'benevole/base.html' %}

{% block content %}

    {% if user.is_authenticated %}{# deja connecté #}
      {% if Administrateur %}
        {# admin connecté arrive sur sa liste d assos #}
        {% include 'association/associations_liste.html' %}
      {% else %}
        {# benevole connecté arrive sur la liste de evenements #}
        {% include 'benevole/evenements.html'%}
      {% endif %}
    {% else %}{# pas authentifié #}
      {% include 'benevole/connexion.html'%}
    {% endif %}
    <br>
    <br>
{% endblock %}
