<!-- benevole/homepage.html : page principale du benevole -->
<div class="row card card-default">
    <div class="card-header">Bienvenue {% if user.last_name or user.first.name %}{{ user.first_name|capfirst }} {{ user.last_name|upper }}{% else %}{{ user.username }}{% endif %} !</div>
    <div class="card-body">
        Bienvenue sur le site AYOULVAT. Tu vas pouvoir t'inscrire comme bénévole sur des évènements.<br>
        Pour revenir sur cette page click sur "home" dans la barre du haut. <br>
        Pour éditer tes informations, click sur "mon profile" dans la barre du haut.<br><br>
        Choisis un evenement dans la liste ci-dessous pour y participer.
    </div>
</div>

{# prepare les forms pour acceder aux evenements#}
{% for EV in Evenements %}
    <form action="{% url 'evenement' uuid_evenement=EV.UUID %}" method='POST' id="{{ EV }}">
        {% csrf_token %}
        {# par defaut, on arrive sur le planning perso du benevole #}
        <input type="hidden" name="planning_perso" value="oui"> 
    </form>
{% endfor %}
{# on va creer une carte par evenement ou le benevole est enregistré #}
<div class="evenements">
    <div class="container overflow-hidden">
        <div class="row gy-5 gx-5" style="margin-top: 0px;">
            {% for EV in Evenements %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <button type="submit" class="bouton-evenement" name="evenement-{{ EV }}" form="{{ EV }}" title="vers {{ EV }}">
                            <div class="card h-100">
                            {% if EV.vignette %}
                                <img src="{{ EV.vignette.url }}" class="card-img-top" alt="vers {{ EV }}">
                            {% else %}
                                <img src="media/empty.jpg" class="card-img-top" alt="vers {{ EV }}">
                            {% endif %}
                            <div class="card-body">
                                <h5 class="card-title">{{ EV.nom }}</h5>
                                <p class="card-text">{{ EV.description }}</p>
                            </div>
                        </button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
