<!-- templates/benevole/inscription.html -->
{% extends 'benevole/base.html' %}
{% load bootstrap5 %}

{% block title %}Inscription{% endblock %}

{% block content %}
<form method="post">
  <div class="row card card-default">
    <div class="card-header">Inscription</div>
    <div class="card-body">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
          <button type="submit" class="btn btn-primary btn-lg">Inscription</button>
        {% endbuttons %}
    </div>
  </div>
</form>
{% endblock %}
