<!-- benevole/navbar.html -->
{% load bootstrap5 %}
<form id="nav_bar" method='GET'>
  {% csrf_token %}
  <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap shadow">
      <div class="navbar-brand col-md-3 col-lg-2 me-0 px-3">
        {% if Evenement %}
          {% if Evenement.vignette %}<img src="{{ Evenement.vignette.url }}" style="max-width: 40px;max-height: 40px;">{% endif %}
          {% if 'Administrateur' in RolesUtilisateur or 'Organisateur' in RolesUtilisateur %}<a  href="{% url 'liste_evenements' %}">{{ Association.nom }}</a>{% endif %}
          {%if Evenement.nom%}<a> {% if 'Administrateur' in RolesUtilisateur or 'Organisateur' in RolesUtilisateur %}<i class="bi bi-chevron-right"></i>{% endif %} {{ Evenement.nom }}</a>{%endif%}
        {% elif Association %}
          <a  href="{% url 'detail_asso' uuid_asso=Association.UUID %}" 
            data-bs-toggle="tooltip" data-bs-html="true" data-bs-placement="bottom" title="détails de l'association">
            {{ Association.nom|upper }}</a>
        {% else %}
          AYOULVAT
        {% endif %}
      </div>
      
    {% if user.is_authenticated %}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link">Bienvenue {%if request.user.first_name%}{{ request.user.first_name|capfirst }}{%endif%}</a>
        </li>
      </ul>

      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          {# si l evenment est bloqué ou pas ouvert aux inscriptions , on affiche#}
          {% if Evenement and not Evenement.editable %}
            <div class="btn-group me-2">
              <button type="submit" id="profile" class="btn btn-sm btn-outline-danger"
                formaction=""
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="L'administrateur n'a pas encore ouvert les inscriptions">
                Evènement bloqué</button>
            </div>
          {# si les inscriptions à l evenements n ont pas commencees , on affiche#}
          {% elif Evenement and EvtOuvertBenevoles|stringformat:"s" == '0'%}
            <div class="btn-group me-2">
              <button type="submit" id="profile" class="btn btn-sm btn-outline-warning"
                formaction="{% url 'evenement' uuid_evenement=Evenement.UUID %}"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="les inscriptions ouvrirons le {{Evenement.inscription_debut}}">
                Inscriptions à Venir</button>
            </div>
          {# si les inscriptions à l evenements sont en cours , on affiche#}
          {% elif Evenement and EvtOuvertBenevoles|stringformat:"s" == '1'%}
            <div class="btn-group me-2">
              <button type="submit" id="profile" class="btn btn-sm btn-outline-success"
                formaction="{% url 'evenement' uuid_evenement=Evenement.UUID %}"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="les inscriptions seront closes le {{Evenement.inscription_fin}}">
                Inscriptions En Cours</button>
            </div>
          {# si les inscriptions à l evenements sont terminees , on affiche#}
          {% elif Evenement and EvtOuvertBenevoles|stringformat:"s" == '2'%}
            <div class="btn-group me-2">
              <button type="submit" id="profile" class="btn btn-sm btn-outline-danger"
                formaction="{% url 'evenement' uuid_evenement=Evenement.UUID %}"
                data-bs-toggle="tooltip" data-bs-placement="bottom" title="les inscriptions sont closes depuis le {{Evenement.inscription_fin}}">
                Inscriptions Closes</button>
            </div>
          {% endif %}
        </li>
      </ul>

      <ul class="navbar-nav px-3">
        {% comment "exemple menu déroulant" %}
          <li class="nav-item dropdown">
              <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
                Administration
              </button>
              <ul class="dropdown-menu dropdown-menu-dark position-absolute" aria-labelledby="dropdownMenu">
                <li><a class="dropdown-item" href="{% url 'benevoles_liste' %}">Liste des bénévoles</a></li>
                <li><a class="dropdown-item" href="{% url 'benevole_ajoute' %}">Ajouter un bénévole</a></li>
                <li><a class="dropdown-item" href="{% url 'benevole_edite' %}">Editer un bénévole</a></li>
                <li><a class="dropdown-item" href="{% url 'benevole_supprime' %}">supprimer un bénévole</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Action</a></li>
              </ul>
          </li>
        {% endif %}
        {% endcomment %}
      </ul>
    {% endif %}

    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        {% if user.is_authenticated %}
        <div class="btn-group me-2">
          <button type="submit" id="profile" class="btn btn-sm btn-outline-secondary"
            formaction="{% url 'home' %}">Evenements</button>
        </div>
        <div class="btn-group me-2">
          <button type="submit" id="profile" class="btn btn-sm btn-outline-secondary"
            formaction="{% url 'profile' %}">Mon Profil</button>
        </div>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'logout' %}">Déconnexion</a>
        {% else %}
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'login' %}">connexion</a>
        {% endif %}
      </li>
    </ul>
  </header>                                                 
</form>

<script>
  /* passage des infos POST liées à l'appui sur les boutons */
  {% if Evenement and user.profilebenevole in Benevoles %}
    $('#boutons_navbar').on('click', '#planning_perso', function(e){
      /* alert('planning perso'); */
      $('#nav_bar').append('<input type="hidden" name="planning_perso" value="oui">');
      /*e.preventDefault(); */
    });
  {% endif %}
</script>
