<!-- benevole/profile.html -->
{% extends 'benevole/base.html' %}
{% load bootstrap5 %}

{% block title %}Profile{% endblock %}

{% block content %}
<form  id="form-profile"  method='post'>
  <div class="row card card-default">
    <div class="card-header">Mon Profile</div>
    <div class="card-body">
        <div class="modal-body">
            {% csrf_token %}
            <table class="table">
              {{ FormPersonne.as_table }}
              {{ FormBenevole.as_table }}
            </table>
          <input type="hidden" name="username" value="{{ user.username }}">
          <input type="hidden" name="personne" value="{{ user.UUID }}">
          {% if FormPersonne.last_name%} {# si le benevole a déjà renseigné son profile alors il n'est pas obligé de modifier son profile #}
            <button type = "button" class="btn btn-secondary"  onclick="history.back()">Retour</button>
            <button type="submit" class="btn btn-primary" id="profile">Modifier</button>
          {%else%} {# sinon ild doit renseigner son profile #}
          <button type="submit" class="btn btn-primary" id="profile">Valider</button>
          {%endif%}
          
        </div>
    </div>
  </div>
</form>
{% endblock %}