<!-- benevole/profile.html -->
{% extends 'benevole/base.html' %}
{% load bootstrap5 %}

{% block title %}Profile{% endblock %}

{% block content %}
<form  id="form-profile"  method='post'>
  <div class="row card card-default">
    <div class="card-header">Mon Profile</div>
    <div class="card-body">
        <div class="modal-body">
            {% csrf_token %}
            <table class="table">
              {{ FormPersonne.as_table }}
              {{ FormBenevole.as_table }}
            </table>
          <input type="hidden" name="username" value="{{ user.username }}">
          <input type="hidden" name="personne" value="{{ user.UUID }}">
          <button type="submit" id="profile" class="btn btn-primary success">Modifier</button>
        </div>
    </div>
  </div>
</form>
{% endblock %}