<!-- benevole/profil.html -->
{% extends 'benevole/partials/base.html' %}
{% load bootstrap5 %}

{% block title %}{{Text.profile_block}}{% endblock %}

{% block content %}
  <div class="mb-3 overflow-auto">
    <form  id="form-profile"  method='post'>
      {% csrf_token %}
      <table class="table " style="text-align: left;">
        {{ FormPersonne.as_table }}
        {{ FormBenevole.as_table }}
      </table>
      <input type="hidden" name="username" value="{{ user.username }}">
      <input type="hidden" name="personne" value="{{ user.UUID }}">
      {% if user.last_name %} {# si le benevole a déjà renseigné son profile alors il n'est pas obligé de modifier son profile #}
        <button type = "button" class="btn btn-secondary"  onclick="history.back()">{{Text.back}}</button>
        <button type="submit" class="btn btn-primary" id="profile" onclick="loader()">{{Text.record}}</button>
      {%else%} {# sinon il doit renseigner son profile #}
        <button type="submit" class="btn btn-primary" id="profile" onclick="loader()">{{Text.validate}}</button>
      {%endif%}
    </form>
  </div>
{% endblock %}
